
.checkout_button {
 width: 150,
 height: 30,
 }
 .pay_button {
 width: 150,
 height: 30,
 }
.close_ {
display:none!important;
}
.hidden_iframe.open {
    height: 816px!important;
    width: 759px!important;
    margin-bottom: 52px;
}