<?php
$searchInit = [
    'cleverBrands' => [
        'brand.search' => [
            'brandUrl'  => $this->getUrl('brand/index/searchBrands'),
            'noResults' => __('No brand matches your input'),
            'resultsS'   => __('There is %1 result.'),
            'resultsP'   => __('There are %1 results.')
        ]
    ]
];
?>
<div class="brand-search-wrap" data-mage-init='<?= json_encode($searchInit) ?>'>
    <div class="brand-form" data-role="brand-form">
        <label class="search-label"></label>
        <input data-role="brand_label" placeholder="<?= __('Search brand here') ?>" type="text" class="input-text search-input" />
        <div data-role="list-wrap" class="list-wrap"></div>
    </div>
</div>