
<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View\Description
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
$_call = $block->getAtCall();
$_code = $block->getAtCode();
$_className = $block->getCssClass();
$_attributeLabel = $block->getAtLabel();
$_attributeType = $block->getAtType();
$_attributeAddAttribute = $block->getAddAttribute();
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');

if ($_attributeLabel && $_attributeLabel == 'default') {
    $_attributeLabel = $_product->getResource()->getAttribute($_code)->getFrontendLabel();
}
if ($_attributeType && $_attributeType == 'text') {
    $_attributeValue = ($_helper->productAttribute($_product, $_product->$_call(), $_code)) ? $_product->getAttributeText($_code) : '';
} else {
    $_attributeValue = $_helper->productAttribute($_product, $_product->$_call(), $_code);
}
?>
<?php if($_attributeValue): ?>
	<?php if($_className == 'overview'): ?>
		<?php if($themeHelper->getStoreConfig('mpanel/product_details/short_description')): ?>
			<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
				<?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
				<div class="value std" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></div>
			</div>
		<?php endif; ?>
	<?php elseif($_className == 'sku'): ?>
		<?php if($themeHelper->getStoreConfig('mpanel/product_details/sku')): ?>
			<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
				<?php if ($_attributeLabel != 'none'): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
				<span class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></span>
			</div>
		<?php endif; ?>
	<?php else: ?>
		<div class="product attribute <?php /* @escapeNotVerified */ echo $_className?>">
			<?php if ($_attributeLabel != 'none' || $_attributeLabel != __('none')): ?><strong class="type"><?php /* @escapeNotVerified */ echo $_attributeLabel?></strong><?php endif; ?>
			<span class="value" <?php /* @escapeNotVerified */ echo $_attributeAddAttribute;?>><?php /* @escapeNotVerified */ echo $_attributeValue; ?></span>
		</div>
	<?php endif ?>
<?php endif ?>
<!-- static block in product detail page -->
<div class="shravan-static">
<table>
<tbody>
<tr>
<td><img style="height: 24px;widht: 20px;margin: 12px;margin-left: 25px;margin-right: 0px;" src="https://www.saksooka.com/pub/media/wysiwyg/shield.png">
</td><td style="color:#182444;">منتجات اصلية و غير مقلدة</td></tr></tbody>
</table>
<table>
<tbody>
<tr>
<td><img style="height: 21px;widht: 20px;margin: 10px;margin-left: 23px;margin-right: 0px;" src="https://www.saksooka.com/pub/media/wysiwyg/visa.png">
</td>
<td style="color:#182444;">شحن مجاني لعملاء مدى ، فيزا و ماستركارد *</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td><img style="height: 21px;widht: 20px;margin: 8px;margin-left: 25px;margin-right: 0px;" src="https://www.saksooka.com/pub/media/wysiwyg/van.png">
</td>
<td style="color:#182444;"> توصيل سريع لجيمع مدن الممملكة من ٢- ٦ ايام عمل</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr>
<td><img style="height: 31px;width: 28px;margin: 9px;margin-left: 24px;margin-right: 0px;" src="https://www.saksooka.com/pub/media/wysiwyg/timer.png">
</td>
<td style="color:#182444;"> ٦٠ يوم استبدال و استرجاع لعملاء مدى ، فيزا وماستركارد </td>
</tr>
</tbody>
</table>
</div>
<style>
.product-info-main .shravan-static {
display:none;
}
.product-sub-infomation .shravan-static {
display:block!important;
}
</style>