<?php
/**
 * @category    CleverSoft
 * @package     CleverSocialLogin
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
$helper = $this->helper('CleverSoft\CleverSocialLogin\Helper\Data');
if($helper->isFakeMail()) : ?>
	<div data-mage-init='{"pslogin":{},"loaderAjax":{},"loader":{}}' style="display: none;"></div>
	<script>
	//<![CDATA[
		require([
		    'jquery'
		], function(pjQuery) {
		    // 'use strict';
		    pjQuery(document).ready(function() {
		    	function customerEditFakeEmail() {
					pjQuery("#email").removeClass("valid").addClass("mage-error").after('<div class="mage-error pslogin-fake-email" id="email-error" for="email" generated="true">Please enter valid email address.</div>');

				    var reset = true;
				    pjQuery("#email").on('click focus', function() {
				    	if(reset) {
				    		pjQuery(this).removeClass("mage-error").addClass("valid").val('');
				    		pjQuery('#email-error.pslogin-fake-email').remove();
				    	}
				    	reset = false;
				    });
				}
		        customerEditFakeEmail();
		    });
		});
	//]]>
	</script>
<?php endif; ?>