<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_shipment = $block->getShipment() ?>
<?php $_order = $block->getOrder() ?>

    <?php if ($_shipment && $_order): ?>

<?php $trackCollection = $_order->getTracksCollection($_shipment->getId()) ?>
    <table class="shipment-track" style="text-align: right;font-family: verdana;direction: ltr;">
        <thead>
        <tr style="direction: ltr;"> <?php foreach ($trackCollection as $_item): ?>
            
            <tr><td> <?= $block->escapeHtml($_item->getNumber()) ?> :&nbsp;<?= /* @escapeNotVerified */  __('رقم تتبع الشحنة / البوليصة') ?></td> </tr> 

               <tr style="direction: rtl;text-align: right;"><td><?= /* @escapeNotVerified */  __('رابط تتبع الشحنة ') ?> :&nbsp;<a href="https://www.smsaexpress.com/trackingdetails?tracknumbers%5B0%5D=<?= $block->escapeHtml($_item->getNumber()) ?>">https://www.smsaexpress.com/trackingdetails?tracknumbers%5B0%5D=<?= $block->escapeHtml($_item->getNumber()) ?></a></td>  </tr>

                <tr><td><?= $block->escapeHtml($_item->getTitle()) ?> :&nbsp;<?= /* @escapeNotVerified */  __('

شركة الشحن والتوصيل') ?></td> </tr>
                   <tr> <tr><td> 920009999 :&nbsp;<?= /* @escapeNotVerified */  __('
رقم شركة الشحن') ?></td>  </tr> <?php endforeach ?>
        </tr>
        </thead>
        <tbody>
       
        
     
        </tbody>
    </table>
<?php endif; ?>
