<?php $galleryImages = $this->getGalleryImages(); ?>
<?php $zoom_image = $this->getEnableZoom(); ?>
<?php $lbox_image = $this->getLbox(); ?>

<?php foreach($galleryImages as $image): ?>
	 <?php 
		$dataArrayImg =  $image->toArray();
		$productName = $this->getProduct()->getName();

		$lbImage = (isset($dataArrayImg['label']) &&  $dataArrayImg['label'] != null) ? $dataArrayImg['label'] : $productName;
	?>
	<div class="product item-image imgzoom" data-zoom="<?php echo $image->getImageZoom(); ?>">
		<?php if($lbox_image): ?>
			<?php if($image->getMediaType() != 'external-video'): ?>
				<a class="lb" href="<?php echo $image->getImageZoom(); ?>"><img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
			<?php else: ?>
				<a class="lb video-link" href="<?php echo $image->getVideoUrl(); ?>"><img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
			<?php endif ?>
		<?php else: ?>
			<img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
			<?php if($image->getMediaType() == 'external-video'): ?>
				<a target="_blank" class="popup-youtube btn btn-primary" href="<?php echo $image->getVideoUrl(); ?>"><?php echo __('شاهد الفيديو'); ?></a>
			<?php endif ?>
		<?php endif ?>
	</div>
<?php break; endforeach ?>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" id="mgs-ajax-loading" style="display: block;position:absolute;z-index: 99;">
	<div class="mfp-bg mfp-ready black" style="position:absolute; background: #fff;opacity: 1;"></div>
	<div class="preloader black"></div>
</div> 