& when (@media-common = true) {
    .clevershopby-hightlighted {
        background-color: yellow;
    }
    .filter-options {
        .zoo-filter-options-content {
            .items {
                &-children {
                    list-style: none;
                    padding-left: 20px;
                }
                .cleversoft_shopby_filter_slider {
                    &_min {
                        width: 50px;
                        float: left;
                        text-align: left;
                        padding-bottom: 15px;
                    }
                    &_max {
                        width: 50px;
                        float: right;
                        text-align: right;
                        padding-bottom: 15px;
                    }
                    &_slider {
                        clear: both;
                    }
                }
            }
        }    
    }
}