<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<div class="success-page-thumb-icon">
<img src='<?php echo $this->getViewFileUrl('images/successthumb.png'); ?>' alt="image-icon">
</div>


<h6 class="thank-you-title" style="text-align: -webkit-center; margin-bottom: 15px;font-size: 18px;color: #000;">اشكرك</h6>
<p class="subtitle-sucess">تم استلام طلبك</p>


<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <?php if ($block->getCanViewOrder()) :?>
            <p style="font-size: 20px;color: #000;"><?= __('رقم الأمر: %1', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php  else :?>
            <p style="font-size: 20px;color: #000;"><?= __('رقم الأمر: <span>%1</span>', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif;?>
        <p style="font-size: 20px; color: #000;">
        <?php
  $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
              $orderData = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());
$total = $orderData->getGrandTotal();
$total = sprintf("%1.2f",$total);
echo "كمية : ".$total."<br/>";?></p>

         
             <p class="sucess-para"><?= /* @escapeNotVerified */ __('سيتم إرسال الإخطارات إلى الرسائل القصيرة والبريد الإلكتروني والواتس اب
') ?></p>
    <?php endif;?>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('مواصلة التسوق') ?></span></a>
        </div>
    </div>
</div>
