html[lang="ar"] {
	.breadcrumbs {
		.items {
			>li+li {
				&:after {
					color: #878787;
					font-family: "FontAwesome";
					content: "\f104";
					padding: 0 8px;
					float: right;
				}
			}
		}
	}
	#mainMenu {
		direction: ltr;
	}
	.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				float: right;
				text-align: right;
			}
		}
		.main {
			.category-product-actions {
				.toolbar-products {
					float: left;
				}
			}
		}
		.block.filter {
			.block-content.filter-content {
				left: auto;
				right: 0;
			}
		}
	}
	&:not(.filter-open) {
		.page-layout-1column {
			.block.filter {
				.block-content.filter-content {
					transform: translateX(100%);
					-webkit-transform: translateX(100%);
					-moz-transform: translateX(100%);
					-o-transform: translateX(100%);
				}
			}
		}
	}
}
body.mgs_quickview-catalog_product-view {
	#maincontent {
		width: 100%;
		padding: 0;
	}
}
.mgs_quickview-catalog_product-view {
	#maincontent {
		width: 100%;
		padding: 0;
	}
	.product-info-main {
		height: auto !important;
		.price-container.price-final_price.tax.weee {
			display: block;
		}
		.product-add-form {
			.actions.action-add-to {
				display: none;
			}
		}
	}
	.product-detail-infomation-content {
		padding: 30px 0;
	}
	.product-detail-infomation {
		height: auto !important;
	}
	.price-container {
		.price-label {
			display: none !important;
		}
	}
}
.mfp-mgs-quickview-frame {
	.mfp-iframe-scaler {
		iframe {
			padding-top: 0;
		}
	}
}



.product-info-main {
	.product-add-form {
		.actions.action-add-to {
			button.towishlist{
		      padding: 6px 8px 4px;
			}
		}
	}
}
.catalogsearch-result-index {
	.category-product-actions {
		.filter-toggle {
			display: block;
		}
		.toolbar-products {
			.clone-size {
				span {
					text-align: center;
					width: 30%;
					display: inline-block;
				}
				ul {
					li {
						display: inline-block;
						border-right: 1px solid #f2f2f2;
						line-height: 12px;
					}
				}
			}
		}
	}
}
header.header{
    z-index: 999;
}
.minicart-wrapper {
	dl.product.options.list dd{
	    margin-bottom: 0;
	}
	.minicart-items-wrapper {
		max-height: calc(100vh - 235px);
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0 20px;
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
			background-color: #F5F5F5;
		}
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #F5F5F5;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #000000;
			border: 2px solid #555555;
		}
	}
	.block-content {
		max-height: none;
		overflow-x: visible;
		overflow-y: visible;
		padding: 0;
		&>.actions {
			padding: 0 20px;
		}
	}
}

.opc-wrapper {
	.field.choice>input{
	      top: 5px;
	}		
}
.onestepcheckout-index-index {
	.opc-wrapper{
		.field.choice.col-mp {
		    margin-bottom: 3px;
		    margin-top: 3px;
		}
	}
	.payment-option.discount-code {
		.payment-option-title{
		  padding-left: 0;
		}
		.form-discount {
			.actions-toolbar {
			    margin-top: 0;
			    .action {
				    padding: 0 28px;
				}
			}
		}
	}
}
.mfp-iframe-scaler {
	iframe {
		padding-top: 30px;
	}
}
span.tooltip.wrapper {
	display: none;
}
button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.button {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}
.actions-toolbar {
	.primary {
		button {
			border-radius: 40px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			-o-border-radius: 40px;
			height: 40px;
			font-weight: 600;
			padding: 0 35px;
			line-height: 36px;
			color: #fff;
			border: 2px solid #222;
			background-color: #222;
			&:hover {
				color: #fff;
				border: 2px solid #56cfe1;
				background-color: #56cfe1;
			}
		}
	}
}
.owl-carousel {
	.owl-nav {
		>div {
			line-height: 34px;
		}
	}
}
.mgs_quickview-catalog_product-view {
	.product.media {
		.owl-carousel {
			.owl-nav {
				>div {
					font-size: 0;
					font-family: 'Pe-icon-7-stroke';
				}
				>div.owl-prev {
					&:before {
						font-size: 30px;
						content: '\e686';
					}
				}
				>div.owl-next {
					&:before {
						font-size: 30px;
						content: '\e684';
					}
				}
			}
		}
	}
}
.filter-open {
	.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				.title {
					&:before {
						color: #000;
					}
				}
			}
		}
	}
}
.products-grid {
	.product-item-info {
		.btn-cart {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 3;
			color: #222;
			line-height: 40px;
			white-space: nowrap;
			background-color: #fff;
			padding: 0 25px;
			text-align: center;
			border: none;
			opacity: 0;
			visibility: hidden;
			border-radius: 40px;
			-webkit-border-radius: 40px;
			-moz-border-radius: 40px;
			-o-border-radius: 40px;
			transform: translate(-50%, -100%);
			-webkit-transform: translate(-50%, -100%);
			-moz-transform: translate(-50%, -100%);
			-o-transform: translate(-50%, -100%);
			&:hover {
				background-color: #222;
				color: #fff;
			}
			.icon {
				margin-right: 5px;
				font-size: 20px;
				vertical-align: middle;
				line-height: 1;
			}
		}
		.product-top {
			&:hover {
				.btn-cart {
					transform: translate(-50%, -50%);
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
.swatch-option-tooltip {
	display: none !important;
}
.page-layout-1column {
	.category-product-actions {
		.filter-toggle {
			.title {
				&:before {
					font-family: 'Pe-icon-7-stroke';
					content: "\e680";
					position: fixed;
					color: #fff;
					display: block !important;
					font-size: 45px;
					left: -50px;
					line-height: 50px;
					top: 0;
					z-index: 1000;
					opacity: 0;
					visibility: hidden;
					transition: all 300ms;
					-webkit-transition: all 300ms;
					-moz-transition: all 300ms;
					-o-transition: all 300ms;
				}
			}
		}
	}
}
html[lang="ar"].filter-open {
	.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				.title {
					&:before {
						right: 268px;
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.search-open {
	header.header.header1 {
		.search-form {
			.form-search {
				max-width: 300px;
				position: absolute;
				top: 19px;
				left: -300px;
				right: 0;
				background: none;
			}
		}
	}
}
.header {
	&:not(.header5) {
		&:not(.header8) {
			&:not(.header9) {
				.search-form.not-full {
					.form-search {
						max-width: 300px;
						position: absolute;
						top: 15px;
						left: -300px;
						right: 0;
						background: none;
						.form.minisearch {
							.input-text {
								border-radius: 30px;
								height: 35px;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
.scroll-to-top {
	&:hover {
		background: #56cfe1;
		color: #fff;
	}
}
.block.filter {
	.block-content.filter-content {
		.filter-options-item {
			.swatch-attribute-options {
				.swatch-option-link-layered {
					.swatch-option {
						padding-top: 3px;
						padding-bottom: 3px;
						    border: 1px solid #eaeaea;
					}
				}
			}
		}
	}
}
.catalog-category-view {
	.clone-size {
		li {
			&:hover {
				color: #56cfe1;
			}
		}
	}
}
.minicart-items {
	.product-item {
		.product.actions {
			.action {
				line-height: 28px;
			}
			.action.edit {
				line-height: 27px;
			}
		}
	}
}
.product-info-main {
	.product-add-form {
		.actions.action-add-to {
			button {
				padding-left: 8px;
				padding-right: 8px;
			}
		}
	}
}
.checkout-cart-index {
	#shopping-cart-table {
		tbody {
			tr {
				td.col.item {
					.product-item-details {
						width: auto;
					}
				}
			}
			tr.item-actions {
				td {
					>.actions-toolbar {
						>a.action.action-towishlist {
							padding-left: 10px;
							padding-right: 10px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				.clone-size {
					max-width: 600px;
					ul {
						li {
							padding-right: 1rem;
							margin-right: 16px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.page-layout-1column.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				width: 80%;
			}
		}
		.main {
			.category-product-actions {
				.toolbar-products.toolbar {
					.sorter {
						width: ~"calc(100% - 600px)";
						display: inline-block;
						vertical-align: top;
					}
				}
			}
		}
	}
}
@media (max-width: 1199.98px) and (min-width: 768px) {
	.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				.clone-size {
					width: 90%;
				}
			}
			.filter-toggle {
				width: 50px !important;
			}
		}
	}
	.page-layout-1column.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				width: 90%;
			}
		}
	}
}
@media (max-width: 991.98px) and (min-width: 768px) {
	.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				.clone-size {
					max-width: 415px;
					width: 93%;
					margin-right: 10px;
					ul {
						li {
							padding-right: 8px;
							margin-right: 8px;
						}
					}
				}
			}
		}
	}
	.page-layout-1column.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				width: 93%;
			}
		}
	}
}
@media (min-width: 768px) {
	.products-grid {
		.product-item-info {
			.btn-cart {
				.icon {
					display: none;
				}
			}
		}
	}
	.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				.clone-size {
					width: 100%;
					padding: 10px;
					border: 1px solid #f2f2f2;
					border-radius: 26px;
					font-family: Helvetica, Arial, sans-serif;
					font-size: 14px;
					color: #222222;
					float: left;
					ul {
						display: inline-block;
						width: 67%;
						text-align: center;
					}
				}
			}
		}
	}
	.page-layout-1column.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				display: block;
			}
		}
	}
}
@media (max-width: 1199px) {
	.header {
		.close-nav-button {
			span {
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	.nav-open {
		.close-nav-button {
			padding: 0;
			right: 7px;
			top: 7px;
		}
	}
}
@media (max-width: 991px) {
	.account {
		.block.block-dashboard-addresses.my-account-main {
			margin-bottom: 20px;
		}
	}
}
@media (max-width: 779px) {
	.mgs_quickview-catalog_product-view {
		.product-detail-infomation-content {
			padding: 30px;
		}
	}
}

@media (max-width: 767px) {
	.catalogsearch-result-index {
		.category-product-actions {
			.toolbar-products {
				.clone-size {
					width: 100%;
					margin-top: 20px;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-ms-flex-pack: justify;
					justify-content: space-between;
					span {
						margin-right: 0;
						margin-right: 30px;
						width: auto;
					}
					ul {
						li {
							display: inline-block;
							padding-left: 1rem;
							margin-left: 16px;
							line-height: 12px;
							cursor: pointer;
						}
					}
				}
			}
			.filter-toggle {
				left: 0;
				position: absolute;
				top: 0;
			}
		}
	}
	html[lang="ar"] {
		.page-layout-1column {
			.category-product-actions {
				.filter-toggle {
					left: auto;
					right: 0;
				}
			}
		}
		.category-product-actions {
			.toolbar {
				.sorter {
					text-align: left;
				}
			}
		}
		.toolbar {
			.clone-size {
				span {
					margin-right: 0;
					margin-left: 30px;
				}
			}
		}
		.catalog-category-view {
			.clone-size {
				li {
					padding-left: 1rem;
					margin-left: 16px;
					padding-right: 0;
					margin-right: 0;
				}
			}
		}
	}
	.products-grid {
		.product-item-info {
			.btn-cart {
				.icon {
					margin: 0;
				}
				.text {
					display: none;
				}
			}
			.product-top {
				.actions-link {
					button.action.tocompare {
						display: none;
					}
					button.action.towishlist {
						opacity: 1;
						visibility: visible;
						transform: scale(1);
						-webkit-transform: scale(1);
						-moz-transform: scale(1);
					}
					top: 25px;
				}
			}
			.tocart.btn-cart {
				display: none;
			}
		}
	}
	.slider_mgs_carousel {
		.owl-item {
			.item-image {
				img {
					height: 400px;
				}
			}
		}
	}
	.item.slideInRight {
		.item-image {
			background-position: 35%;
		}
	}
	.item.slideInLeft {
		.item-image {
			background-position: 60%;
		}
	}
	.category-product-actions {
		.toolbar {
			.sorter {
				text-align: right;
				order: -1;
				-webkit-order: -1;
			}
		}
	}
	.page-layout-1column {
		.category-product-actions {
			.toolbar-products {
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				width: 100%;
			}
		}
	}
	.page-layout-1column.catalog-category-view {
		.toolbar.toolbar-products {
			.clone-size {
				width: 100%;
				margin-top: 20px;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: justify;
				justify-content: space-between;
				display: block !important;
			}
		}
	}
	.catalog-category-view.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.toolbar {
		.clone-size {
			span {
				margin-right: 30px;
			}
		}
	}
	.catalog-category-view {
		.clone-size {
			li {
				display: inline-block;
				padding-right: 1rem;
				margin-right: 16px;
				line-height: 12px;
				cursor: pointer;
			}
		}
	}
	.account {
		.box-actions {
			margin-bottom: 60px;
		}
	}
}
@media (max-width: 479px) {
	.mgs_quickview-catalog_product-view {
		.product-detail-infomation-content {
			padding: 20px;
		}
	}
	.search-open {
		header.header.header1 {
			.search-form {
				.form-search {
					top: 100%;
					left: auto;
					right: 0;
				}
			}
		}
	}
	.header {
		&:not(.header5) {
			&:not(.header8) {
				&:not(.header9) {
					.search-form.not-full {
						.form-search {
							top: 100%;
							left: auto;
							right: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.catalog-category-view {
		.toolbar {
			.clone-size {
				span {
					text-align: center;
					width: 100% !important;
					display: block;
				}
			}
		}
		.clone-size {
			ul {
				text-align: center;
			}
			li {
				border-right: 1px solid #ccc;
				&:last-child {
					border-right: none;
				}
			}
		}
	}
	.products.list.items.product-items.row.row-col-lg-4 {
		margin: 0 -7.5px;
	}
	.item.product.product-item-info.product-item.col-lg-4 {
		padding: 0 7.5px;
	}
	.catalog-product-view {
		.page-header {
			.base {
				display: none;
			}
		}
		.breadcrumbs {
			margin-bottom: 0;
		}
	}
}
.markedproduct {
	color: #c2c2c2;
}



/* 25/09 */
.scg-msg {
	position: relative;
	.messages {
		position: absolute;
		right: 100%;
		width: 288px;
		top: 10px;
	}
}
.message-success.success.message {
	div {
		background: unset;
		margin-top: 0;
		padding-top: 36px !important;
	}
}
.catalog-category-view {
	.clone-size {
		li.active {
			color: #56cfe1 !important;
		}
	}
	.main {
		.clone-size {
			li.disabled {
				position: relative;
				&:before {
					content: '';
					background: red;
					width: 1px;
					height: 20px;
					left: 9px;
					top: -4px;
					position: absolute;
					transform: rotate(45deg);
					-moz-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					-o-transform: rotate(45deg);
				}
			}
		}
	}
}
.checkout-cart-index {
	.item-actions {
		position: relative;
		td {
			padding-bottom: 0;
		}
	}
	.actions-toolbar {
		position: absolute;
		bottom: 10px;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
	.gift-options-cart-item {
		display: none;
	}
	.cart.item {
		.actions-toolbar {
			border-top: none !important;
			padding-left: 5px !important;
			padding-right: 5px !important;
			position: absolute !important;
			max-width: 100%;
			right: 0;
		}
	}
	.action.action-delete {
		margin: 0 !important;
	}
	#shopping-cart-table {
		tbody {
			tr.item-actions {
				td {
					padding-bottom: 0;
					position: relative;
					>.actions-toolbar {
						>a&+a {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	.checkout-extra {
		display: none;
	}
	.col-lg-8.col-md-7.col-xs-12 {
		img {
			width: 100%;
		}
	}
	.cart-summary {
		.checkout-methods-items {
			.item {
				.action.multicheckout {
					font-size: 15px;
					display: none;
				}
			}
		}
	}
	.cart.table-wrapper {
		margin-bottom: 30px;
	}
}
.products-grid {
	.product-item-info {
		.product-top {
			.actions-link {
				top: 0px;
			}
		}
	}
}
#continueBlock {
	display: block;
	margin-top: -23px;
	padding: 8px 7px;
}
#cart-totals {
	padding: 0;
	margin: 0;
}
.category-menu.level0 {
	a.active {
		color:#56cfe1!important;
	}
}
.message {
	>* {
		&:before {
			top: 65% !important;
		}
	}
}
.single-logo {
	width: 25%;
	float: left;
	padding: 0 1px;
}
.logo-payment {
	width: 100%;
	padding-top: 2rem;
}
.verified-logo {
	padding-top: 2rem;
}
.single-logo.logistics {
	width: 33.33%;
}
.brand-logo-site {
	margin-bottom: 20px;
}
.block.filter {
	.block-content.filter-content {
		.filter-options-item {
			.filter-options-title {
				&::after {
					bottom: -5px !important;
				}
			}
		}
	}
}
@media (max-width: 1199px) {
	.header.header1 {
		.header-wl {
			display: block !important;
		}
	}
	.header {
		.row {
			.dropdown.dropdown-toplinks {
				display: none !important;
			}
		}
		&:not(.header6) {
			&:not(.header7) {
				.nav-main-menu {
					li {
						>a&+.toggle-menu {
							padding: 0 28px;
						}
					}
				}
			}
		}
	}
	.page-wrapper {
		.nav-tabs {
			>li {
				width: ~'calc(100% / 2)' !important;
			}
		}
	}
}
@media (max-width: 767px) {
	.toolbar.toolbar-products {
		.clone-size {
			span {
				display: block !important;
				width: 100% !important;
				text-align: center !important;
			}
			ul {
				li {
					border-right: 1px solid #ccc;
					&:last-child {
						border-right: none;
					}
				}
				text-align: center;
			}
		}
	}
}
@media (max-width: 321px) {
	html[lang="ar"] {
		.page-layout-1column {
			.main {
				.category-product-actions {
					.toolbar-products {
						.clone-size {
							ul {
								li {
									padding-left: 6px;
									margin-left: 6px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.checkout-cart-index {
		#shopping-cart-table {
			tbody {
				tr.item-actions {
					td {
						>.actions-toolbar {
							>a {
								min-width: 38px;
							}
							>a.action.action-towishlist {
								padding: 0;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.checkout-cart-index {
		.col-lg-8.col-md-7.col-xs-12 {
			img {
				width: 100%;
				max-height: 48px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width:1199px) {
	.text-method {
		font-size: 19px;
	}
	.col-xs-3 {
		width: 35%;
		padding-top: 20px;
	}
}
@media (min-width: 320px) {
	.text-method {
		font-size: 17px;
		color: #000;
		font-weight: bold;
	}
}
@media (max-width: 992px) {
	.logo-payment {
		min-height: 82px;
		display: table-cell;
		vertical-align: middle;
	}
}
@media (max-width: 670px) {
	.logo-payment {
		min-height: 82px;
		display: table-cell;
		vertical-align: middle;
		padding: 10px 0;
	}
	.brand-logo-site {
		.col-xs-5 {
			width: 50%;
		}
		.col-xs-4 {
			width: 38%;
		}
		.col-xs-3 {
			width: 35%;
		}
	}
	.verified-logo {
		padding: 10px 0;
	}
}
@media (max-width: 420px) {
	.brand-logo-site {
		.col-xs-5 {
			width: 100%;
		}
		.col-xs-4 {
			width: 100%;
		}
		.col-xs-3 {
			width: 53%;
		}
	}
}



@media (max-width: 767px) {
	.cms-home {
		.product.product-item {
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}
	.page-with-filter {
		.products {
			.item {
				&:nth-child(2n+1) {
					clear: both !important;
				}
			}
		}
	}
	.page-product-configurable {
		.page-title-wrapper.product {
			display: none;
		}
		.catalog-product-view {
			.product.media {
				position: relative;
				margin-top: 0;
			}
		}
	}
}
.checkout-cart-index {
	.shopping-cart-bottom {
		.cart-totals {
			.table.totals {
				tbody {
					tr {
						td {
							padding-top: 15px;
						}
					}
				}
			}
		}
	}
}
.catalog-category-view {
	.clone-size {
		.disabled {
			color: #ccc;;
		}
	}
}
@media (max-width: 991.98px) and (min-width: 768px) {
	html[lang="ar"] {
		.page-layout-1column {
			.main {
				.category-product-actions {
					.toolbar-products {
						width: 91%;
					}
				}
			}
		}
	}
	.messages {
		.message-success.success.message {
			left: -61px;
			position: absolute;
		}
	}
}

/* new filter */
.catalog-category-view {
	.clone-size {
		span {
			vertical-align: middle;
			width: 26% !important;
		}
		ul {
			width: 67% !important;
			vertical-align: middle;
		}
		.disabled {
			color: #000 !important;
		}
	}
}
.clone-size {
	.reset.button {
		&:hover {
			.icon.pe-7s-close {
				color: #56cfe1;
			}
		}
		padding: 5px;
		text-align: left;
		width: 2%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
	li.disabled {
		&::before {
			content: unset !important;
		}
	}
}
.icon.pe-7s-close {
	font-size: 18px;
}
#mgs-ajax-loading {
	.preloader.black {
		background: url(../images/loader-black.svg) no-repeat 0 0;
		background-size: 100%;
		bottom: unset;
		top: 10%;
	}
}
.page-product-configurable {
	.price-container.price-final_price.tax.weee {
		display: none !important;
	}
}
.page-with-filter {
	.catalog-category-view {
		.main {
			.clone-size {
				li {
					padding-right: 5px;
					margin-right: 5px;
				}
			}
		}
	}
}
.message-success.success.message {
	div {
		padding-top: 15px !important;
	}
}
.message>*:before {
    top: 65%!important;
}
@media (max-width: 767px) {
	.toolbar.toolbar-products {
		.clone-size {
			ul {
				text-align: center;
				float: left;
				width: 90% !important;
			}
		}
	}
	.catalog-category-view {
		.clone-size {
			li {
				margin-right: 12px;
			}
		}
	}
	.page-product-configurable {
		.product.item-image.imgzoom {
			pointer-events: none;
		}
		.page-title-wrapper.product {
			display: none;
		}
	}
}
@media (min-width: 992px) {
	.toolbar.toolbar-products {
		.toolbar-sorter.sorter {
			position: relative;
		}
	}
	.toolbar-sorter.sorter {
		.action.sorter-action.sort-asc {
			position: absolute;
			right: 0;
			top: -18px;
		}
		.reset.button {
			position: absolute;
			top: -27px;
			width: 190px;
			right: 54px;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.page-layout-1column.catalog-category-view {
		.toolbar.toolbar-products {
			.clone-size {
				width: 100%;
				margin-top: 0;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: justify;
				justify-content: space-between;
				display: flex;
				max-width: 100%;
				border: none;
				flex: 2;
				flex: 100%;
			}
		}
		.main {
			.category-product-actions {
				.toolbar-products {
					display: flex !important;
					flex-wrap: wrap;
				}
			}
		}
	}
	.catalog-category-view {
		.clone-size {
			span {
				display: block;
				width: 100% !important;
				text-align: center;
			}
			ul {
				width: 96% !important;
			}
		}
	}
	.page-with-filter {
		.toolbar {
			.sorter {
				text-align: right;
				display: flex;
				width: 100%;
				order: -1;
				flex: 100%;
				justify-content: end;
			}
		}
		.reset.button {
			padding-top: 0;
		}
	}
}
@media (min-width: 1200px) {
	.icon.pe-7s-edit {
		padding-right: 18px;
	}
}


.checkout-onepage-success {
	h1.page-header&+a {
		z-index: 98;
		position: relative;
	}
}
.breadcrumbs {
	.items {
		li {
			strong {
				max-width: 250px !important;
			}
		}
	}
}

.block.filter {
	.block-content.filter-content {
		.filter-options-item {
			.swatch-attribute-options {
				.swatch-option-link-layered {
					.swatch-option.active {
						background: #ddd;
						color: #000;
						font-weight: 700;
					}
				}
			}
		}
	}
}


/* 01/10/2019 Eng */
@media (max-width: 767px) {
	.product.item-image.imgzoom {
		pointer-events: none;
	}
}
.block.filter {
	.block-content.filter-content {
		.filter-options-item {
			.swatch-attribute-options {
				.swatch-option-link-layered {
					.swatch-option.disabled {
						pointer-events: all;
						&:after {
							content: none;
						}
					}
					.swatch-option.active {
						background: #ddd;
						color: #000;
						font-weight: 700;
					}
				}
			}
		}
	}
}


.page-product-configurable {
	.page-wrapper {
		.price-container.price-final_price.tax.weee {
			display: block !important;
		}
	}
	.price-box {
		.price-label {
			display: none !important;
		}
	}
}


@media (max-width: 767.98px) {
	.cms-home {
		.product.product-item {
			&:nth-child(2n) {
				padding-left: 7.5px;
			}
			&:nth-child(2n+1) {
				padding-right: 7.5px;
			}
		}
		.products-grid {
			.product-item-info {
				margin-bottom: 10px;
			}
		}
	}
	.page-with-filter {
		.products-grid {
			.product-item-info {
				margin-bottom: 10px;
			}
		}
	}
}



@media (min-width:768px) {
	.catalogsearch-result-index {
		.search.results {
			.category-product-actions {
				.toolbar-products {
					.clone-size {
						ul {
							width: 60% !important;
							li {
								padding-right: 8px !important;
								margin-right: 8px !important;
								cursor: pointer;
							}
						}
					}
				}
			}
			.clone-size&+.reset {
				display: none !important;
			}
			.form-item-select {
				margin-top: 19px;
			}
		}
	}
	.page-layout-1column.catalogsearch-result-index {
		.main {
			.search.results {
				.category-product-actions {
					.toolbar-products.toolbar {
						.sorter {
							margin-top: 10px;
						}
					}
				}
				.toolbar-products {
					span {
						width: 25% !important;
					}
				}
			}
		}
	}
}
@media (min-width:992px) and (max-width:1199px) {
	.page-products.catalogsearch-result-index {
		.search.results {
			.form-item-select {
				margin-top: 15px;
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	.page-products.catalogsearch-result-index {
		.search.results {
			.form-item-select {
				margin-top: 0;
			}
		}
	}
	.page-layout-1column {
		.main {
			.search.results {
				.category-product-actions {
					.toolbar-products {
						.clone-size {
							max-width: 100%;
							border: none;
							width: 100%;
							margin-top: 20px;
							display: -ms-flexbox;
							display: flex;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
							-ms-flex-pack: justify;
							justify-content: space-between;
							span {
								margin-right: 0;
								margin-left: 30px;
								width: auto;
							}
							ul {
								li {
									display: inline-block;
									padding-left: 1rem;
									margin-left: 16px;
									line-height: 12px;
									cursor: pointer;
								}
							}
						}
						display: flex;
					}
				}
			}
		}
		.search.results {
			.category-product-actions {
				.filter-toggle {
					left: auto;
					right: 0;
					position: absolute;
					top: 0;
				}
				.toolbar-products {
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					width: 100%;
				}
			}
		}
	}
	.page-layout-1column.catalogsearch-result-index.wide {
		.main {
			.search.results {
				.toolbar-products {
					span {
						width: 100% !important;
					}
				}
			}
		}
		.search.results {
			.category-product-actions {
				.toolbar-products {
					.clone-size {
						ul {
							width: 90% !important;
						}
					}
				}
			}
		}
	}
	.page-with-filter {
		.search.results {
			.toolbar {
				.sorter {
					justify-content: unset;
					text-align: left;
				}
			}
		}
	}
	.search.results {
		.category-product-actions.toolbar {
			.sorter {
				text-align: left;
			}
		}
		.products-grid {
			.product-item-info {
				.btn-cart {
					.icon {
						margin: 0;
					}
					.text {
						display: none;
					}
				}
				.product-top {
					.actions-link {
						top: 25px;
						button.action.tocompare {
							display: none;
						}
						button.action.towishlist {
							opacity: 1;
							visibility: visible;
							transform: scale(1);
							-webkit-transform: scale(1);
							-moz-transform: scale(1);
						}
					}
				}
				.tocart.btn-cart {
					display: none;
				}
			}
		}
		.slider_mgs_carousel {
			.owl-item {
				.item-image {
					img {
						height: 400px;
					}
				}
			}
		}
		.item.slideInRight {
			.item-image {
				background-position: 35%;
			}
		}
		.item.slideInLeft {
			.item-image {
				background-position: 60%;
			}
		}
		.category-product-actions {
			.toolbar {
				.sorter {
					text-align: right;
					order: -1;
					-webkit-order: -1;
				}
			}
		}
		.toolbar {
			.clone-size {
				span {
					margin-right: 30px;
				}
			}
		}
		.account {
			.box-actions {
				margin-bottom: 60px;
			}
		}
	}
	.catalog-category-view {
		.search.results {
			.clone-size {
				li {
					padding-left: 1rem;
					margin-left: 16px;
					padding-right: 0;
					margin-right: 0;
					display: inline-block;
					padding-right: 1rem;
					margin-right: 16px;
					line-height: 12px;
					cursor: pointer;
				}
			}
		}
	}
	.page-layout-1column.catalog-category-view {
		.search.results {
			.toolbar.toolbar-products {
				.clone-size {
					width: 100%;
					margin-top: 20px;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-ms-flex-pack: justify;
					justify-content: space-between;
					display: block !important;
				}
			}
		}
	}
	.catalog-category-view.page-layout-1column {
		.search.results {
			.category-product-actions {
				.filter-toggle {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
