/*.onestepcheckout-index-index .page-title-wrapper{
  padding: 58px 0 55px;
  background-image: url(../images/shop-category.jpg);
}
.onestepcheckout-index-index .page-title-wrapper .page-header{
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}*/
/* DEV_LUUNV */
/***/
/* Fix video banner */
.checkout-onepage-success {
	div#registration {
		text-align: center;
	}
	input[type=submit] {
		border-radius: 40px;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		-o-border-radius: 40px;
		height: 40px;
		font-weight: 600;
		padding: 0 35px;
		line-height: 36px;
		background-color: transparent;
		color: #fff;
		border: 2px solid #222;
		background-color: #222;
		font-family: "Poppins";
		&:hover {
			color: #fff;
			border: 2px solid #56cfe1;
			background-color: #56cfe1;
		}
	}
}
.header {
	.dropdown-switcher {
		.switcher-toggle {
			&:before {
				content: '';
				width: 16px;
				display: block;
				height: 10px;
				background-image: url(../images/flags/en.png);
				background-size: cover;
				float: left;
				margin-right: 10px;
				margin-top: 5px;
			}
		}
	}
	.dropdown-toplinks {
		.dropdown-toggle {
			padding: 0;
		}
	}
	.search-form {
		.actions-search {
			.action-search {
				padding: 0;
			}
		}
	}
	.no-menu-settings {
		.settings-menu-tab {
			display: none !important;
		}
		#main-Settingcontent {
			display: none !important;
		}
	}
}
.minicart-items {
	.product-item {
		.product-item-details {
			>.product.options {
				.content {
					display: block !important;
					.list {
						dt {
							&:first-child {
								display: none;
							}
						}
						dd {
							&:nth-child(2) {
								display: none;
							}
						}
					}
				}
				.toggle {
					display: none;
				}
			}
		}
	}
}
.minicart-wrapper {
	.block-content {
		ol.minicart-items {
			max-height: ~"calc(100vh - 300px)";
			overflow-y: auto;
		}
		.minicart-items-wrapper {
			max-height: ~"calc(100vh - 300px)";
			overflow-y: auto;
		}
	}
}
iframe#goog_conv_iframe {
	display: none;
}
html[lang="ar"] {
	.breadcrumbs {
		.items {
			>li+li {
				&:before {
					float: right;
				}
			}
		}
	}
}
.products-grid.wishlist {
	.product-item-info {
		.box-tocart {
			.field.qty {
				margin-bottom: 10px;
			}
		}
	}
	.box-tocart {
		display: none;
	}
}
.table-checkout-shipping-method {
	tbody {
		tr {
			td.col-method {
				input {
					left: 9px;
				}
			}
		}
	}
}
.onestepcheckout-index-index {
	.field.choice {
		padding-left: 20px;
	}
	font-family: "Poppins", arial, taho;
}
.one-step-checkout-container {
	.checkout-billing-address {
		border: 0;
	}
}
.osc-newsletter {
	label {
		vertical-align: top;
	}
}
.opc-wrapper {
	.fieldset {
		>.field {
			padding: 0 10px;
		}
	}
}
#opc-sidebar {
	.opc-block-summary {
		.table-totals {
			border-top: 0;
		}
	}
	tr.grand.totals.excl {
		border-top: 0;
	}
}
.header.active-sticky {
	position: fixed;
	z-index: 997;
	top: 0;
	left: 0;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
	right: 0;
	.top-header-content {
		display: none;
	}
}
.header.header6 {
	.megamenu-content.no-menu-settings {
		.nav-tabs {
			>li {
				width: calc(~"100% / 2");
			}
		}
	}
}
.header.header7 {
	.megamenu-content.no-menu-settings {
		.nav-tabs {
			>li {
				width: calc(~"100% / 2");
			}
		}
	}
}
@media (min-width: 1200px) {
	.col-lg-custom-5 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 20%;
	}
	.col-lg-custom-7 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: calc(100% / 7);
	}
	.col-lg-custom-8 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 12.5%;
	}
	.footer.footer4 {
		.middle-footer-container {
			width: 100%;
			display: table;
			.middle-footer {
				padding: 50px 150px 0;
				.container {
					width: unset;
				}
			}
			.middle-col {
				display: table-cell;
				width: 50%;
				vertical-align: top;
			}
			.footer-map {
				display: table-cell;
				width: 50%;
				vertical-align: top;
			}
		}
		.bottom-footer {
			padding: 20px 150px;
			.container {
				width: unset;
			}
		}
	}
	.footer {
		.dropdown-switcher {
			&:hover {
				.dropdown-menu {
					transform: translateY(0);
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-o-transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	.header {
		&:not(.header6) {
			&:not(.header7) {
				.megamenu-content {
					.nav.nav-tabs {
						display: none !important;
					}
				}
				#main-Accountcontent {
					display: none !important;
				}
				#main-Settingcontent {
					display: none !important;
				}
				#main-Menucontent {
					display: block !important;
				}
				.navigation {
					.nav-main-menu {
						li {
							>ul.dropdown-menu {
								a {
									&:hover {
										color: #56cfe1 !important;
									}
									&:active {
										color: #56cfe1 !important;
									}
								}
							}
						}
					}
				}
			}
		}
		.top-header-content {
			.dropdown-switcher {
				.dropdown-menu {
					display: block !important;
					opacity: 0;
					visibility: hidden;
				}
				&:hover {
					.dropdown-menu {
						transform: translateY(0);
						-webkit-transform: translateY(0);
						-moz-transform: translateY(0);
						-o-transform: translateY(0);
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
		.close-nav-button {
			left: -50px;
		}
	}
	.header.header5 {
		display: none;
		.table-icon-menu {
			.minicart-wrapper {
				position: static;
				.block-minicart {
					left: 0;
				}
			}
			width: 100%;
			margin: 0 auto 45px;
			text-align: center;
			>div {
				display: inline-block;
			}
			>div.dropdown-toplinks {
				.dropdown-menu {
					display: none !important;
					transform: none;
					-webkit-transform: none;
					-moz-transform: none;
					-o-transform: none;
				}
			}
			>div.dropdown-toplinks.open {
				.dropdown-menu {
					display: block !important;
				}
			}
		}
		.logo {
			display: block;
			text-align: center;
			padding: 0 0 9px;
		}
		.middle-header-content {
			>.container {
				width: 100% !important;
				padding: 0;
			}
		}
	}
	.header.header6 {
		.megamenu-content {
			>.nav-tabs {
				li {
					&:not(.hidden-lg) {
						display: block !important;
						width: 100%;
						a {
							font-size: 16px;
							line-height: 50px;
							letter-spacing: 2px;
							text-transform: uppercase;
							background: #000;
							color: #fff;
							text-align: center;
							font-weight: 600;
							position: relative;
							padding: 0;
						}
					}
				}
			}
			>.tab-content {
				#main-Accountcontent {
					display: none !important;
				}
				#main-Settingcontent {
					display: none !important;
				}
			}
		}
	}
	.header.header7 {
		.megamenu-content {
			>.nav-tabs {
				li {
					&:not(.hidden-lg) {
						display: block !important;
						width: 100%;
						a {
							font-size: 16px;
							line-height: 50px;
							letter-spacing: 2px;
							text-transform: uppercase;
							background: #000;
							color: #fff;
							text-align: center;
							font-weight: 600;
							position: relative;
							padding: 0;
						}
					}
				}
			}
			>.tab-content {
				#main-Accountcontent {
					display: none !important;
				}
				#main-Settingcontent {
					display: none !important;
				}
			}
		}
	}
	.header.active-sticky.header4 {
		.bottom-header-content {
			max-height: 0;
			overflow: hidden;
			visibility: hidden;
			opacity: 0;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
			-o-transition: all 0.3s;
		}
		&:hover {
			.bottom-header-content {
				opacity: 1;
				visibility: visible;
				overflow: visible;
				max-height: 100px;
			}
		}
	}
	.instagram-section {
		padding-left: 45px;
		padding-right: 45px;
	}
	.menu_vertical_fixed {
		margin-left: 270px;
		.header.header5 {
			width: 270px;
			left: 0;
			position: absolute;
			top: 0;
			display: block;
			overflow: visible;
			height: auto;
			background-color: #fff;
			z-index: 500;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
			min-height: 100vh;
			.middle-header-content {
				padding-top: 59px;
				padding-bottom: 200px;
				position: relative;
				min-height: 100vh;
				.bottom-header-custom-block {
					position: absolute;
					bottom: 40px;
					left: 0;
					right: 0;
				}
			}
		}
		.header.header5.fixed-bottom {
			bottom: 0;
			top: auto !important;
			position: fixed;
		}
	}
	.sticky-info-multiple-col {
		>div {
			&:not(.col-lg-6) {
				width: 25% !important;
			}
		}
	}
	.use-header6.nav-open {
		.close-nav-button {
			display: block;
			opacity: 1;
			transform: translate3d(400px, 0, 0);
			-webkit-transform: translate3d(400px, 0, 0);
			-moz-transform: translate3d(400px, 0, 0);
			-o-transform: translate3d(400px, 0, 0);
			top: 4px;
		}
	}
	.use-header7.nav-open {
		.close-nav-button {
			display: block;
			opacity: 1;
			transform: translate3d(400px, 0, 0);
			-webkit-transform: translate3d(400px, 0, 0);
			-moz-transform: translate3d(400px, 0, 0);
			-o-transform: translate3d(400px, 0, 0);
			top: 4px;
		}
	}
	.header.header8 {
		.navigation {
			.nav-main-menu {
				margin: 0 !important;
				>li {
					>a {
						padding: 12px 18px;
						.label-menu {
							top: 0px;
						}
					}
					&:first-child {
						>a {
							padding-left: 15px;
						}
					}
				}
				li.mega-menu-fullwidth.menu-2columns {
					>ul.dropdown-menu {
						min-width: 500px;
					}
				}
			}
		}
		.bottom-header-content {
			position: relative;
			.parent__megameu {
				padding: 0;
			}
		}
	}
	.header.header9 {
		.nav.nav-main-menu {
			>li {
				>a {
					padding: 36px 18px 37px;
				}
			}
		}
		.navigation {
			&:after {
				content: "";
				display: table;
				clear: both;
			}
			.nav-main-menu {
				float: right;
				position: static !important;
			}
		}
		.middle-header-content {
			>.container {
				position: relative;
			}
		}
		.parent__megameu {
			position: static;
		}
	}
	.service-boxed {
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		z-index: 1;
		position: relative;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.header.header10 {
		.dropdown-switcher {
			float: left;
			margin-left: 0;
			margin-right: 30px;
			position: relative;
			.dropdown-menu {
				display: block !important;
				opacity: 0;
				left: 0;
				right: auto;
				visibility: hidden;
			}
			&:hover {
				.dropdown-menu {
					transform: translateY(0);
					-webkit-transform: translateY(0);
					-moz-transform: translateY(0);
					-o-transform: translateY(0);
					opacity: 1;
					visibility: visible;
				}
			}
			.switcher-toggle {
				padding: 37px 0 39px;
				color: #fff;
			}
		}
		&:not(.active-sticky) {
			.table-icon-menu {
				>div {
					padding: 39px 12px 34px 0px;
				}
			}
			.nav.nav-main-menu {
				>li {
					>a {
						padding: 38px 24px;
					}
				}
			}
		}
		#mainMenu {
			.level0 {
				a.level0 {
					color: #fff;
				}
				&:hover {
					a.level0 {
						color: #56cfe1;
					}
				}
			}
		}
	}
	.header.header10.active-sticky {
		.dropdown-switcher {
			.switcher-toggle {
				padding: 19px 0;
			}
		}
	}
	.testimonial-list-block.boxed_content {
		.testimonial-content.has-image {
			.content {
				padding-left: 140px;
			}
		}
	}
	.custom-banner-glasses {
		.promobanner {
			.banner-text {
				padding-right: 120px;
			}
		}
	}
	.slider_comestics.owl-carousel {
		.owl-stage {
			padding-left: 16.65%;
			padding-right: 16.65%;
		}
		.owl-nav {
			>div.owl-next {
				top: 0;
				bottom: 0;
				width: 16.65%;
				height: auto;
				background: none;
				display: block;
				border: 0;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-o-border-radius: 0;
				right: 0;
				left: auto;
				i {
					right: 40px;
				}
			}
			>div.owl-prev {
				top: 0;
				bottom: 0;
				width: 16.65%;
				height: auto;
				background: none;
				display: block;
				border: 0;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-o-border-radius: 0;
				left: 0;
				right: auto;
				i {
					left: 40px;
				}
			}
			>div {
				i {
					display: block;
					width: 38px;
					height: 38px;
					position: absolute;
					top: 50%;
					color: #c2c2c2;
					border: 2px solid #c2c2c2;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-o-border-radius: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
				}
				&:hover {
					i {
						background-color: #56cfe1;
						border-color: #56cfe1;
						color: #fff;
					}
				}
			}
		}
		.owl-item {
			&:last-child {
				display: none !important;
			}
		}
	}
}
@media (min-width: 992px) {
	.col-md-custom-5 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 20%;
	}
	.col-md-custom-7 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: calc(100% / 7);
	}
	.col-md-custom-8 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
		width: 12.5%;
	}
	.opc-estimated-wrapper {
		display: none;
	}
	.opc-progress-bar {
		margin: 0 0 32px;
		counter-reset: i;
		display: block;
		font-size: 0;
		width: calc(66.66666667% - 15px);
		.opc-progress-bar-item {
			margin: 0 0 10px;
			width: 50%;
			display: inline-block;
			position: relative;
			text-align: center;
			vertical-align: top;
			>span {
				display: inline-block;
				padding-top: 45px;
				width: 100%;
				word-wrap: break-word;
				color: #c2c2c2;
				font-size: 16px;
				&:after {
					left: 50%;
					position: absolute;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-o-border-radius: 50%;
					transition: all 300ms;
					-webkit-transition: all 300ms;
					-moz-transition: all 300ms;
					-o-transition: all 300ms;
					background: #fff;
					height: 26px;
					margin-left: -13px;
					top: 6px;
					width: 26px;
					content: counter(i);
					counter-increment: i;
					color: #333;
					font-size: 15px;
					line-height: 26px;
					color: #c2c2c2;
				}
				&:before {
					left: 50%;
					position: absolute;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-o-border-radius: 50%;
					transition: all 300ms;
					-webkit-transition: all 300ms;
					-moz-transition: all 300ms;
					-o-transition: all 300ms;
					background: #c2c2c2;
					height: 38px;
					margin-left: -19px;
					width: 38px;
					content: '';
					top: 0;
				}
			}
			&:before {
				background: #c2c2c2;
				top: 19px;
				transition: all 300ms;
				-webkit-transition: all 300ms;
				-moz-transition: all 300ms;
				-o-transition: all 300ms;
				content: '';
				height: 7px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
		.opc-progress-bar-item._active {
			&:before {
				background: #eb5202;
			}
			>span {
				color: #eb5202;
				&:before {
					background: #eb5202;
				}
				&:after {
					color: #eb5202;
				}
			}
		}
		.opc-progress-bar-item._complete {
			&:before {
				background: #14ab00;
			}
			>span {
				color: #14ab00;
				&:before {
					background: #14ab00;
				}
				&:after {
					color: #14ab00;
					font-family: 'FontAwesome';
					content: '\f00c';
				}
			}
			&:hover {
				&:before {
					background: #c2c2c2;
				}
				>span {
					color: #c2c2c2;
					&:before {
						background: #c2c2c2;
					}
					&:after {
						color: #c2c2c2;
					}
				}
			}
		}
	}
	.product-detail-infomation.is_stuck {
		.has-sticky-menu {
			padding-top: 70px;
		}
	}
	.header.header8 {
		.search-form {
			.form-search {
				position: static;
				background: none;
				opacity: 1;
				visibility: visible;
				.search-close {
					display: none;
				}
				.form.minisearch {
					margin: 27px 0;
					padding: 0;
					border: 1px solid #222;
					border-radius: 40px;
					-webkit-border-radius: 40px;
					-moz-border-radius: 40px;
					-o-border-radius: 40px;
					.input-text {
						font-size: 14px;
						text-align: left;
						padding-left: 30px;
						color: #878787;
					}
				}
			}
		}
		.search-form.select-search {
			.form-search {
				.form.minisearch {
					.search-select {
						.search-toggle {
							font-size: 14px;
							text-align: left;
							padding-left: 30px;
							padding-right: 30px;
							position: relative;
							&:after {
								content: "";
								height: 24px;
								width: 1px;
								background-color: #878787;
								position: absolute;
								top: 9px;
								right: 0;
							}
						}
					}
				}
			}
		}
		.table-icon-menu {
			.search-form {
				display: none !important;
			}
		}
	}
	.header.header8.active-sticky {
		position: static !important;
		box-shadow: none;
		.middle-header-content {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 997;
			background-color: #fff;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			.logo-header {
				.logo {
					padding-top: 17px;
					padding-bottom: 0;
				}
			}
			>.container {
				position: relative;
			}
		}
		.parent__search {
			>.search-form {
				display: none;
			}
		}
		.table-icon-menu {
			>div {
				padding: 19px 12px 16px 0;
			}
		}
		.navigation {
			.nav-main-menu {
				margin: 0 auto !important;
				>li {
					>a {
						padding: 19px 18px !important;
					}
				}
			}
		}
	}
	.header.header9 {
		.table-icon-menu {
			>div.search-form {
				display: none;
			}
		}
		.parent__search {
			display: table;
			width: 100%;
			>.search-form {
				display: table-cell;
				vertical-align: middle;
			}
			>.table-icon-menu {
				display: table-cell;
				vertical-align: middle;
				width: 1%;
			}
		}
		.search-form {
			.form-search {
				position: static;
				background: none;
				opacity: 1;
				visibility: visible;
				.search-close {
					display: none;
				}
				.form.minisearch {
					margin: 6px auto;
					padding: 0;
					border: 1px solid #fff;
					border-radius: 40px;
					-webkit-border-radius: 40px;
					-moz-border-radius: 40px;
					-o-border-radius: 40px;
					background-color: #fff;
					.input-text {
						font-size: 14px;
						text-align: left;
						padding-left: 30px;
						height: 36px;
						line-height: 36px;
						color: #878787;
					}
				}
			}
		}
		.search-form.select-search {
			.form-search {
				.form.minisearch {
					.search-select {
						.search-toggle {
							height: 36px;
							font-size: 14px;
							text-align: left;
							padding-left: 30px;
							padding-right: 30px;
							position: relative;
							&:after {
								content: "";
								height: 24px;
								width: 1px;
								background-color: #d9d9d9;
								position: absolute;
								top: 6px;
								right: 0;
							}
						}
					}
				}
			}
		}
	}
	.header.header9.active-sticky {
		position: static !important;
		box-shadow: none;
		.middle-header-content {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 997;
			background-color: #fff;
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
			.logo-header {
				.logo {
					padding-top: 17px;
					padding-bottom: 0;
				}
			}
			>.container {
				position: relative;
			}
		}
		.navigation {
			.nav-main-menu {
				>li {
					>a {
						padding: 19px 18px !important;
					}
				}
			}
		}
	}
	.cms-index-index {
		.header.header10 {
			&:not(.active-sticky) {
				&:not(.header-builder) {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					z-index: 999;
					background: transparent;
					border-color: rgba(255, 255, 255, 0.4);
				}
			}
		}
	}
	.title-instagram {
		.instagram-block {
			position: relative;
			.content-heading {
				position: absolute;
				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				background-color: rgba(246, 246, 248, 0.8);
				padding: 25px 100px;
				z-index: 2;
				opacity: 1;
				visibility: visible;
				.name {
					display: block !important;
				}
			}
		}
	}
}
@media (min-width: 500px) and (max-width: 767px) {
	.col-xs-half {
		width: 50%;
	}
}
@media (max-width: 991px) {
	.footer {
		.middle-footer {
			div[class*="col-lg"] {
				&:not(:last-child) {
					margin-bottom: 50px;
				}
			}
		}
		.bottom-footer {
			.copyright {
				address {
					text-align: center;
					margin-bottom: 15px;
					line-height: 1.75;
				}
			}
			ul {
				display: table;
				margin: 0 auto;
				float: none;
				li {
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
	}
	.footer.footer3 {
		.bottom-footer {
			ul {
				display: block;
				margin: unset;
			}
		}
	}
	.toolbar {
		.modes {
			display: none;
		}
	}
	.opc-progress-bar {
		display: none;
	}
	.checkout-container {
		position: relative;
		z-index: 101;
	}
	.authentication-wrapper {
		margin-bottom: 25px;
	}
	.opc-wrapper {
		width: 100%;
		padding: 0;
	}
	.opc-sidebar.opc-summary-wrapper {
		bottom: 0;
		left: 30px;
		min-width: 0;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		z-index: 99998;
		width: auto;
		.modal-inner-wrap {
			height: 100%;
			overflow-y: auto;
			position: static;
			transform: translateX(100%);
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-o-transform: translateX(100%);
			transition-duration: 0.3s;
			transition-property: transform, visibility;
			transition-timing-function: ease-in-out;
			width: auto;
			background-color: #f4f4f4;
			box-sizing: border-box;
			height: auto;
			min-height: 100%;
			.modal-header {
				display: block;
				min-height: unset;
				padding: 0;
				border: none;
				.action-close {
					width: 40px;
					height: 40px;
					text-align: center;
					background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
					border: 0 none;
					box-shadow: none;
					box-sizing: content-box;
					display: inline-block;
					font-weight: 400;
					line-height: inherit;
					padding: 0;
					position: absolute;
					right: 20px;
					text-decoration: none;
					text-shadow: none;
					top: 16px;
					z-index: 1;
					&:after {
						content: "x";
						font-size: 30px;
						line-height: 1;
					}
					>span {
						border: 0 none;
						clip: rect(0px, 0px, 0px, 0px);
						height: 1px;
						margin: -1px;
						overflow: hidden;
						padding: 0;
						position: absolute;
						width: 1px;
					}
				}
			}
		}
	}
	.opc-sidebar.opc-summary-wrapper._show {
		overflow-x: hidden;
		overflow-y: auto;
		visibility: visible;
		.modal-inner-wrap {
			transform: translateX(0px);
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			-o-transform: translateX(0px);
		}
	}
	.opc-sidebar.opc-summary-wrapper._show+.modal-custom-overlay {
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 899 !important;
		background-color: rgba(51, 51, 51, 0.55);
	}
	.opc-estimated-wrapper {
		background: #f4f4f4 none repeat scroll 0 0;
		border: 1px solid #ccc;
		margin: 0 0 30px;
		padding: 11px 20px;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		.estimated-block {
			float: left;
			font-size: 18px;
			font-weight: 400;
			color: #2a2a2a;
			.estimated-label {
				display: block;
				margin: 0 0 5px;
			}
			.estimated-price {
				color: #56cfe1;
			}
		}
		.minicart-wrapper {
			display: inline-block;
			float: right;
			position: relative;
			margin: 0;
			button.action.showcart {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border: 0 none;
				box-shadow: none;
				box-sizing: content-box;
				font-weight: 400;
				line-height: inherit;
				margin: 0;
				padding: 0;
				text-decoration: none;
				text-shadow: none;
				&:before {
					font-size: 26px;
				}
				>.counter.qty {
					background-color: #56cfe1;
					border-radius: 2px;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					-o-border-radius: 2px;
					color: #fff;
					display: inline-block;
					font-size: 14px;
					margin: 13px 0 0;
					min-width: 30px;
					text-align: center;
					vertical-align: top;
					white-space: normal;
				}
			}
		}
	}
	.table-checkout-shipping-method {
		thead {
			display: none;
		}
		tbody {
			tr {
				td {
					padding: 14px 0 11px;
				}
				td.col-method {
					padding-left: 10px;
					padding-right: 10px;
				}
			}
		}
	}
	.header.header8 {
		.middle-header-content {
			.parent__search {
				width: 0;
				padding: 0;
			}
		}
		.top-header-content {
			padding-bottom: 14px;
			.top-custom-link {
				ul {
					text-align: center;
					li {
						float: none;
						display: inline-block;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.header.header9 {
		.table-icon-menu {
			position: absolute;
			top: -49px;
			right: 0;
			z-index: 10;
		}
		.vertical-title {
			background: none;
			padding: 0;
		}
		.vertical-menu-widget {
			.vertical-menu {
				display: none;
			}
		}
		.top-header-content {
			padding-bottom: 14px;
			.top-custom-link {
				ul {
					text-align: center;
					li {
						float: none;
						display: inline-block;
						padding-bottom: 0;
					}
				}
			}
		}
	}
	.sm-ceter {
		float: none;
		margin: 0 auto;
	}
	.sm-padding30 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.sm-padding15 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.slider_comestics {
		h2 {
			font-size: 35px;
			line-height: 35px;
			margin-bottom: 15px;
		}
		.slider-item {
			.bottom {
				h2 {
					line-height: 25px;
					margin-bottom: 0;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.footer.footer2 {
		.block.newsletter {
			.form.subscribe {
				.actions {
					.action.subscribe {
						padding: 0 30px;
					}
				}
			}
		}
	}
	#co-place-order-area {
		>.col-mp {
			float: left;
		}
	}
	.header {
		.search-form.select-search {
			.form-search {
				.form.minisearch {
					.search-select {
						display: table-cell;
						vertical-align: middle;
						width: 1%;
					}
					.input-text {
						display: table-cell;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.products-grid {
		.product-item-info {
			.tocart.btn-cart {
				.icon {
					display: none;
				}
			}
		}
	}
	.page-layout-3columns {
		.bottom-pagination {
			border-top: 1px solid #ddd;
			padding-top: 13px;
			.toolbar {
				.limiter {
					display: block;
					text-align: right;
				}
				.pages {
					padding-top: 0;
					-webkit-flex: 1;
					-ms-flex: 1;
					flex: 1;
					border-top: none;
				}
				.pagination {
					margin: 0;
				}
			}
		}
	}
	.product.info.detailed.after-content {
		.product-data-items-content {
			.title-accordion {
				display: none;
			}
			.data.item.content {
				padding: 0;
				border: none;
			}
		}
	}
}
@media (max-width: 1199px) {
	.footer.footer4 {
		.middle-footer-container {
			.footer-map {
				height: 300px;
			}
		}
	}
	.nav-open {
		.close-nav-button {
			display: block;
			opacity: 1;
			right: 0;
			left: auto;
			top: 4px;
		}
	}
	.nav-before-open {
		height: 100%;
		overflow-x: hidden;
		width: 100%;
		body {
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 100%;
		}
		.page-wrapper {
			height: 100%;
			left: 0;
			overflow: hidden;
			position: relative;
			transition: left 0.3s ease 0s;
			-webkit-transition: left 0.3s ease 0s;
			-moz-transition: left 0.3s ease 0s;
			-o-transition: left 0.3s ease 0s;
		}
		.header {
			.megamenu-content {
				-webkit-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
				-ms-box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
				box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
				transform: translate3d(400px, 0, 0);
				-webkit-transform: translate3d(400px, 0, 0);
				-moz-transform: translate3d(400px, 0, 0);
				-o-transform: translate3d(400px, 0, 0);
			}
		}
		.nav-toggle {
			&:after {
				background: rgba(0, 0, 0, 0.7);
				content: '';
				display: block;
				height: 100%;
				position: fixed;
				right: 0;
				top: 0;
				width: 100%;
				z-index: 999;
			}
		}
	}
	.checkout-index-index._has-modal-custom {
		.header {
			z-index: auto;
		}
	}
	.header {
		&:not(.header6) {
			&:not(.header7) {
				.megamenu-content {
					height: 100%;
					left: calc(~"-1 * (100% - 54px)");
					overflow: auto;
					position: fixed;
					width: calc(~"100% - 54px");
					max-width: 400px;
					background-color: #fff;
					z-index: 1000;
					padding: 0;
					left: -400px;
					top: 0;
					bottom: 0;
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;
					-o-transition: all 0.3s;
					.nav-tabs {
						border: none;
						>li {
							width: calc(100% / 3);
							text-align: center;
							margin: 0;
							>a {
								background: none;
								padding: 25px 0;
								display: block;
								border-radius: 0;
								-webkit-border-radius: 0;
								-moz-border-radius: 0;
								-o-border-radius: 0;
								margin: 0;
								font-weight: 600;
								color: #287377;
                                 background-color: #182444;
								border: none !important;
							}
						}
						>li+li {
							border-left: 1px solid rgba(255, 255, 255, 0.3);
						}
						>li.active {
							>a {
								background-color: #fff;
								color: #272727;
							}
						}
					}
					.top-links {
						text-align: left;
						margin: 0;
						li {
							width: 100%;
							a {
								&:not(.no-display) {
									border-bottom: 1px solid #e3e3e3;
									color: #182444;
									display: block;
									padding: 10px 15px;
									font-size: 17px!important;
								}
							}
						}
					}
					.dropdown-switcher {
						float: none;
						display: block;
						border-bottom: 1px solid #e3e3e3;
						margin: 0;
						position: relative;
						.switcher-toggle {
							padding-left: 15px;
							width: 100%;
							text-align: left;
						}
						.dropdown-menu {
							left: 15px;
							right: auto;
						}
					}
				}
				.navigation {
					.nav-main-menu {
						.label-menu {
							position: static !important;
							display: inline-block;
							float: right;
							vertical-align: middle;
							margin-top: 4px;
							margin-right: 20px;
						}
					}
				}
				.nav-main-menu {
					li {
						>a {
							&:hover {
								color: #56cfe1 !important;
							}
						}
					}
				}
				.megamenu-content.no-menu-settings {
					.nav-tabs {
						>li {
							width: calc(100% / 2);
						}
					}
				}
			}
		}
		.mega-menu-content {
			.static-content {
				display: none !important;
			}
		}
		.dropdown-toplinks {
			display: none !important;
		}
		.table-icon-menu {
			>.header-wl {
				display: none !important;
			}
		}
		.nav.nav-main-menu {
			>li.logo-item {
				display: none !important;
			}
		}
		.header.header4 {
			.bottom-header-content {
				display: none;
			}
		}
	}
	.header.header5 {
		ul.social-link {
			li {
				margin: 0 5px;
				a {
					padding: 11px;
					display: block;
				}
			}
		}
		.middle-header-content {
			.middle-content {
				&:after {
					content: "";
					display: table;
					clear: both;
				}
				.action-menu-responsive {
					float: left;
					width: calc(100% / 3);
				}
				.logo {
					float: left;
					width: calc(100% / 3);
					padding-top: 17px;
					text-align: center;
					display: block;
				}
				.table-icon-menu {
					float: right;
				}
			}
		}
	}
	.header.header8 {
		.vertical-menu-widget {
			.vertical-menu {
				max-height: 350px;
				overflow-y: auto;
				overflow-x: hidden;
				display: none;
			}
		}
	}
	.header.header9 {
		.middle-header-content {
			.logo-header {
				.logo {
					padding-top: 17px;
					padding-bottom: 17px;
				}
			}
		}
	}
	.slider_comestic.owl-carousel {
		.owl-nav {
			>div {
				color: #c2c2c2;
				border: 2px solid #c2c2c2;
			}
		}
	}
	.cosmestics-banner {
		padding: 0;
		h3 {
			font-size: 20px !important;
			line-height: 25px !important;
		}
		h4 {
			font-size: 30px !important;
			line-height: 35px !important;
		}
	}
	.rorate {
		.banner-text {
			>div {
				margin-right: -100px;
				padding-left: 0px;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1599px) {
	.footer.footer4 {
		.middle-footer-container {
			.middle-footer {
				padding: 50px 70px 0;
			}
		}
		.bottom-footer {
			padding: 20px 70px;
		}
	}
}
@media (min-width: 1660px) {
	.container-large {
		.container {
			width: 1620px !important;
		}
	}
}
@media (min-width: 1200px) and (min-width: 1499px) {
	.header.header5 {
		.navigation {
			.nav-main-menu {
				>li.mega-menu-fullwidth {
					>ul.dropdown-menu {
						width: 1200px !important;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1199px) {
	.header.header5 {
		.navigation {
			.nav-main-menu {
				>li.mega-menu-fullwidth {
					>ul.dropdown-menu {
						width: auto !important;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.header {
		.top-header-content {
			.top-middle-header {
				text-align: right;
			}
		}
	}
	.header.header8 {
		.bottom-header-content {
			.parent__megameu {
				float: right;
			}
		}
		.bottom-header-block {
			text-align: left;
		}
	}
	.testimonial-list-block.boxed_content {
		padding: 60px 50px;
	}
}
@media (max-width: 767px) {
	.owl-carousel {
		.owl-nav {
			>div {
				opacity: 1 !important;
				visibility: unset !important;
			}
		}
	}
	.account {
		.sidebar.sidebar-main {
			margin-top: 30px;
		}
	}
	.checkout-cart-index {
		#shopping-cart-table {
			tbody {
				tr.item-actions {
					td {
						padding-right: 50% !important;
						text-align: left;
						margin-left: 50%;
						padding-left: 0px !important;
						>.actions-toolbar {
							border-top: unset;
							padding: 10px 0 0;
							>a {
							&	+ {
									a {
										margin-top: 10px;
									}
								}
							}
						}
					}
				}
				border: 1px solid #eaeaea;
				display: block;
				padding: 20px 0;
				tr {
					display: block;
					clear: both;
					td {
						display: block;
						border: none;
						text-align: left;
						padding: 5px 15px !important;
						width: 100%;
					}
					td.price {
						padding-left: 50% !important;
					}
					td.qty {
						padding-left: 50% !important;
					}
					td.subtotal {
						padding-left: 50% !important;
					}
					td.col {
						&:not(.item) {
							&:before {
								content: attr(data-th) ":";
								font-size: 15px;
								display: inline-block;
								margin-right: 5px;
								color: #2a2a2a;
							}
						}
					}
					td.col.qty {
						.field.qty {
							display: inline-block;
							vertical-align: middle;
						}
					}
					td.col.item {
						.product-item-photo {
							float: none;
						}
						float: left;
						width: 50%;
						.product-item-details {
							float: none;
							width: 100%;
							margin: 10px 0 0;
							padding: 0;
						}
						&:after {
							content: "";
							display: table;
							clear: both;
						}
					}
				}
			}
			thead {
				display: none;
			}
			.gift-options-cart-item {
				border-bottom: unset;
			}
		}
		.checkout-extra {
			padding: 0;
			border: none;
			>.block {
				>.title {
					width: 100%;
					position: static;
					margin: 0 !important;
					border: 1px solid #efefef;
					padding: 12px 20px 12px;
				}
				>.title.active {
					border-color: #2a2a2a;
				}
				>.content {
					border: 1px solid #efefef;
					border-top: none;
					padding: 30px 20px;
				}
			}
		}
		.cart-container {
			.cart.main.actions {
				.btn {
					width: 100%;
					text-align: center;
				}
				.btn+.btn {
					margin: 15px 0 0;
				}
			}
		}
		.actions-toolbar {
			border-top: none !important;
			padding-left: 30px !important;
			padding-right: 5px !important;
			position: relative !important;
		}
	}
	.fullscreen-slider {
		.slide-text {
			h2 {
				-webkit-text-shadow: 0px 0px 5px #fff;
				text-shadow: 0px 0px 5px #fff;
			}
		}
	}
	.header {
		.top-header-content {
			.top-custom-link {
				ul {
					display: table;
					margin: 0 auto;
					li {
						padding-bottom: 0;
						padding-top: 5px;
					}
				}
			}
			.top-middle-header {
				padding-top: 0;
			}
		}
		.mobile-item-col {
			float: left;
			width: calc(100% / 3);
		}
		.search-form.select-search {
			.form-search {
				.form.minisearch {
					.search-select {
						.search-toggle {
							width: 100%;
							margin-bottom: 15px;
						}
					}
				}
			}
		}
	}
	.minicart-wrapper {
		.block-minicart {
			width: 320px;
		}
	}
	.products-grid {
		.product-item-info {
			.tocart.btn-cart {
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-o-border-radius: 50%;
				padding: 0;
				width: 50px;
				height: 50px;
				.icon {
					margin: 0;
				}
				.text {
					display: none;
				}
			}
		}
	}
	.content-heading {
		h3.title {
			&:before {
				content: none !important;
			}
			&:after {
				content: none !important;
			}
		}
	}
	.toolbar {
		.limiter {
			display: none;
		}
		select {
			max-width: 150px;
		}
		.pages {
			.pagination {
				.item {
					padding: 0 12px;
				}
			}
		}
	}
	body {
		&:not(.page-layout-1column) {
			.toolbar {
				.sorter {
					text-align: left;
				}
				select {
					max-width: 150px;
				}
			}
		}
	}
	.blog-list {
		.post-item-info {
			margin-bottom: 60px;
			.post-image.has-image {
				.post-info {
					position: static;
				}
			}
		}
	}
	.blog-post-view {
		.post-comments {
			.item {
				.info {
					.posted-on {
						display: block;
					}
				}
			}
		}
	}
	#shipping-method-buttons-container {
		.action {
			width: 100%;
		}
		button.action {
			width: 100%;
		}
	}
	.payment-method-content {
		.actions-toolbar {
			.action {
				width: 100%;
			}
			button.action {
				width: 100%;
			}
		}
	}
	#multiship-addresses-table {
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				padding: 15px;
				border: 1px solid #eaeaea;
				td {
					text-align: left !important;
					padding: 0 !important;
					display: block;
					border: none;
					.field {
						.label {
							display: block !important;
						}
					}
				}
				td+td {
					margin-top: 15px;
				}
			}
		}
	}
	.lookbook_banner.parallax {
		background-attachment: inherit !important;
	}
	.lookbook_banner {
		.big-title {
			font-size: 40px;
		}
	}
	.cms-index-index {
		section.padding-left30 {
			padding-left: 15px;
		}
		section.padding-right30 {
			padding-right: 15px;
		}
	}
	.product-data-items-menu {
		display: none !important;
	}
	.sticky-info-multiple-col {
		.product-detail-infomation {
			padding-top: 30px;
		}
	}
	.product-detail-infomation {
		margin-top: 25px;
	}
	.product-detail-infomation.margin-top65 {
		margin-top: 65px;
	}
	.header.header8 {
		.bottom-header-content {
			position: relative;
			.parent__megameu {
				.nav-toggle {
					position: absolute;
					right: 15px;
					top: 0;
					z-index: 3;
					background-color: #56cfe1;
				}
			}
		}
	}
	.popup__related {
		display: none !important;
	}
	.slider_item {
		.text-slider {
			h2 {
				font-size: 30px;
				line-height: 1;
			}
		}
	}
	.testimonial-list-block.boxed_content {
		padding: 30px 40px;
	}
	.testimonial-list-block {
		.testimonial-content {
			.content {
				blockquote {
					&:before {
						left: 50%;
						transform: translateX(-50%);
						-webkit-transform: translateX(-50%);
						-moz-transform: translateX(-50%);
						-o-transform: translateX(-50%);
					}
				}
			}
			.author-thumbnail {
				float: none;
				margin: 0 auto 40px;
			}
		}
		.testimonial-content.has-image {
			.content {
				padding-left: 0;
				float: none;
				text-align: center;
				width: 100%;
			}
		}
	}
	.sub-categories {
		display: none;
	}
	.decor-banner {
		p {
			font-size: 30px !important;
		}
	}
	.cosmestics-banner {
		padding: 0;
		h3 {
			font-size: 15px !important;
			line-height: 20px !important;
		}
		h4 {
			font-size: 20px !important;
			line-height: 30px !important;
		}
	}
	.rorate {
		.banner-text {
			.cosmestics-banner {
				margin-right: -150px;
				padding-left: 60px;
			}
		}
	}
	.video-banner {
		#video-background {
			&:not(.loaded) {
				display: none !important;
			}
			&:not(.loaded)+.text {
				z-index: 1;
				padding-top: 100px;
				padding-bottom: 100px;
			}
		}
	}
}
@media (max-width: 768px) {
	.block.filter {
		.filter-content {
			.filter-options-item {
				.filter-options-title {
					&:after {
						content: none !important;
					}
				}
				.filter-options-content {
					display: block !important;
				}
			}
		}
	}
	.multishipping-checkout-overview {
		.table-order-review {
			thead {
				tr {
					display: block;
					th {
						display: none;
					}
					th.col.item {
						display: block !important;
						padding-left: 0;
						padding-right: 0;
						border: none !important;
						text-align: left;
					}
				}
			}
			tbody {
				tr {
					border: 1px solid #f0f0f0;
					display: block;
					padding: 15px;
					td {
						display: block;
						padding: 0 !important;
						border: none !important;
						text-align: left;
						&:not(.item) {
							&:before {
								display: inline-block;
								content: attr(data-th) ":";
								font-size: 13px;
								margin-right: 5px;
								color: #2a2a2a;
							}
						}
					}
					td.qty {
						text-align: left;
					}
				}
			}
			tfoot {
				tr {
					border: 1px solid #f0f0f0;
					display: block;
					padding: 15px;
					td {
						display: block;
						padding: 0 !important;
						border: none !important;
						text-align: left;
					}
					th {
						display: block;
						padding: 0 !important;
						border: none !important;
						text-align: left;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.page-layout-1column {
		.category-product-actions {
			.toolbar-products {
				width: 85%;
			}
			.block.filter {
				width: 15%;
			}
		}
	}
	.checkout-cart-index {
		.checkout-extra {
			padding-left: 200px;
			>.block {
				>.title {
					width: 200px;
				}
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1499px) {
	body.wide {
		.menu_vertical_fixed {
			.container {
				width: 100%;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1659px) {
	body.wide {
		.menu_vertical_fixed.width1366 {
			.container {
				width: 100%;
			}
		}
	}
}
@media (min-width: 1200px) and (max-width: 1469px) {
	body.wide {
		.menu_vertical_fixed.width1024 {
			.container {
				width: 100%;
			}
		}
	}
}
@media all and (max-width: 767px) {
	.YouTubePopUp-Content {
		max-width: 90%;
	}
}
@media all and (max-width: 600px) {
	.YouTubePopUp-Content {
		iframe {
			height: 320px !important;
		}
	}
	.YouTubePopUp-Close {
		bottom: 362px;
	}
}
@media all and (max-width: 480px) {
	.YouTubePopUp-Content {
		iframe {
			height: 220px !important;
		}
	}
	.YouTubePopUp-Close {
		bottom: 262px;
	}
}
@media (max-width: 380px) {
	.success-ajax--popup {
		.mfp-close {
			right: 0;
			top: -30px !important;
		}
	}
}
@media (min-width: 1300px) {
	.service-boxed {
		margin-left: -45px;
		margin-right: -45px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.service-boxed {
		.icon-service {
			width: 50%;
			&:last-child {
				padding-top: 0;
			}
		}
		.icon-service.first-sm-item {
			padding-top: 0;
		}
	}
}
@media (max-width: 767px) and (max-width: 992px) {
	.service-boxed {
		.icon-service {
			width: 100%;
		}
		.icon-service+.icon-service {
			padding-top: 0;
		}
	}
}
@media (max-width: 479px) {
	.col-xxs-12 {
		width: 100%;
	}
	.simple-product {
		.products-grid {
			.product-item {
				width: 100%;
			}
		}
	}
	.slider_comestics {
		.slider-item {
			&:hover {
				&:before {
					background-color: rgba(0, 0, 0, 0);
				}
			}
			.text-slider {
				top: 50%;
				visibility: visible;
				opacity: 1;
				width: 100%;
			}
			.bottom {
				bottom: -100px;
			}
		}
		h2 {
			font-size: 25px;
			margin-bottom: 10px;
			line-height: 25px;
		}
		a {
			padding: 0 12px;
		}
	}
}
@media (max-width: 991px) and (min-width: 768px) {
	.deal-timer {
		padding: 0 3px;
		.time-note {
			margin-left: 0px;
			margin-right: 0px;
		}
		.countdown {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	.sm-text30 {
		.big-text {
			font-size: 30px !important;
		}
	}
}
@media (max-width:321px) {
	.hidden-lg.col-md-4.col-sm-4.logo-header.mobile-item-col {
		img {
			position: absolute;
			right: 30%;
			height: unset !important;
		}
	}
}
