.bottom50 {
	.fullscreen-slider {
		.owl-carousel {
			.item {
				.item-image {
					height: 100%;
					img {
						height: 100%;
					}
				}
			}
		}
	}
}
.products-grid {
	.product-item-info {
		.product-top {
			.tocart.btn-cart {
				display: none;
			}
			a.photo {
				&:after {
					display: none;
				}
			}
			.actions-link {
				button.tocompare {
					display: none;
				}
				button {
					color: #9e9e9e;
					transform: scale(0);
					-webkit-transform: none;
					-moz-transform: none;
					-o-transform: none;
					opacity: 1;
					visibility: visible;
					text-shadow: 0 0 0px #fff;
					&:hover {
						color: #9e9e9e;
					}
				}
			}
		}
	}
}
