<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Sales\Block\Order\Email\Items\DefaultItems */

/** @var $_item \Magento\Sales\Model\Order\Item */
$_item = $block->getItem();
$_order = $_item->getOrder();
$_item = $block->getItem();
$_order = $_item->getOrder();
$_store = $_order->getStore();

$imageSize = (int)$block->getConfig('sales_email/imageconfig/image_resize');
if($imageSize <=10)
    $imageSize = 90;
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
if($childProd = current($_item->getChildrenItems()))
{
        $productImage = $_imagehelper->init($childProd->getProduct(), 'category_page_list', array('height' => $imageSize , 'width'=> $imageSize))->getUrl();
}
else
{
        $productImage = $_imagehelper->init($_item->getProduct(), 'category_page_list', array('height' => $imageSize , 'width'=> $imageSize))->getUrl();
}
?>


<tr style="border: 1px solid #ccc;">
    <td class="productImage" style="font-family: verdana;">
        <p class="sku">
            <img src="<?=$productImage?>" title="<?= $block->escapeHtml($_item->getName()) ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>" />
        </p>
    </td>
    <td  class="item-info<?php if ($block->getItemOptions()): ?> has-extra<?php endif; ?>">
        <p style="margin: 0px;" class="product-name"><?= $block->escapeHtml($_item->getName()) ?></p>
        <p style="margin: 0px;" class="sku"><?= /* @escapeNotVerified */  __('SKU') ?>: <?= $block->escapeHtml($block->getSku($_item)) ?></p>
        
        <?php if ($block->getItemOptions()): ?>
            <p style="margin: 0px;" class="item-options">
            <?php foreach ($block->getItemOptions() as $option): ?>
                <span><strong><b><?= /* @escapeNotVerified */  $option['label'] ?>:</b></strong></span>
                <span>
                    <?= /* @escapeNotVerified */  nl2br($option['value']) ?>
                </span><br>
            <?php endforeach; ?>
            </p>
        <?php endif; ?>
        <?php $addInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
        <?php if ($addInfoBlock) :?>
            <?= $addInfoBlock->setItem($_item)->toHtml() ?>
        <?php endif; ?>
        <?= $block->escapeHtml($_item->getDescription()) ?>
    </td>
    <td style="text-align: center;font-family: verdana;" class="item-qty"><?= /* @escapeNotVerified */  $_item->getQtyOrdered() * 1 ?></td>
    <td style="text-align: center;font-family: verdana;" class="item-price">
        <?php $priceFormatted = $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(number_format($_item->getPrice(), 2), true, false); ?>
    <?= /* @escapeNotVerified */  $priceFormatted;//$block->getItemPrice($_item)
    ?>
    </td>
</tr>
<?php if ($_item->getGiftMessageId() && $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_item->getGiftMessageId())): ?>
<tr>
    <td colspan="3" class="item-extra">
        <table class="message-gift">
            <tr>
                <td>
                    <h3><?= /* @escapeNotVerified */  __('Gift Message') ?></h3>
                    <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                    <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                    <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                </td>
            </tr>
        </table>
    </td>
</tr>
<?php endif; ?>
