<?php
/* @var $block MGS\AjaxCart\Block\Ui\Product\Image */
?>
<?php $product = $block->getProductImage() ?>
<?php if($product != ""): ?>
	<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
	<?php $image = 'category_page_grid'; ?>
	<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data');; ?>
	<?php $size = $themeHelper->getImageMinSize(); ?>
	<div class="popup__image-wrapper">
		<?php $productImage = $_imagehelper->init($product, $image)->resize($size['width'], $size['height'])->getUrl(); ?>
		<img class="img-responsive" alt="" src="<?php echo $productImage; ?>" />
	</div>
	</div>
</div>
<div class="popup__table-col">
	<div class="popup__column--result">
	<div class="attribute">
		<div class="minicart-items">
			<div class="product-item">
				<div class="product-item-details" style="float:none">
					<?php 
						$label_1 = $product->getResource()->getAttribute('color')->getStoreLabel(); 
						$label_2 = $product->getResource()->getAttribute('size')->getStoreLabel(); 
					?>
					<dl class="product options list">
			            <dt class="label" style="
			            	float: none;
						    display: block;
						    width: 100%;
						    margin: 0;
			            "><?php echo $label_1; ?></dt>
			            <dd class="values" style="
			            	float: none;
						    display: block;
						    width: 100%;
						    margin: 0;
			            ">
			                <span><?php echo $product->getAttributeText('color'); ?></span>
			            </dd>
			            <dt class="label" style="
			            	float: none;
						    display: block;
						    width: 100%;
						    margin: 0;
			            "><?php echo $label_2; ?></dt>
			            <dd class="values" style="
			            	float: none;
						    display: block;
						    width: 100%;
						    margin: 0;
			            ">
			                <span><?php echo $product->getAttributeText('size'); ?></span>
			            </dd>
			        </dl>
		        </div>
	        </div>
		</div>
	</div>
<?php endif ?>

