.brand-related-products .products-grid .product-item-info .product-top a.photo {
    padding-bottom: 100% !important;
    height: 360px!important;
    }
    .brand-related-products .owl-carousel .owl-item img.owl-lazy {
        height: 360px!important;
    }
    @media only screen and (max-width: 768px){
    .product.info.detailed .item.content .table.additional-attributes {
        margin: 0;
        width: 100%!important;
    }
    }
    @media only screen and (max-width: 768px){
    .product.info.detailed .item.content .table.additional-attributes tr td, .product.info.detailed .item.content .table.additional-attributes tr th {
    text-align: right!important;
    }
    }
    @media only screen and (max-width: 768px){
    .product.info.detailed .item.content .table.additional-attributes tr td, .product.info.detailed .item.content .table.additional-attributes tr th {
     padding: 9px!important;
    }
    }
    
    .product-add-form .product-options-wrapper .swatch-attribute.color{
        display:none;
    }
    .catalog-product-view.wide .product__colors {
        margin-top: 20px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
       
    } 
    .catalog-product-view.wide .product__colorlist .product__color{
         padding-top: 10px;
        border: 1px solid transparent;
        padding: 1px;
    }
    .catalog-product-view.wide .product__colorlist .product__color.selected {
        border: 1px solid grey;
    }
    .table-middle {
        display: table;
        width: 100%;
        height: 100%;
    }
    .table-cell {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
    .catalog-product-view.wide .product__color-label {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 600;
        color: #222;
    }
    .catalog-product-view.wide .product__colorlist {
        display: flex;
        flex-wrap: wrap;
    }
    .catalog-product-view.wide .product__colorlist .product__color {
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .catalog-product-view.wide .product__colors {
        margin-top: 20px;
        border-top: none!important;
        border-bottom: none!important;
    }
    .header{position: relative; z-index: 99;}.big-item .products-grid .product-item-info.metro_template .product-top a.photo { padding-top: calc(133.3333% - 10px) !important; }
    .products-grid .big-item .product-item-info.metro_template .product-top a.photo { padding-bottom: calc(133.3333% - 10px) !important; }
    .table-cell .img {
        height: 106px!important;
        width: 96px!important;
    }
    .product__colors .img {
        height: 106px!important;
        width: 96px!important;
    }
    .catalog-product-view.wide .product__colorlist .product__color .img {
        height: 106px!important;
        width: 96px!important;
    }
    .catalog-product-view.wide .product__colorlist .img{
        height: 106px!important;
        width: 96px!important;
    }
    .product-options-bottom .table-cell .img {
            height: 106px!important;
        width: 96px!important;
    }
    .table-cell {
        display: table-cell;
        width: 86px!important;
        height: 106px!important;
        vertical-align: middle;
    }
    .product-options-bottom .img {
            height: 106px!important;
        width: 96px!important;
    }
    @media only screen and (max-width: 768px){
    .desc-text {
        font-size: 15px;
        color: #4E4E4E;
        font-weight: 100;
    }
    }
    @media only screen and (max-width: 768px){
    .shravan-static {
        width: 100%!important;
        margin-right: 0px!important;
    }
    }
    @media only screen and (max-width: 768px){
    .product-info-main .product-sub-infomation:not(:empty) {
        padding: 15px 0 8px;
        float: left!important;
        display: none!Important;
    }
    }
    @media only screen and (max-width: 768px){
    .product-brand {
        margin-bottom: 4px;
        margin-top: -14px;
        font-size: 20px;
        font-weight: 600;
        color:#000;
    }
    }
    @media only screen and (max-width: 768px){
    .product-detail-infomation .product-name {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 600;
    }
    }
    .shravan-static-text {
    font-size: 12px;
    text-align: center; 
    color: #000000;
    }
    .img-with-text-below-one {
    width: 25%;
    margin-top: 10px;
    float:left;
    }
    .img-with-text-below {
    width: 25%;
    border-left: 1px solid #707070;
    margin-top: 10px;
    float:left;
    }
    @media only screen and (min-width: 768px){
    .shravan-static {
    float: right;
    width: 75%;
    margin-right: 155px;
    }
    }
    @media only screen and (max-width: 768px){
    .shravan-static-img {
    margin-left: 27px!important;
    height: 29px;
    width: 29px;
    margin: 12px;
    margin-right: 25px
    }
    }
    @media only screen and (min-width: 768px){
    .shravan-static-img {
    height: 29px;
    width: 29px;
    margin: 12px;
    margin-left:38px;
    margin-right: 25px;
    }
    }
    @media only screen and (max-width: 768px){
    .product-info-main .product-add-form .actions button.tocart, .bundle-info .product-details .actions button.tocart{
        width: 337px!important;
        height: 60px!important;
    }
    }
    @media only screen and (max-width: 768px){
    .product-info-main .product-add-form .actions.action-add-to {
        display: none!important;
    }
    }
    @media only screen and (max-width: 768px){
    .product-info-main .swatch-option.text {
        height: 45px!important;
        line-height: 30px!important;
        padding: 10px 10px 10px 10px!important;
        border-radius: 8px!important;
        width: 45px!important;
    }
    }
    @media only screen and (min-width: 768px){
    .product-info-main .swatch-option.text {
        height: 50px!important;
        line-height: 30px!important;
        padding: 10px 10px 10px 10px!important;
        border-radius: 8px!important;
        width: 50px!important;
    }
    }
    
    .swatch-option:hover, .swatch-option.selected {
        box-shadow: 2px 2px 2px 2px #eaeaea!important;
        border: 1.8px solid #000000!important;
    }
    @media only screen and (min-width: 768px){
    .product-brand {
        margin-bottom: -10px;
        margin-top: 0px;
        font-size: 20px;
        color: #000;
        font-weight: 600;
    }
    }
    @media only screen and (min-width: 768px){
    .product-info-main .product-add-form .actions button.tocart, .bundle-info .product-details .actions button.tocart{
        border-color: #222;
        background-color: #222;
        width: 350px!important;
        height: 45px!Important;
    }
    }
    @media only screen and (min-width: 768px){
    .desc-text {
        font-size: 14px;
        color: #4E4E4E;
    }
    }
    @media only screen and (min-width: 768px){
    .product-detail-infomation .product-name {
        font-size: 14px!important;
        margin-bottom: 4px;
        font-weight: 100;
    }
    }
    @media only screen and (min-width: 768px){
    .product-info-main .product-add-form .actions button.tocart:hover, .bundle-info .product-details .actions button.tocart:hover {
        border-color: #222;
        background-color: #222;
        width: 350px;
        height: 45px;
    }
    }
    @media only screen and (min-width: 768px){
    .product-info-main .product-add-form .actions.action-add-to button {
        padding-left: 8px;
        padding-right: 8px;
        height: 45px;
    }
    }
    .product-info-main .swatch-option.text.selected, .swatch-option.text:hover {
        color: #000!Important;
    }
    .product-info-main .swatch-option.text {
        border: 1px solid #ddd;
        white-space: nowrap;
        background: #fff;
        color: #414a4cc2!important;
        font-size: 16px!important;
        border-radius: 20px;
        font-weight: 100;
    }
    .product-info-main .product-add-form .actions button.tocart, .bundle-info .product-details .actions button.tocart {
        font-size: 13px;
        padding: 0px 58px;
        background-color: #28B18F!important;
        border: 1px solid #28B18F!important;
        color: #fff;
        border-radius: 10px 10px 10px 10px;
        line-height: 40px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .product-sub-infomation .product-brand{
        display: none!important;
    }
    
    .product-info-main .price-box .price {
      font-size: 20px !important;
    }
    .product-info-main .product-info-price .price-box .price {
        color: #000;
    }
    .price-box .old-price .price {
        color: #000!important;
        text-decoration: line-through;
    }
    .product-info-main .product-add-form {
        margin-bottom: 10px;
        margin-top: -10px!important;
    }
    .product-info-main .product-sub-infomation>div {
        padding: 5px 0;
        float: right;
        margin-left: 39px;
        font-family: frutiger!important;
        color:#000!important;
    }
    .product-info-main .product-sub-infomation .product.attribute.sku strong {
        font-weight: 400;
        color: #222;
        margin-right: 0px!important;
    }
    .catalog-product-view.wide .product__colorlist {
        margin-right: -10px!important;
    }
    
    .special_price .price {
    color:#FF0000!important;
    }
    .margin-top25 {
        margin-top: 25px;
        display: none!important;
    }
    .product-info-main .product-sub-infomation:not(:empty) {
        padding: 15px 0 8px;
        float: left!important;
    }
    .product-add-form .product-options-wrapper {
        padding-top: 0px!important;
    }
    .product-info-main .product-add-form .actions button, .bundle-info .product-details .actions button {
        height: 40px;
        width: 40px;
        background-color: #ffffff;
        border: 0.1px solid #70707061!important;
        color: #6c6c6c;
        font-size: 18px;
        text-align: center;
        border-radius: 10px 10px 10px 10px!important;
        line-height: 40px;
        box-shadow: none;
        float: left;
    }
    
    .product-info-main .product-add-form .box-tocart .field.qty, .bundle-info .product-details .box-tocart .field.qty {
    display: none!important;
    }
    .product-add-form .product-options-wrapper .swatch-opt .swatch-attribute-label {
        margin: 0 0 0px !important;
        display: inline-block;
        font-size: 16px!important;
        color: #000000!important;
        line-height: 1;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    .product-add-form .product-options-wrapper .swatch-opt .swatch-attribute+.swatch-attribute {
        margin-top: 20px;
    }
    .catalog-product-view.wide .product__colorlist .product__color.selected {
        border: 1.8px solid #000000!important;
        border-radius: 6px;
        box-shadow: 2px 2px 2px 2px #eaeaea;
    }
    .catalog-product-view.wide .product__color-label {
        font-size: 15px!important;
        margin-bottom: 10px!important;
        font-weight: 600;
        color: #222;
        margin-top: -13px;
    }
    
    @media only screen and (min-width: 768px) {
    .product-detail-infomation .product-name {
        display: block!important;
        margin-top: 15px!important;
    }
    }
    