<?php
/**
 * @category    CleverSoft
 * @package     CleverSlider
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author      ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */

$slider = $this->getSliderObject();
$_matoHelper = $this->helper('CleverSoft\Base\Helper\Data');
$rtl_language = $_matoHelper->getCfg('responsive/rtl_language');
?>
<?php if (count($slider)): ?>
    <?php
    $cssClass = json_decode($slider->getData('style'),true);
    $cssClass = implode(' ',$cssClass);
    $layout = $slider->getData('layout');
    $items = json_decode($slider->getContent());
    $uniqueS = uniqid('clever-slider-');
    ?>
    <div class="clever-slider-container <?php echo $cssClass ?>">
        <div class="clever-slider flexslider" id="<?php echo $uniqueS; ?>">
            <ul class="slides">
                <?php $i = 0;
                $youtube_list = array();
                $youtube_unique = array();
                $vimeo_unique = array();
                $vimeo_list = array();
                foreach ($items as $item): ?>
                    <?php
                    $content = $item->content;
                    $unique = uniqid('clever-slidshow-'.$i.'-');
                    if(!isset($content->show_overlay)) $content->show_overlay = '';
                    if (isset($content->image_align)) {
                        $bg_position = $content->image_align ;
                    }
                    ?>
                    <li id="clever-left-slide-<?php echo $i ?>-slideshow" data-video="<?php echo $unique ;?>" style="width: 100%; height: 100%;" <?php echo $i == 0 || $i == '0' ? 'class="flex-active-slide"' : ''?>>
                    <span class="zoo-loading" style="opacity: 1; visibility: visible;"></span>
                    <?php if($item->item_type =='image') : ?>
                        <?php
                        $bg_pos = $content->image_align;
                        $bg_img = $content->icon_img;
                        ?>
                        <div class="icon_img <?php echo $content->show_overlay ?>" style="background-image:url('<?php echo $bg_img; ?>');background-position: <?php echo $bg_position ?>;    background-color: rgba(0, 0, 0, 0);     background-size: cover;background-repeat: no-repeat;height: 100%;width: 100%;"></div>
                    <?php else: ?>
                        <?php if($content->video_type == '0') : ?>
                            <?php if(!empty($content->youtube_id)) : ?>
                                <div id="<?php echo $unique; ?>" class="background-video">
                                    <img class="jarallax-img" src="https://ak7.picdn.net/shutterstock/videos/2857717/thumb/1.jpg" alt="">
                                </div>
                                <?php
                                array_push($youtube_list,$content->youtube_id);
                                array_push($youtube_unique,$unique);
                                ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endif; ?>
                    <style>
                        #image-<?php echo $unique; ?> {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            z-index: -1;
                            background: #ffffff;
                        }
                    </style>
                    <div id="overload-<?php echo $unique ?>" class="zoo-slideshow-text-wrap ">
                        <div class="zoo-slideshow-text-content">
                            <div class="zoo-caption-slide <?php if($layout == 0 || $layout == '0' || $layout == 1 || $layout == '1' ) echo 'container' ?>">
                                <?php if(isset($content->heading_align) && !empty($content->heading_align)) : ?>
                        <h2 style="<?php echo (isset($content->bt_heading_color) && $content->bt_heading_color != '') ? 'color:'.$content->bt_heading_color : ''; ?>" class="heading_align slideshow__title align-<?php echo $content->heading_align ? $content->heading_align : 'center' ; ?>"><?php echo $content->label?$content->label:'';  ?></h2>
                    <?php endif; ?>

                    <?php if(isset($content->sub_heading_align) && !empty($content->sub_heading_align)) : ?>
                        <h3 style="<?php echo (isset($content->bt_sub_heading_color) && $content->bt_sub_heading_color != '' ) ? 'color:'.$content->bt_sub_heading_color : ''; ?>" class="sub_heading sub_heading_align  align-<?php echo $content->sub_heading_align ?$content->sub_heading_align : 'center' ?>"><?php echo $content->sub_heading?$content->sub_heading:''; ?></h3>
                    <?php endif; ?>

                    <?php if(isset($content->bt_label) && !empty($content->bt_label)) : ?>
                        <div class="zoo-button-slide align-<?php echo $content->bt_align? $content->bt_align : 'center'; ?>">
                            <a style="<?php echo (isset($content->bt_color ) &&  $content->bt_color != '') ? 'color:'.$content->bt_color.';' : ''; echo (isset($content->bt_bg_color) && $content->bt_bg_color !='' ) ? 'background:'.$content->bt_bg_color : '';  ?>" onmouseover="<?php echo $content->bt_lb_color ? 'this.style.color=\''.$content->bt_lb_color.'\';' : ''; echo $content->bt_bg_color_hover ? 'this.style.background=\''.$content->bt_bg_color_hover .'\'': '';  ?>" onmouseout="<?php echo $content->bt_color ? 'this.style.color=\''.$content->bt_color.'\';' : ''; echo $content->bt_bg_color ? 'this.style.background=\''.$content->bt_bg_color .'\'' : 'this.style.background=\'transparent\'';  ?>" class="button" href="<?php echo $content->slide_link ? $content->slide_link : '#' ?>"><?php echo $content->bt_label ? $content->bt_label : '' ?> </a>
                        </div>
                    <?php endif; ?>
                                </div>
                            </div>
                        </div>

                    </li>
                    <?php $i++; endforeach ?>

            </ul>
        </div>
    </div>
    <style>
        .clever-slider-lazyloader {
            width: 40px;
            height: 40px;
            background: url('<?php echo $this->getViewFileUrl('CleverSoft_CleverSlider::images/lazyloading.gif') ?>') no-repeat center center;
            background-color: #fff;
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
            border-radius: 3px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
        }
        .clever-slideshow-control-pause{
            background-position: center right;
        }
        .text-center {text-align: center}
        .ytplayer-shield {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 2;
        }
    </style>
    <script>
        require([
            "jquery",
            "flexsliderJS",
            "bgLoaderJS",
            "froogaLoop",
            "jarallax",
            "jarallaxVideo",
            "jarallaxElement"
        ], function ($) {
            function viewLayout($layout,flexslider) {
                var $left =  $('#<?php  echo $uniqueS;  ?>').offset().left;
                var $top =  $('#<?php  echo $uniqueS;  ?>').offset().top;
                var $window_h = $(window).height();
                if($layout == 0 || $layout == '0' || $layout == 1 || $layout == '1' ) {
                    $('#<?php  echo $uniqueS;  ?>').css({
                        width: '100vw',
                        position: 'relative',
                        left: '50%',
                        right: '50%',
                        'margin-left': '-50vw',
                        'margin-right': '-50vw'
                    });
                    $('#<?php  echo $uniqueS;  ?>').css({'border-width':'0' });
                }
                $('#<?php  echo $uniqueS;  ?> .flex-viewport').css('width','100%');
                //give height
                if($layout == 0 || $layout == '0' || $layout == 2 || $layout == '2' ) {
                    <?php
                    $height = $slider->getData('slide_height');
                    if(empty($height)) $height = '600';
                     if (!empty($height)) {
                     ?>
                    var $height = '<?php echo $height ?>';
                    $('#<?php  echo $uniqueS;  ?>').height($height);
                    <?php } ?>
                } else {
                    var $height = $window_h - $top;
                    $('#<?php  echo $uniqueS;  ?>').height($height);
                }

                $('#<?php  echo $uniqueS;  ?>').closest('.clever-slider-container').height($height);
                //
                if ($height) {$('#<?php  echo $uniqueS;  ?>').find('img').css({'width':'100%','height':$height});}
                if($layout == 0 || $layout == '0' || $layout == 2 || $layout == '2') {
                    $('.background-video').css('height',$height);
                }
                window.size = 1;

            }

            function doLazyLoadBg(){
                $('.icon_img').bgLoaded({
                    afterLoaded : function(){
                        this.addClass('bg-loaded');
                        this.parent('li').find('.zoo-loading').css('display','none');
                    }
                });
            }

            function doSliderFlex() {
                var $_i_m = (size > 1) ? 1 :  0;
                var $_i_w = ($('#<?php  echo $uniqueS;  ?>').width())/size - $_i_m;
                $('#<?php  echo $uniqueS;  ?>').flexslider({
                    animation: "fade",
                    controlNav: <?php echo  $slider->getData('show_pagination') ? 'true' : 'false' ?>,
                    directionNav: <?php echo  $slider->getData('show_nav') ? 'true' : 'false' ?>,
                    slideshow: <?php echo  $slider->getData('auto_rotate')  ? 'true' : 'false'  ?>,
                    itemWidth:$_i_w,
                    itemMargin:$_i_m,
                    minItems: size,
                    maxItems: size,
                    slideshowSpeed:<?php echo  $slider->getData('slide_animation') ; ?>,
                    start: function(slider){
                        doLazyLoadBg();
                        flexslider = slider;
                    },
                    init: function(slider) {
                        window.initVideo = false;
                    },
                    before:function(slider){
                        var slide = slider.currentSlide;
                        var _from = slide * slider.visible;
                        var _to = _from + (slider.visible-1);
                        for (var i = _from; i <= _to; i++) {
                            $('#clever-left-slide-'+i+'-slideshow').removeClass('flex-active-slide');
                        }
                        window.action_slide = false;
                    },
                    after: function(slider) {
                        if (layout == 0 || layout == '0' ||  layout == 2 || layout == '2' ) {
                            $('#<?php  echo $uniqueS;  ?>').find('img').css({'height':$('#<?php  echo $uniqueS;  ?> ul.slides').height()});
                        }
                        if(!window.action_slide){
                            window.action_slide = true;
                        }
                        $('#clever-left-slide-'+slider.currentSlide+'-slideshow').addClass('flex-active-slide');
                    }
                });

            }
            $(function () {
                //
                window.flexslider = { vars:{} };
                var $layout = <?php echo $layout ?>;
                window.layout = $layout;
                viewLayout(layout,false);
                $(window).on('resize',function(){
                    viewLayout(layout,flexslider);
                });
                if($layout == 1 || $layout == '1') {
                    $('.clever-slider-container').css('height',$(window).height());
                    $('.background-video').css('height',$(window).height());
                }
                doSliderFlex();

                //control youtube video
                <?php if (count($youtube_list) > 0) {?>
                jQuery(function($) {
                    <?php foreach($youtube_list as $key=>$ys) { ?>
                    <?php $unique_key = explode('-',$youtube_unique[$key])[2];?>
                    $('#'+'<?php echo $youtube_unique[$key]; ?>').jarallax({
                        speed: 0.5,
                        videoSrc: 'https://www.youtube.com/watch?v=<?php echo $ys?>',
                        videoVolume: '0',
                        autoPlay: true
                    });
                    <?php } ?>
                });
                <?php }  ?>
            })
        }); 
    </script>
<?php endif ?>