<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Magento\Checkout\Block\Cart */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?php echo $block->getChildHtml('form_before') ?>
<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"validation":{}}'
          class="form form-cart">
    <?php echo $block->getBlockHtml('formkey'); ?>
    <div class="cart table-wrapper<?php echo $mergedCells == 2 ? ' detailed' : ''; ?>">
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?php /* @escapeNotVerified */ echo __('سلع عربة التسوق') ?></caption>
            <thead>
                <tr>
                    <th class="col item" scope="col"><span><?php /* @escapeNotVerified */ echo __('المنتج') ?></span></th>
                    <th class="col price" scope="col"><span><?php /* @escapeNotVerified */ echo __('السعر') ?></span></th>
                    <th class="col qty" scope="col"><span><?php /* @escapeNotVerified */ echo __('كمية') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?php /* @escapeNotVerified */ echo __('حاصل الجمع') ?></span></th>
                </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?php echo $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
    </div>
    <div class="cart main actions" style=" display: none;">
       <!-- <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action btn btn-secondary continue"
               href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?php echo $block->escapeHtml(__('مواصلة التسوق')); ?>">
                <span><?php /* @escapeNotVerified */ echo __('مواصلة التسوق') ?></span>
            </a>
        <?php endif; ?>
         <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?php echo $block->escapeHtml(__('تفريغ عربة التسوق')); ?>"
                class="action clear btn btn-primary" id="empty_cart_button">
            <span><?php /* @escapeNotVerified */ echo __('تفريغ عربة التسوق'); ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_qty"
                title="<?php echo $block->escapeHtml(__('تحديث سلة الشراء')); ?>"
                class="action update btn btn-default">
            <span><?php /* @escapeNotVerified */ echo __('تحديث سلة الشراء'); ?></span>
        </button> -->
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?php echo $block->getChildHtml('checkout.cart.order.actions') ?>
<?php echo $block->getChildHtml('shopping.cart.table.after'); ?>
<script>
    var continueShop = ' <li class="item"> <a id="continueBlock" class="action primary checkout"\
     href="<?php echo $block->escapeUrl($block->getContinueShoppingUrl()) ?>"\
               title="<?php echo $block->escapeHtml(__('مواصلة التسوق')); ?>">\
                <?php /* @escapeNotVerified */ echo __('مواصلة التسوق') ?>\
            </a></li>';
    require(['jquery', 'jquery/ui'], function($){
      $(document).ready( function() {
        $('.checkout.methods.items.checkout-methods-items').append(continueShop);
        });
    });
</script>

