<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
<img style="float:left;" data-bind="attr: { src: require.toUrl('Godogi_VisaMasterHyperpay/images/cod.png') }">
        </label>


    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <p data-bind="html: getInstructions()"></p>
        <div class="checkout-agreements-block">
            <div style="height: 29px; background-color: #FF0000!important;padding-top: 11px;" class="header-css-instructions">
                <h6 style="font-size: 12px;color: #fff;height: 41px;background-color: #ff0000!Important;text-align: center;"> Pay with Mada ,Visa or mastercard Now and Get</h6>
            </div>
            <div style="background-color: #000;margin-top: 10px;padding: 3px;" class="checkout-agreements-block-black">
<p style="color: #ffffff;margin-left: 20px;"> - 100 Days Exchange and Return </p>
<p style="color: #ffffff;margin-left: 20px;"> - 60 days product guarantee* </p>
<p style="color: #ffffff;margin-left: 20px;"> - 7 Days lowest price guarantee* </p>
<p style="color: #ffffff;margin-left: 20px;"> - High order priority </p>
<p style="color: #ffffff;margin-left: 20px;"> - Cash refund  </p>
<p style="color: #ffffff;margin-left: 20px;"> *Terms and conditions apply </p>
</div>
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>

    </div>
</div>
