<?php
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
use Magento\Catalog\Model\Product\ProductList\Toolbar;
?>
<?php if ($block->getCollection()->getSize()): ?>
    <div class="toolbar toolbar-products" data-mage-init='<?php /* @escapeNotVerified */ echo $block->getWidgetOptionsJson(); ?>'>
        <div class="action-for-medium-up"><a class="layered-nav-toggle">
                <svg fill="currentColor" preserveAspectRatio="xMidYMid meet" height="18" width="18" viewBox="0 0 18 18" class="_3N_DX" style="vertical-align:middle"><g class="_3mz6y" fill="#000000"><rect x="0" y="3" width="18" height="2"></rect></g><g class="_1KOEm" fill="#000000"><rect x="0" y="8" width="18" height="2"></rect></g><g class="_1WxkA" fill="#000000"><rect x="0" y="13" width="18" height="2"></rect></g><g class="_3LPyO"><g><circle fill="#000000" cx="4.5" cy="4" r="2.2"></circle><circle fill="#FFFFFF" cx="4.5" cy="4" r="0.8"></circle></g></g><g class="_2tVMB"><g><circle fill="#000000" cx="13.5" cy="9" r="2.2"></circle><circle fill="#FFFFFF" cx="13.5" cy="9" r="0.8"></circle></g></g><g class="_3LAnt"><g><circle fill="#000000" cx="9" cy="14" r="2.2"></circle><circle fill="#FFFFFF" cx="9" cy="14" r="0.8"></circle></g></g></svg>
                <span><?php /* @escapeNotVerified */ echo __('Filter') ?></span></a>
        </div>

        <div class="zoo-breadcrumbs"> <?php echo $block->getChildHtml('breadcrumbs') ?></div>

        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/amount.phtml')) ?>


        <?php echo $block->getPagerHtml() ?>

        <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/limiter.phtml')) ?>

        <?php if ($block->isExpanded()): ?>
            <?php include ($block->getTemplateFile('Magento_Catalog::product/list/toolbar/viewmode.phtml')) ?>
        <?php endif; ?>

        <?php if ($block->isExpanded()): ?>
            <?php include ($block->getTemplateFile('CleverSoft_CleverLayeredNavigation::product/list/toolbar/sorter.phtml')) ?>
        <?php endif; ?>
    </div>
<?php endif ?>
<script>
    require([
        "jquery",
        'jQueryLibMin'
    ], function ($) {
        $(function() {
//            $("#sorter, #limiter").selectbox();
        });
    });
</script>
