<fieldset class="fieldset create account">
    <legend class="legend"><span><?php echo __('Additional Information') ?></span></legend>
    <div class="field">
        <div class="control">
            <input type="text" name="mobilenumber" id="mobilenumber" title="<?php echo __('mobilenumber') ?>" class="input-text mobilenumber" autocomplete="off" placeholder="Mobile Number" maxlength="12"  pattern="[0-9]">
           <!-- <input type="hidden" value="" id="countryreg" name="countryreg" />-->
        </div>
        <?php if($block->IsSignUpConfirmation()) : ?>
        <div id="otpdiv" class="control">
            <input type="password" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10">
        </div>
        <div id="waitsmsdiv">
            <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
        </div>
        <div id="otpbtndiv">
            <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Get OTP">
                <span><?php echo __('Get OTP') ?></span>
            </button>
            <button id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Resend OTP">
                <span><?php echo __('Resend OTP') ?></span>
            </button>
        </div>
        <?php endif; ?>
        <div id="smserror" name="smserror" generated="true" class="mage-error"></div>
    </div>
</fieldset>
<?php if($block->IsSignUpConfirmation()) : ?>
    <script>
        require(['jquery', 'jquery/ui'], function($)
        {
            function Smsresetdata()
            {
                $('#mobilenumber').removeClass('mage-error');
                $('#smserror').html('');
            }

            function Smstoggeldata(Elementid)
            {
                $(Elementid).toggle();
            }

            $("#getotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                //Number Validation
                var mobile = $('#mobilenumber').val();
                if(mobile == null || mobile == '')
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('This is a required field.') ?>');
                    return false;
                }
                if(!$.isNumeric(mobile) || mobile.length <= 9)
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('Please, Enter Valid Mobile Number.') ?>');
                    return false;
                }

              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('sms/customer/register')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#getotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        if(data == 'success')
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#otpdiv');
                            Smstoggeldata('#resendotpbtn');
                            $('#mobilenumber').attr('readonly', true);
                        }
                        else
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#getotpbtn');
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#getotpbtn');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            $("#resendotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                var mobile = $('#mobilenumber').val();
              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Re-Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('sms/customer/register')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#resendotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        Smstoggeldata('#waitsmsdiv');
                        if(data != 'success')
                        {
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            /*$("#mobilenumber").intlTelInput({
                initialCountry: "<?php echo $block->getDefaultContry();?>",
                utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Sms::countryflag/js/utils.js'); ?>"
            });*/
        });
    </script>
<?php endif; ?>