<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Registered Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                <div class="field note"><?= $block->escapeHtml(__('If you have an account, sign in with your email address.')) ?></div>
                <div class="field">
                    <div class="control">
                        <input type="text" name="mobilenumber" id="mobilenumber" title="<?php echo __('mobilenumber') ?>" class="input-text mobilenumber" autocomplete="off" placeholder="Mobile Number" maxlength="12"  pattern="[0-9]">
                    <!-- <input type="hidden" value="" id="countryreg" name="countryreg" />-->
                    </div>
                   
                    <div id="otpdiv" class="control">
                        <input type="password" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10">
                    </div>
                    <div id="waitsmsdiv">
                        <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
                    </div>
                    <div id="otpbtndiv">
                        <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Get OTP">
                            <span><?php echo __('Get OTP') ?></span>
                        </button>
                        <button id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Resend OTP">
                            <span><?php echo __('Resend OTP') ?></span>
                        </button>
                    </div>
                    
                    <div id="smserror" name="smserror" generated="true" class="mage-error"></div>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>
        require(['jquery', 'jquery/ui'], function($)
        {
            function Smsresetdata()
            {
                $('#mobilenumber').removeClass('mage-error');
                $('#smserror').html('');
            }

            function Smstoggeldata(Elementid)
            {
                $(Elementid).toggle();
            }

            $("#getotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                //Number Validation
                var mobile = $('#mobilenumber').val();
                if(mobile == null || mobile == '')
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('This is a required field.') ?>');
                    return false;
                }
                if(!$.isNumeric(mobile) || mobile.length <= 9)
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('Please, Enter Valid Mobile Number.') ?>');
                    return false;
                }

              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('customer/account/otp')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#getotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        if(data == 'success')
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#otpdiv');
                            Smstoggeldata('#resendotpbtn');
                            $('#mobilenumber').attr('readonly', true);
                        }
                        else
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#getotpbtn');
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#getotpbtn');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            $("#resendotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                var mobile = $('#mobilenumber').val();
              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Re-Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('customer/account/otp')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#resendotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        Smstoggeldata('#waitsmsdiv');
                        if(data != 'success')
                        {
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            /*$("#mobilenumber").intlTelInput({
                initialCountry: "<?php echo $block->getDefaultContry();?>",
                utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Sms::countryflag/js/utils.js'); ?>"
            });*/
        });
    </script>