<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add To Cart'); ?>
<?php
$blockCustomColor= $block->getLayout()->createBlock('Gotwo\AssignChildToCate\Block\CustomColor');
?>
<?php if($_product->getTypeId() == 'configurable'):?>
	<?php $getColorArrayByRelated = $blockCustomColor->getColorArrayByRelated($_product);
		if(count($getColorArrayByRelated)):?>
		<div class="product__colors">
			<p class="product__color-label">
				المزيد من الالوان 
			</p>
			<ul class="product__colorlist">
				<?php 
				$getColorArrayByThis = $blockCustomColor->getColorArrayByThis($_product);
				foreach($getColorArrayByThis as $itemcolor ):?>
					<li class="product__color selected" data-productid="<?=$itemcolor['product_id'];?>">
						<div class="table-middle">
							<div class="table-cell">
								<a href="<?=$itemcolor['producturl'];?>" title="<?=$itemcolor['productcolor'];?>">
									<img width="86" height="106" src="<?=$itemcolor['productimage'];?>" alt="<?=$itemcolor['productcolor'];?>">
								</a>
							</div>
						</div>
					</li>
				<?php endforeach;?>
			<?php
			
				foreach($getColorArrayByRelated as $itemcolor ):?>
					<li class="product__color" data-productid="<?=$itemcolor['product_id'];?>">
						<div class="table-middle">
							<div class="table-cell">
							<a href="<?=$itemcolor['producturl'];?>" title="<?=$itemcolor['productcolor'];?>">
								<img width="86" height="106" src="<?=$itemcolor['productimage'];?>" alt="<?=$itemcolor['productcolor'];?>">
							</a>
							</div>
						</div>
					</li>
				<?php endforeach;?>
			</ul>
		</div>
	<?php endif;?>
<?php endif;?>
<?php if ($_product->isSaleable()): ?>

	<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
	
	<?php // If is deals product. Show countdown time ?>
	<?php if($_product->getSpecialPrice() && $_product->getSpecialToDate() && $_product->getSpecialFromDate()): ?>
		
		<?php $dateTimeFormat = \Magento\Framework\Stdlib\DateTime::DATETIME_PHP_FORMAT; ?>
		<?php $now = $themeHelper->getCurrentDateTime(); ?>
		<?php $specialFromDate = date($dateTimeFormat, strtotime($_product->getSpecialFromDate())); ?>
		<?php $specialToDate = date($dateTimeFormat, strtotime($_product->getSpecialToDate())); ?>
		
		<?php if($specialFromDate <= $now && $specialToDate > $now): ?>
			<div class="product-detail-deals margin-top25">
				<?php 
					$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
					$StockState = $objectManager->get('\Magento\CatalogInventory\Api\StockStateInterface');
					$stockItem = $StockState->getStockQty($_product->getId(), $_product->getStore()->getWebsiteId());
				?>
				<div class="hurry-text text-uppercase"><?php echo __('Hurry! Only %1 left in stock', $stockItem); ?></div>
				<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Products\Deals')->setProduct($_product)->setTemplate('MGS_Mpanel::products/deals/item.phtml')->toHtml() ?>
			</div>
		<?php endif ?>
		
	<?php endif ?>
	<?php // End Deals ?>
	
	<div class="box-tocart">

		<?php echo $block->getChildHtml('', true) ?>
		
		<div class="fieldset">
			<?php if ($block->shouldRenderQuantity()): ?>
			<div class="field qty">
				<label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
				<div class="control">
					<span class="edit-qty minus" onclick="minusQty('qty')">-</span>
					<input type="number"
						   name="qty"
						   id="qty"
						   maxlength="12"
						   value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
						   title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
						   data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
						   />
					<span class="edit-qty plus" onclick="plusQty('qty')">+</span>
				</div>
			</div>
			<?php endif; ?>
			<div class="actions">
				<button type="submit"
						title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
						class="action primary tocart"
						id="product-addtocart-button">
					<span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
				</button>
				<?php
					$_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
					$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
				?>
			</div>
		</div>
		<div class="actions action-add-to">
			<?php if ($themeHelper->getStoreConfig('mpanel/product_details/wishlist') && $this->helper('Magento\Wishlist\Helper\Data')->isAllow()) : ?>
				<button type="button" 
					class="ajax-towishlist"
					title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
					data-wishlist='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
				>
					<span class="pe-7s-like"></span>
				</button>
				<script type="text/x-magento-init">
					{
						"body": {
							"addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
						}
					}
				</script>
			<?php endif; ?>
			
			<?php if($themeHelper->getStoreConfig('mpanel/product_details/compare')): ?>
				<!-- <button type="button" class="action tocompare" 
					data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product);?>'
					data-role="add-to-links"
					title="<?php /* @escapeNotVerified */ echo __('Add to Compare') ?>">
						<span class="pe-7s-graph3"></span>
				</button> -->
			<?php endif ?>
			

			<?php if ($block->canEmailToFriend()): ?>
				<button type="button" onclick="setLocation('<?php /* @escapeNotVerified */ echo $this->helper('Magento\Catalog\Helper\Product')->getEmailToFriendUrl($_product) ?>')" 
			   class="action mailto friend" title="<?php /* @escapeNotVerified */ echo __('Send Email to Friend') ?>"><span class="pe-7s-mail"></span></button>
			<?php endif; ?>

			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<?php endif; ?>


<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php if (!$block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "catalogAddToCart": {
                "bindSubmit": false
            }
        }
    }
</script>
<?php endif; ?>

<?php if ($block->shouldRenderQuantity()): ?>
	<script type="text/javascript">
		require([
		'jquery'
		], function(jQuery){
			(function($) {
				var count_d =0;
				var myClickIt = setInterval(function(){ 
					count_d++;
					$('.product-info-main .swatch-option.color:first-child').click();
					if( $('.swatch-attribute-selected-option').text() != '' ){
						
						clearInterval(myClickIt);
					}
				}, 100);
				$(".product__colorlist li").sort(sort_li).appendTo('.product__colorlist');
				  function sort_li(a, b) {
					return ($(b).data('productid')) < ($(a).data('productid')) ? 1 : -1;
				  }
				$('#qty').bind('input', function() { 
					var maxQty = $('.box-tocart').attr('data-qty');
					if($(this).val()  > maxQty){
						//alert('Max Qty for this option is '+maxQty);
						$(this).val(maxQty);
					}
				});
			})(jQuery);
		});
		function plusQty(qtyInput){
			require([
			'jquery'
			], function(jQuery){
				(function($) {
					var maxQty = $('.box-tocart').attr('data-qty');
					if($('#'+qtyInput).attr('disabled')!='disabled'){
						qty = $('#'+qtyInput).attr('value');
						qty = parseInt(qty);
						qty++;
						if(qty > maxQty){
							//alert('Max Qty for this option is '+maxQty);
							qty--;
						}
						$('#'+qtyInput).val(qty);
					}
				})(jQuery);
			});
			
		}
		function minusQty(qtyInput){
			require([
			'jquery'
			], function(jQuery){
				(function($) {
					if($('#'+qtyInput).attr('disabled')!='disabled'){
						qty = $('#'+qtyInput).attr('value');
						qty = parseInt(qty);
						
						if(qty>1){
							qty--;
							$('#'+qtyInput).val(qty);
						}
					}
				})(jQuery);
			});
		}
	</script>
<?php endif; ?>

<script>
require([

'jquery',

], function(jQuery){

    (function($) {

        $(document).ready(function(){

            $('.ajax-towishlist').click(function(){
				if ($('.catalog-product-view').length > 0) {
					var _size = $('.swatch-attribute.size input').val();
					var _color = $('.swatch-attribute.color input').val();
					if( _size =='' || _color =='' ){
						alert('You need select all option first');
						return false;
					}
			
					var parsedJson = $.parseJSON($(this).attr( "data-wishlist" ));
					var url = "<?php echo $this->getUrl().'guestwishlist/index/add/'?>";  
					var data1 = parsedJson.data;
					var current_prod = data1.product;
					var current_uenc = data1.uenc;
					var cproduct_id = $(this).attr('data-child');
					//alert(cproduct_id);
					formKey = $('input[name="form_key"]').val();
					var data = {
						action   : "add-to-wishlist",
						form_key : formKey,
						product  : cproduct_id,
						uenc     : current_uenc
					}

					$('#mgs-ajax-loading').show();
					$.ajax({

						url: url,
						data: data,
						type: "POST",
						success: function(data){
							$('.header-wl a').append('<span class="count-wl">' + data.wishlistQty + '</span>');
							if(data._ExistItem == 0){
								alert('The product was exist on wishlist!');
							}
							$('#mgs-ajax-loading').hide();
							
						}
					});
				}
            });

        });

    })(jQuery);

});
</script>
	<!-- static block in product detail page -->
<div style="float: right;width: 75%;margin-left: 111px;margin-right: -2px;" class="shravan-static">
<div style="width: 25%;margin-top: 10px;float:left;" class="img-with-text-below">
    <img class="shravan-static-img" style="height: 29px;width: 29px;margin: 12px;margin-left: 25px;margin-right: 38px;" src="/pub/media/verified2x.png" alt="alt-text" />
    <p style="font-size: 12px;text-align: center;color: #000000;">بضائع اصلية <br> وغير مقلدة</p>
</div>
<div style="width: 25%;border-left: 1px solid #707070;margin-top: 10px;float:left;" class="img-with-text-below">
    <img class="shravan-static-img" style="height: 30px;width: 21px;margin: 12px;margin-left: 25px;margin-right: 40px;" src="/pub/media/dollar2x.png" alt="alt-text" />
    <p style="font-size: 12px;text-align: center;color: #000000;">7 ايام <br> ضمان اقل سعر  </p>
</div>
<div style="width: 25%;border-left: 1px solid #707070;margin-top: 10px; float:left;" class="img-with-text-below">
    <img class="shravan-static-img" style="height: 31px;width: 28px;margin: 12px;margin-left: 25px;margin-right: 38px;" src="/pub/media/Group2x.png" alt="alt-text" />
    <p style="font-size: 12px;text-align: center;color: #000000;">60 يوم  <br> ضمان منتجات</p>
</div>
<div style="width: 25%;border-left: 1px solid #707070;margin-top: 10px; float:left;" class="img-with-text-below">
    <img class="shravan-static-img" style="height: 29px;width: 29px;margin: 12px;margin-left: 25px;margin-right: 40px;" src="/pub/media/rotate2x.png" alt="alt-text" />
    <p style="font-size: 12px;text-align: center; color: #000000;">100يوم  <br> استبدال و استرجاع </p>
</div>
</div>