<?php $this->isRead(); ?>
<div class="main-chat" id="main-chat">

</div>
<div class="box-chat">
    <form method="post" id="formSendMsg" onsubmit="return false;">
        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
        <input type="hidden" name="chat_id" value="<?php echo $this->getCurrentChat()->getData('chat_id');?>">
        <input type="hidden" name="user_id" value="<?php echo $this->getUser()->getData('user_id');?>">
        <input type="hidden" name="customer_id" value="<?php echo $this->getCurrentChat()->getData('customer_id');?>">
        <input type="hidden" name="user_name" value="<?php echo $this->getUser()->getData('firstname').' '.$this->getUser()->getData('lastname');?>">
        <input type="hidden" name="customer_name" value="<?php echo $this->getCurrentChat()->getData('customer_name');?>">
        <input type="hidden" name="customer_email" value="<?php echo $this->getCurrentChat()->getData('customer_email');?>">
        <input type="text" name="body_msg" placeholder="<?php echo __('Please enter a message'); ?> ...">
    </form>
</div>

<script type="text/javascript">
require([
    'jquery'
    ], function($){ 

      function sendMsg() {
            $body_msg = $('#formSendMsg input[name="body_msg"]').val();
            $chat_id = $('#formSendMsg input[name="chat_id"]').val();
            $customer_id = $('#formSendMsg input[name="customer_id"]').val();
            $user_id = $('#formSendMsg input[name="user_id"]').val();
            $user_name = $('#formSendMsg input[name="user_name"]').val();
            $customer_name = $('#formSendMsg input[name="customer_name"]').val();
            $customer_email = $('#formSendMsg input[name="customer_email"]').val();
            if($.trim($body_msg)) {
                $('#formSendMsg input[type="text"]').val('');
                $('.main-chat').append('<div class="msg-user"><p>'+$body_msg+'</p><div class="info-msg-user">You</div></div>');  
                $.ajax({
                    url : '<?php echo $this->getUrl('lofhelpdesk/chat/sendmsg'); ?>', 
                    type : 'post', 
                    dataType: 'json', 
                    data : {
                        body_msg : $body_msg,
                        chat_id : $chat_id,
                        customer_id : $customer_id,
                        user_id : $user_id,
                        customer_name : $customer_name,
                        customer_email : $customer_email,
                        user_name: $user_name
                    
                    }, success : function() {
                        $('#formSendMsg input[type="text"]').val(''); 
                        var div = document.getElementById('main-chat')
                        div.scrollTop = div.scrollHeight - div.clientHeight;
                       
                    }
                });
            }
        }

        $('#formSendMsg input[type="text"]').keypress(function(event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                sendMsg();
                var div = document.getElementById('main-chat')
                div.scrollTop = div.scrollHeight - div.clientHeight;         
            }
        });

        $('#formSendMsg input[type="text"]').click(function(e) {
             var div = document.getElementById('main-chat')
            div.scrollTop = div.scrollHeight - div.clientHeight;
        }); 
        $('.main-chat').load('<?php echo $this->getUrl('lofhelpdesk/chat/msglog/chat_id/'.$this->getCurrentChat()->getData('chat_id')); ?>');
        $.ajaxSetup({cache:false});
        setInterval(function() {$('.main-chat').load('<?php echo $this->getUrl('lofhelpdesk/chat/msglog/chat_id/'.$this->getCurrentChat()->getData('chat_id')); ?>'); }, 5000);
});
</script>