
<li class="link helpdesk wishlist" data-bind="scope: 'helpdesk'">
    <a <?= $block->getLinkAttributes() ?>><?= $block->escapeHtml($block->getLabel()) ?>
        <!-- ko if: helpdesk().amount -->
        <span data-bind="text: helpdesk().amount" class="counter amount"></span>
        <!-- /ko -->
    </a>
</li>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "helpdesk": {
                        "component": "Lof_HelpDesk/js/view/helpdesk"
                    }
                }
            }
        }
    }
</script>