<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /* @var $block \Magento\Catalog\Block\Product\View\AbstractView */?>
<?php $_product = $block->getProduct() ?>

<?php if ($block->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <div class="stock available" title="<?php /* @escapeNotVerified */ echo __('توفر') ?>">
            <?php /* @escapeNotVerified */ echo __(' حالة المخزون :') ?><span><?php /* @escapeNotVerified */ echo __('في المخزن') ?></span>
        </div>
    <?php else: ?>
        <div class="stock unavailable" title="<?php /* @escapeNotVerified */ echo __('توفر') ?>">
            <?php /* @escapeNotVerified */ echo __('تحالة المخزون  :  ') ?><span><?php /* @escapeNotVerified */ echo __('إنتهى من المخزن') ?></span>
        </div>
    <?php endif; ?>
<?php endif; ?>
