<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */

$full_header_width = $block->getData('full_header_width');
$compareHeader = $block->getData('compare');
$wishlistHeader = $block->getData('wishlist');
$sticky_logo = $block->getConfig('cleversoftbase/header/sticky_logo');
$logoSrc = $block->getMediaUrl().'wysiwyg/cleversoft/logo/'.$sticky_logo;
?>

<div id="sticky-headers">
<div class="header-content <?php echo ($full_header_width == 1 ? '' : 'container')?>" id="header-sticky-mobile">
    <span data-action="toggle-nav" class="action zoo-menu-label">
        <span class="cs-font clever-icon-menu-5"></span>
    </span>
    <div class="header-minimal-search d-lg-none">
        <span class="cs-font clever-icon-search-4"></span>
    </div>
    <div class="full-sc-search d-lg-none">
        <span class="cs-font clever-icon-close"></span>
        <?php echo $this->getChildHtml("top.search"); ?>
    </div>
    <div class="row d-flex align-items-center  justify-content-end">
        <div class="col-lg-2 col-xl-3 logo-container">
                <?php echo $this->getChildHtml("logo"); ?>
        </div>
        <div class="menu-main-home col-lg-10 col-xl-6 offset-xl-3">
            <div class="header-panel d-sm-flex align-items-center topbar-right justify-content-end"">
                    <?php echo $this->getChildHtml("top.search"); ?>
                    <?php echo $this->getChildHtml("user_area"); ?>
                    <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
                    <?php echo $this->getChildHtml("minicart"); ?>
            </div>

            <div class="top-menu d-none d-lg-block" id="zoo-sticky-header">
                <div class="d-flex align-items-center zoo-menu-content">
<?php /* if (isset($sticky_logo)) : ?>
                    <div class="logo-sticky">
                        <?php if ($block->isHomePage()):?>
                        <strong>
                            <?php else: ?>
                            <a href="<?php echo $block->getUrl(''); ?>">
                                <?php endif ?>
                                <img src="<?php echo $logoSrc; ?>" width="<?php
                                if (($block->getConfig('cleversoftbase/header/sticky_logo_width'))){
                                    echo $block->getConfig('cleversoftbase/header/sticky_logo_width');
                                }  ?>" alt=""/>
                                <?php if ($block->isHomePage()):?>
                        </strong>
                    <?php else:?>
                        </a>
                    <?php endif?>
                    </div>
                    <?php endif */ ?>
                    <div class="main-menu d-none d-lg-block"><?php echo $this->getChildHtml("main.menu"); ?></div>
 <?php /*
                    <div class="zoo-header-user">
                        <?php echo $this->getChildHtml("minicart"); ?>
                        <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
                        <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
                    </div>
 */ ?>
                </div>
            </div>
    </div>
    <div class="col-xs-12 d-lg-none">
        <?php echo $this->getChildHtml("minicart"); ?>
        <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
    </div>
</div>
</div>