<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */

$full_header_width = $block->getData('full_header_width');
$compareHeader = $block->getData('compare');
$wishlistHeader = $block->getData('wishlist');
?>

<div class="panel wrapper">
    <div class="header-panel <?php echo ($full_header_width == 1 ? 'full_header_width' : 'container')?>">
        <div class="topbar-container">
            <?php echo $this->getChildHtml("top.contact"); ?>
            <?php echo $this->getChildHtml("currency"); ?>
            <?php echo $this->getChildHtml("store_language"); ?>
        </div>
    </div>
</div>
<div id="sticky-headers">
<div id="zoo-sticky-header">
    <div class="header-content <?php echo ($full_header_width == 1 ? 'full_header_width' : 'container')?>" id="header-sticky-mobile">
        <div class="zoo-header-content-block d-flex align-items-center">
            <span data-action="toggle-nav" class="action zoo-menu-label">
                <span class="cs-font clever-icon-menu-5"></span>
            </span>
            <?php echo $this->getChildHtml("logo"); ?>
        </div>
        <div class="zoo-header-content-block text-center">
            <?php echo $this->getChildHtml("main.menu"); ?>
        </div>
        <div class="zoo-header-content-block d-flex align-items-center justify-content-end">
            <?php echo $this->getChildHtml("user_area"); ?>
            <div class="header-minimal-search">
                <span class="cs-font clever-icon-search-4"></span>
            </div>
            <div class="full-sc-search">
                <span class="cs-font clever-icon-close"></span>
                <?php echo $this->getChildHtml("top.search"); ?>
            </div>
            <?php echo $this->getChildHtml("custom_block"); ?>
            <?php if ($wishlistHeader) echo $this->getChildHtml("wishlist"); ?>
            <?php if ($compareHeader) echo $this->getChildHtml("compare_link"); ?>
            <?php echo $this->getChildHtml("minicart"); ?>
        </div>
    </div>
</div>
</div>