<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>
<h6 style="text-align: -webkit-center; margin-bottom: 15px;font-size: 21px;color: #182444;"> Thank you for your order </h6>
<hr style="width: 46%;"></hr>
<div class="checkout-success">
    <?php if ($block->getOrderId()):?>
        <?php if ($block->getCanViewOrder()) :?>
            <p style="font-size: 16px;font-weight: 700;color: #287377;margin-bottom: 0px;"><?= __('Order Number : %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeHtml($block->getViewOrderUrl()), $block->escapeHtml($block->getOrderId()))) ?></p>
        <?php  else :?>
            <p style="font-size: 16px;font-weight: 700;color: #287377;margin-bottom: 0px;"><?= __('Order Number: <span>%1</span>.', $block->escapeHtml($block->getOrderId())) ?></p>
        <?php endif;?>
        <p style="font-size: 16px;font-weight: 700;color: #287377;margin-bottom: 0px;">
        <?php
  $objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
              $orderData = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($block->getOrderId());
$total = $orderData->getGrandTotal();
$total = sprintf("%1.2f",$total);
echo "Order Total:".$total."<br/>";?></p>
  <hr style="width: 46%;"></hr>
            <p style="font-size: 14px;font-weight: bold;color: #182444;margin-bottom: 2px;"><?= /* @escapeNotVerified */ __('Your order will be shipped within 24hours') ?></p>
             <p style="font-size: 14px;font-weight: bold;color: #182444;margin-bottom: 2px;"><?= /* @escapeNotVerified */ __('Your will recieve an email and sms with all of your order informations') ?></p>
             <p style="font-size: 10px;font-weight: bold;color: #182444;margin-bottom: 2px;"><?= /* @escapeNotVerified */ __('if your order is after 3pm on thursday it will be shipped saturday morning') ?></p>
    <?php endif;?>
    <hr style="width: 46%;"></hr>

    <?= $block->getAdditionalInfoHtml() ?>

    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue" href="<?= /* @escapeNotVerified */ $block->getContinueUrl() ?>"><span><?= /* @escapeNotVerified */ __('Continue Shopping') ?></span></a>
        </div>
    </div>
</div>
