<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Resetpassword $block */
?>

<div class="form-password_forget--reset">
	<form action="<?php /* @escapeNotVerified */ echo $block->getUrl('*/*/resetpasswordpost', ['_query' => ['id' => $block->getCustomerId(), 'token' => $block->getResetPasswordLinkToken()]]); ?>"
		  method="post"
		  <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?>
		  id="form-validate"
		  class="form password reset"
		  data-mage-init='{"validation":{}}'>
		<fieldset class="fieldset" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* الحقول المطلوبة'); ?>">
			<div class="form-group password required" data-mage-init='{"passwordStrengthIndicator": {}}'>
				<label class="label" for="password"><span><?php /* @escapeNotVerified */ echo __('كلمة سر جديدة'); ?></span></label>
				<div class="control">
					<input type="password" class="input-text" name="password" id="password"
						   data-password-min-length="<?php echo $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
						   data-password-min-character-sets="<?php echo $block->escapeHtml($block->getRequiredCharacterClassesNumber()) ?>"
						   data-validate="{required:true, 'validate-customer-password':true}"
						   autocomplete="off">
					<div id="password-strength-meter-container" data-role="password-strength-meter">
						<div id="password-strength-meter" class="password-strength-meter">
							<?php /* @escapeNotVerified */ echo __('قوة كلمة المرور'); ?>:
							<span id="password-strength-meter-label" data-role="password-strength-meter-label">
								<?php /* @escapeNotVerified */ echo __('لا توجد كلمة مرور'); ?>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group confirmation required">
				<label class="label" for="password-confirmation"><span><?php /* @escapeNotVerified */ echo __('تأكيد كلمة المرور الجديدة'); ?></span></label>
				<div class="control">
					<input type="password" class="input-text" name="password_confirmation" id="password-confirmation" data-validate="{required:true,equalTo:'#password'}" autocomplete="off">
				</div>
			</div>
		</fieldset>
		<div class="actions-toolbar row">
			<div class="primary col-sm-6 col-xs-12">
				<button type="submit" class="action submit primary btn btn-primary btn-full"><span><?php /* @escapeNotVerified */ echo __('تعيين كلمة مرور جديدة'); ?></span></button>
			</div>
		</div>
	</form>
</div>