.widget.mgs-brand .brand-items .image {
    overflow: hidden;
}

.widget.mgs-brand .brand-items img {
    margin: 0 auto;
    max-width: 100%;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
}

.widget.mgs-brand .brand-items:hover img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.widget.mgs-brand .owl-item {
    padding: 0 15px;
}

.widget.mgs-brand .owl-item .brand-items img {
    width: auto !important;
}

.shop-by-brand>.description {
    border: 1px solid #f0f0f0;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    margin-bottom: 50px;
    font-size: 14px;
}

.shop-by-brand .brand-page-list .owl-item {
    padding: 0 15px;
}

.shop-by-brand .brand-page-list .owl-item .item img {
    width: auto;
    max-width: 100%;
}

.characters-filter {
    display: table;
    margin: 15px auto 0;
}

.characters-filter:after {
    content: "";
    display: table;
    clear: both;
}

.characters-filter li {
    float: left;
    height: 36px;
    line-height: 36px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 0;
    text-align: center;
    width: 36px;
    font-weight: 500;
}

.characters-filter li:last-child {
    margin-right: 0;
}

.characters-filter li a {
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
}

.characters-filter li a:hover {
    background-color: #56cfe1;
    border-color: #56cfe1;
    color: #fff;
}

.characters-filter li.active a {
    background-color: #56cfe1;
    border-color: #56cfe1;
    color: #fff;
}

.search_brand_form {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    border: 1px solid #878787;
    padding: 2px;
}

.search_brand_form form {
    display: table;
    position: relative;
}

.search_brand_form form .form-group,
.search_brand_form form .actions {
    display: table-cell;
}

.search_brand_form form .form-group input[type="text"] {
    height: 39px;
    border: none;
    padding: 0 20px;
    background-color: transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
}

.search_brand_form form .actions {
    white-space: nowrap;
    width: 1%;
}

.brand-page-list .item img {
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    max-width: 100%;
    margin: 0 auto;
}

.brand-page-list .item .image {
    text-align: center;
    overflow: hidden;
}

.brand-page-list .item .brand-name {
    text-align: center;
    padding: 12px 0 0px;
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
}

.brand-page-list .item .brand-name h4.brand-title {
    font-size: 18px;
    color: #2a2a2a;
}

.brand-page-list .item .brand-name h4.brand-title a {
    color: #2a2a2a;
}

.brand-page-list .item .brand-name h4.brand-title a:hover {
    color: #56cfe1;
}

.brand-page-list .item:hover .image img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.brand-product-list .category-product-actions .toolbar.toolbar-products {
    width: 100%;
}

.brand-info {
    margin-bottom: 40px;
}

.brand-info>.brand-description {
    border: 1px solid #f0f0f0;
    padding: 15px;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    font-size: 14px;
}

.use-header6 .header .header-wl a,
.use-header6 .header .dropdown-toplinks .dropdown-toggle,
.use-header6 .minicart-wrapper .action.showcart,
.use-header6 .header .search-form .actions-search .action-search {
    color: #fff;
}

.use-header6 .swatch-option:hover {
    box-shadow: 0 0 0 3px #182444;
}

.use-header6 .swatch-option.selected {
    box-shadow: 0 0 0 3px #182444;
}

.use-header6 .top-header-content {
    display: none;
}

.checkout_index_index .top-header-content {
    display: block;
}

.cms-index-index .top-header-content {
    display: block;
}

.use-header6 .middle-header-content {
    background: #c30e2e;
}

.use-header6 .btn-primary:hover {
    color: #fff;
    border: 2px solid #c30e2e;
    background-color: #c30e2e;
}

.use-header6 .btn-primary:focus {
    color: #fff;
    border: 2px solid #c30e2e;
    background-color: #c30e2e;
}

.use-header6 .btn-primary:active {
    color: #fff;
    border: 2px solid #c30e2e;
    background-color: #c30e2e;
}

.use-header6 .footer.footer4 .middle-footer a:hover {
    color: #c30e2e !important;
}

.use-header6 .footer.footer4 .middle-footer a:focus {
    color: #c30e2e !important;
}

.use-header6 .products-grid .product-item-info.metro_template .product-item-details .product-item-name a:hover {
    color: #c30e2e !important;
}

.use-header6 .products-grid .product-item-info .product-item-details .product-item-name a:hover {
    color: #c30e2e;
}

.use-header6 .products-grid .product-item-info .product-top .actions-link button:hover {
    color: #c30e2e;
}

.use-header6 .category-menu.level0 a.active {
    color: #c30e2e !important;
}

.use-header6 .opc-block-summary .table-totals tr.totals.grand th strong {
    color: #c30e2e;
}

.use-header6 .opc-block-summary .table-totals tr.totals.grand td strong {
    color: #c30e2e;
}

.use-header6 a:hover {
    color: #c30e2e;
}

.use-header6 a:focus {
    color: #c30e2e;
}

.use-header6 a:active {
    color: #c30e2e;
}

.use-header6 .step-title {
    background-color: #c30e2e;
}

.use-header6 .checkout-container a.button-action {
    color: #c30e2e !important;
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
}

.use-header6 .checkout-container button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger) {
    color: #c30e2e !important;
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
    color: #fff !important;
}

.use-header6 .popup-authentication button.action {
    color: #c30e2e !important;
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
}

.use-header6 .popup-gift-message-item button.action {
    color: #c30e2e !important;
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
}

.use-header6 .checkout-c30e2e button:not(.primary):not(.action-show):not(.action-close):not(.edit-address-link):not(.ui-datepicker-trigger) {
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
}

.use-header6 .osc-place-order-wrapper .place-order-primary button.primary.checkout {
    background-color: #c30e2e !important;
    border-color: #c30e2e !important;
}

.use-header6 .catalog-category-view .clone-size li:hover {
    color: #c30e2e;
}

.use-header6 .message.error>* {
    color: #c30e2e;
}

.use-header6 .toolbar .form-item-select::after {
    content: '';
}

.use-header6 .toolbar .toolbar-sorter.sorter .form-item-select {
    border: none;
}

.use-header6 .box-tocart .field.qty>.control span.edit-qty:hover {
    color: #c30e2e;
}

.use-header6 .breadcrumbs .items>li a:hover {
    color: #c30e2e;
}

.use-header6 .product-info-main .product-add-form .actions button.tocart {
    background-color: #c30e2e;
    border: 1px solid #c30e2e;
}

.use-header6 .bundle-info .product-details .actions button.tocart {
    background-color: #c30e2e;
    border: 1px solid #c30e2e;
}

.header .nav.nav-main-menu>li>a:hover {
    color: red;
}

.use-header6.nav-before-open .nav-toggle::after {
    background: rgba(0, 0, 0, 0.7);
}

.use-header6 .breadcrumbs .items>li+li:after {
    content: "";
}

.use-header6 .breadcrumbs .items .item::after {
    content: "";
}

.use-header6 .breadcrumbs .items .item::before {
    content: "\f104";
    color: #878787;
    font-family: "FontAwesome";
}

.use-header6 .breadcrumbs .items .item:first-child::before {
    content: "";
}

.use-header6 .block.review-add .review-form h4 span,
.use-header6 .products-grid .product-item-info .product-top .actions-link button:hover,
.use-header6 .box-tocart .field.qty>.control span.edit-qty:hover,
.use-header6 .breadcrumbs .items>li a:hover {
    color: #c30e2e;
}

.use-header6 .product-info-main .product-add-form .actions button.tocart,
.use-header6 .bundle-info .product-details .actions button.tocart {
    background-color: #c30e2e;
    border: 1px solid #c30e2e;
}

.use-header6 .slide-text .btn-default:hover {
    background-color: #c30e2e;
}

.use-header6 .btn-secondary {
    color: #fff;
    border: 2px solid #c30e2e;
    background-color: #c30e2e;
}

.use-header6 .action.create.btn.btn-secondary:hover {
    color: #fff;
}

.use-header6 .action:hover,
.use-header6 .action.btn.btn-xs.btn-secondary.margin-left10.edit:hover {
    color: black;
}

.use-header6 .account .alert-warning {
    background-color: unset;
    border-color: unset;
}

.use-header6 .message.info>* {
    background: #c30e2e;
    color: #fff;
}

.use-header6 .message.info> ::before {
    color: #fff;
}

.use-header6 .header.header6 .megamenu-content>.nav-tabs li:not(.hidden-lg) a {
    background: #c30e2e;
}

.use-header6 .actions-toolbar .primary button:hover {
    border: 2px solid #c30e2e;
}

.use-header6 .checkout-cart-index .cart-summary .checkout-methods-items .item .action.checkout:hover {
    border-color: #c30e2e;
}

.use-header6 .header .dropdown-switcher .dropdown-menu li>a:hover {
    color: #c30e2e;
}

.use-header6.nav-before-open .nav-toggle::after {
    background: rgba(0, 0, 0, 0.7);
}


/*  */

.use-header6 .block.review-add .review-form h4 span {
    color: #c30e2e;
}

.use-header6 .actions-toolbar .primary button:hover {
    background-color: #c30e2e;
}

.use-header6 .minicart-wrapper .action.showcart:hover::before {
    color: #fff;
}

.use-header6 .guestwishlist-index-index #maincontent {
    padding-top: 20px;
}

.toolbar .form-item-select::after {
    content: "";
}

.use-header6 .minicart-items .product-item .product.actions .action:hover {
    background-color: #c30e2e;
    border-color: #c30e2e;
}

.use-header6 .cms-noroute-index .page-main .column.main a:hover {
    color: #c30e2e;
}


/* 25/12 */

.use-header6 .top-header-content {
    background-color: black !important;
}

.products-grid .product-item-info .product-top:hover .product-label {
    display: block;
}

.swatch-option:hover {
    box-shadow: 0 0 0 3px #182444;
}

.swatch-option.selected {
    box-shadow: 0 0 0 3px #182444;
}

.header.header1.active-sticky {
    position: fixed !important;
}

.swatch-option.text {
    border: 1px solid #000000bd;
    white-space: nowrap;
    background: #fff;
    color: #000!important;
    font-size: 12px;
    border-radius: 20px;
    font-weight: 600;
}

.header.header1.active-sticky .top-header-content {
    display: none;
}

.catalog-product-view .normal-price {
    display: inline-block;
}

.catalog-product-view .old-price.sly-old-price.no-display {
    display: block!important;
}

.catalog-product-view .price-wrapper .price {
    color: red;
}

.catalog-product-view .old-price .price-wrapper .price {
    color: #878787;
}

.use-header6 .header.header6 {
    position: static;
}

.use-header6 .header.header6.active-sticky {
    position: fixed;
}

.use-header6 .navigation .nav.nav-main-menu>li.logo-item.logo-item {
    display: none !important;
}

.navigation .dropdown-menu a {
    color: #8e8e8e!important;
}

.nav-open .megamenu-content .dropdown-switcher .switcher-toggle {
    color: #575757;
}