@import '../vendor/flexslider/_flexslider.less';

& when (@media-common = true) {
	.zoo-slideshow-text-wrap {
	    position: absolute;
	    width: 100%;
	    top: 50%;
	    -ms-transform: translateY(-40%);
	    -webkit-transform: translateY(-40%);
	    transform: translateY(-40%);
	    opacity: 0;
	    transition: all 0.6s cubic-bezier(0.44, 0.13, 0.48, 0.87);
	    transition-delay: 0.3s;
	    z-index: 3;
	}
	.flex-viewport {
	    height: 100%;
	}
	.flexslider .slides {
	    height: 100%;
	}
	.flex-active-slide .zoo-slideshow-text-wrap {
	    -ms-transform: translateY(-50%);
	    -webkit-transform: translateY(-50%);
	    transform: translateY(-50%);
	    opacity: 1;
	}
	.zoo-slideshow-text-content h2{
	    color: #fff;
	    text-transform: capitalize;
	    font-size: 36px;
	    letter-spacing: 2px;
	    font-weight: 600;
	}
	.zoo-slideshow-text-content h3{
	    color: #fff;
	    letter-spacing: 2px;
	    font-weight: 300;
	}
	.zoo-slideshow-text-content .zoo-button-slide a {
	    padding: 10px 40px;
	    margin: 20px 0;
	    display: inline-block;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-weight: 600;
	    text-decoration: none;
	    color: #fff;
	}
	.zoo-slideshow-text-content h2.slideshow__title.align-right{
	    text-align: right;
	}
	.zoo-slideshow-text-content h2.slideshow__title.align-center{
	    text-align: center;
	}
	.zoo-slideshow-text-content h2.slideshow__title.align-left{
	    text-align: left;
	}
	.zoo-slideshow-text-content h3.sub_heading.align-right{
	    text-align: right;
	}
	.zoo-slideshow-text-content h3.sub_heading.align-center{
	    text-align: center;
	}
	.zoo-slideshow-text-content h3.sub_heading.align-left{
	    text-align: left;
	}
	.zoo-slideshow-text-content .zoo-button-slide.align-right{
	    text-align: right;
	}
	.zoo-slideshow-text-content .zoo-button-slide.align-center{
	    text-align: center;
	}
	.zoo-slideshow-text-content .zoo-button-slide.align-left{
	    text-align: left;
	}
	.clever-slider .flex-direction-nav a {
	    height: 50px;
	}
	.clever-slider .flex-control-paging li a.flex-active, .clever-slider .flex-control-paging li a:hover {
	    background: @color-white;
	}
	.clever-slider .flex-control-paging li a {
	    width: 30px;
        border-radius: 15px;
	    height: 6px;
	    background: #797979;
	    box-shadow: none;
	}
	.clever-slider .flex-control-nav li {
	    margin: 0 4px;
	    padding: 5px 0;
	    vertical-align: middle;
	}
	.clever-slider .slides li{
	    position: relative;
	}
	/*
	this style is for SLIDE animation
	/*.clever-slider .flex-direction-nav li{*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*top: 50%;*/
	/*-ms-transform: translateY(-50%);*/
	/*-webkit-transform: translateY(-50%);*/
	/*transform: translateY(-50%);*/
	/*}*/

	.clever-slider .flex-control-nav {
	    bottom: 20px;
	    z-index: 2;
        display: inline-block;
	    transform: translate(-50%,-50%);
	}
	.slideshow__video-control--play-wrapper{
	    display: none;
	}
	.flex-active-slide:hover .slideshow__video-control--play-wrapper{
	    display: block;
	}

	.flex-active-slide iframe, .clever-slider .slides li .icon_img{
	    position: relative;
	    z-index: 2;
	}
}