.scalable.btn-translate { margin: 10px 10px 0 0; }
.biztech_translator .right { float: right; width: 49%; }
.biztech_translator .left { float: left; width: 49%; }
.modal-popup.product-translate-popup .modal-title { border-bottom: 1px solid #ccc; font-size: 2.4rem; margin-bottom: 10px; margin-right: 6.4rem; padding-bottom: 20px; }
.storeswitcher .tree-actions {clear: both;padding: 7px;}