<?php /** * Copyright © Magento, Inc. All rights reserved. * See COPYING.txt for license details. */ /** @var \Magento\Customer\Block\Form\Login $block */ ?>
<div class="block block-customer-login">
    <div class="block-title"> <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('LOG IN')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="login-form" data-mage-init='{"validation":{}}'>
            <?=$block->getBlockHtml('formkey') ?>
                <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <div class="field note tab1">
                        <?=$block->escapeHtml(__('Please enter your mobile number and will send you OTP sms')) ?></div>
                    <p class="login-mob-num-title tab1">Mobile number</p>
                    <div class="field">
                        <div class="control">
                            <input type="hidden" name="mobilenumber" id="mobilenumber" title="<?php echo __('mobilenumber') ?>" class="input-text mobilenumber" autocomplete="off" placeholder="Mobile Number" maxlength="13" pattern="[0-9]">
                            <div class="encloser22 tab1">
                                <select id="countryPhoneCodecustomlogin" class="countryPhoneCodecustomlogin">
                                    <option value="+966" selected>+966</option>
                                </select>
                                <input type="tel" maxlength="9" name="" id="mycustomphonefield3" class="mycustomphonefield3">
                            </div>
                            <!-- <input type="hidden" value="" id="countryreg" name="countryreg" />-->
                        </div>
                        <div id="otpdiv" class="control tab2">
                            <p class="vrfy-pn tab2">
                                <?php echo __( 'Verify mobile number') ?>
                            </p>
                            <p class="otp-snd-pn tab2">
                                <?php echo __( 'SMS sent your mobile number') ?>
                            </p>
                            <input type="hidden" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10">
                            <input id="codeBox1" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" name="chars[1]" />
                            <input id="codeBox2" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" name="chars[2]" />
                            <input id="codeBox3" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" name="chars[3]" />
                            <input id="codeBox4" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" name="chars[4]" />
                        </div>
                        <div id="waitsmsdiv">
                             <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
                        </div>
                        <div id="otpbtndiv" class="otpbtndiv tab1">
                            <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?> tab1" title="Get OTP"> <span><?php echo __('Send Code') ?></span>
                            </button>
                        </div>
                        <div id="smserror" name="smserror" generated="true" class="mage-error"></div>
                    </div>
                    <?=$block->getChildHtml('form_additional_info') ?>
                        <div class="actions-toolbar">
                            <div class="primary">
                            <div class="primary">
                            <button style="display: none;" type="button" class="action login primary tab2" name="verifyOtp" id="verifyOtp"><span><?= $block->escapeHtml(__('Verify')) ?></span></button>
                        </div>
                        <div class="primary">
                            <button style="display: none;" type="submit" class="action login primary original" name="send" id="send2"><span><?= $block->escapeHtml(__('Verify')) ?></span></button>
                        </div>
                            </div>
                            <button style="display: none;" id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?> tab2" title="Resend OTP"> <span><?php echo __('Send Sms Again') ?></span>
                            </button>
                            <p style="display: none;" id="change-mobile-num" class="change-mobile-num tab2">Change mobile number</p>
                           
                        </div>
                </fieldset>
        </form>
    </div>
</div>
<script>
require(['jquery', 'jquery/ui'], function($)
{
    $("#verifyOtp").click(function(){
        
        var customurl = "<?php echo $block->getUrl('customer/account/otpverify')?>";
        var otp = $('#otp').val();
        var mobile = $('#mobilenumber').val();
        
            $.ajax({
                url: customurl,
                type: 'POST',
                data: {
                    otp: otp,
                    mobile: mobile,
                },
            success: function(response) {
                    if(response)
                    {
                        $('#send2').click();
                        $('body').loader('show');
                    }
                    else{
                        $('.page.messages').show();
                        $('.otpdivcodeBox').val('');
                    }
                },
                error: function (xhr, status, errorThrown) {
                    console.log('Error happens. Try again.');
                }
        });
    });

    $("p#change-mobile-num").click(function(){
        $("fieldset.fieldset.login .field.note").removeClass('remove'); 
        $('.tab1').show();
        $('.tab2').hide();
        $("input#mycustomphonefield3").val('');
    });





  
// not enter abc or first letter 0

  $('#mycustomphonefield3').keypress(function(e){ 
                if ((this.value.length == 0 && e.which == 48) || (e.which >= 32 && e.which <= 47) || (e.which >= 58 && e.which <= 126)){
                    return false;
                }
            });
// not enter abc or first letter 0 end
  


// arabic counting convert in eng 

$("#mycustomphonefield3").on('change keydown paste input', function(){
                validatePhone($(this));
            });
            $('#mycustomphonefield3').each(function() {
                validatePhone($(this));
            });
  function validatePhone(element){
              var localPhoneNumber = element.val();
              var localPhoneNumberArray = localPhoneNumber.split('');
              var outputlocalPhoneNumberArray = [];
              $.each(localPhoneNumberArray, function( index, value ) {
                  if((value === "0" || value === "٠") && outputlocalPhoneNumberArray.length == 0){
                  } else if (value === "٠"){
                      outputlocalPhoneNumberArray.push("0");
                  } else if (value === "١"){
                      outputlocalPhoneNumberArray.push("1");
                  } else if (value === "٢"){
                      outputlocalPhoneNumberArray.push("2");
                  } else if (value === "٣"){
                      outputlocalPhoneNumberArray.push("3");
                  } else if (value === "٤"){
                      outputlocalPhoneNumberArray.push("4");
                  } else if (value === "٥"){
                      outputlocalPhoneNumberArray.push("5");
                  } else if (value === "٦"){
                      outputlocalPhoneNumberArray.push("6");
                  } else if (value === "٧"){
                      outputlocalPhoneNumberArray.push("7");
                  } else if (value === "٨"){
                      outputlocalPhoneNumberArray.push("8");
                  } else if (value === "٩"){
                      outputlocalPhoneNumberArray.push("9");
                  } else if(value === "0" || value === "1" || value === "2" || value === "3" || value === "4" || value === "5" || value === "6" || value === "7" || value === "8" || value === "9"){
                      outputlocalPhoneNumberArray.push(value);
                  } else {
                      // do nothing
                  }
              });
              var outputlocalPhoneNumber = outputlocalPhoneNumberArray.join("");
              $('#mycustomphonefield3').val(outputlocalPhoneNumber);
            }

// arabic counting convert in eng end






 $("#resendotpbtn").hide();

 $("#verifyOtp").hide();
$(".fieldset.login #remember-me-box").hide();

              var value1,value2,value3,value4,value5,value6; 

 $("#mycustomphonefield3").keyup(function () {
                value5 = $('#countryPhoneCodecustomlogin').find(":selected").val();
                value6 = $(this).val();
                $("#mobilenumber").val(value5+value6);
            });


            
            $("#codeBox1").keyup(function () {
                value1 = $(this).val();
                $(".fieldset.login #otp").val(value1);
            });
            
            $("#codeBox2").keyup(function () {
                value2 = $(this).val();
                $(".fieldset.login #otp").val(value1+value2);
            });
            
            $("#codeBox3").keyup(function () {
                value3 = $(this).val();
                $(".fieldset.login #otp").val(value1+value2+value3);
            });
            
            $("#codeBox4").keyup(function () {
                value4 = $(this).val();
                $(".fieldset.login #otp").val(value1+value2+value3+value4);
                $("#verifyOtp").click();
            });


  // Disable copy paste functionality on otp
            $('.otpdivcodeBox').bind('cut copy paste', function (e) {
                e.preventDefault();
            });
            
            //Disable mouse right click
            $(".otpdivcodeBox").on("contextmenu",function(e){
                return false;
            });



            function Smsresetdata()
            {
                $('#mobilenumber').removeClass('mage-error');
                $('#smserror').html('');
            }

            function Smstoggeldata(Elementid)
            {
                $(Elementid).toggle();
            }

            $("#getotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                //Number Validation
                var mobile = $('#mobilenumber').val();
                if(mobile == null || mobile == '')
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('This is a required field.') ?>');
                    return false;
                }
                if(!$.isNumeric(mobile) || mobile.length <= 9)
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('Please, Enter Valid Mobile Number.') ?>');
                    return false;
                }

              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('customer/account/otp')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        $("fieldset.fieldset.login .field.note").addClass('remove'); 
                        $("p.login-mob-num-title").hide();
                        $(".encloser22").hide();
                $(".actions-toolbar .action.remind").hide();
               
                        Smstoggeldata('#getotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        if(data == 'success')
                        {
                          $(".otpdivcodeBox").val('');
                          $("p.vrfy-pn").show();
                          $("p.otp-snd-pn").show();
                          $('#change-mobile-num').show();
                             $("#verifyOtp").show();
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#otpdiv');
                            Smstoggeldata('#resendotpbtn');
                            $('#mobilenumber').attr('readonly', true);
                        }
                        else
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#getotpbtn');
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#getotpbtn');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            $("#resendotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                var mobile = $('#mobilenumber').val();
              /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Re-Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('customer/account/otp')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        $('#change-mobile-num').hide();
                        $('.otpdivcodeBox').val('');
                        $("#verifyOtp").hide();
                        Smsresetdata();
                        Smstoggeldata('#resendotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                    },
                    success: function(data)
                    {
                        $('#change-mobile-num').show();
                        $("#verifyOtp").show();
                        Smstoggeldata('#waitsmsdiv');
                        if(data != 'success')
                        {
                            $('#smserror').html(data);
                        }
                        Smstoggeldata('#resendotpbtn');
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            /*$("#mobilenumber").intlTelInput({
                initialCountry: "<?php echo $block->getDefaultContry();?>",
                utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Sms::countryflag/js/utils.js'); ?>"
            });*/
        });
</script>
<!-- if one value not enter no go to next field -->
<script>
    function getCodeBoxElement(index) {
            return document.getElementById('codeBox' + index);
          }
          function onKeyUpEvent(index, event) {
            const eventCode = event.which || event.keyCode;
            if (getCodeBoxElement(index).value.length === 1) {
              if (index !== 4) {
                getCodeBoxElement(index+ 1).focus();
              } else {
                getCodeBoxElement(index).blur();
                // Submit code
              }
            }
            if (eventCode === 8 && index !== 1) {
              getCodeBoxElement(index - 1).focus();
            }
          }
          function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
              const currentElement = getCodeBoxElement(item);
              if (!currentElement.value) {
                  currentElement.focus();
                  break;
              }
            }
          }
</script>
<!-- if one value not enter no go to next field end-->