
.otpbtndiv {
    float: right !important;
    margin-top: 15px;
    margin-left: 0px !important;
}



select.countryPhoneCodecustomlogin {
    width: 100px;
    background-position: right;
    color: #000;
}



.form-login .field.choice.persistent {
    display: none;
}


.block.block-customer-login .block-title {
    font-size: 21px;
    color: #000;
    font-weight: 400;
        border-bottom: 1px solid #e5e5e5;
}
 
.block.block-customer-login .block-title strong {
    font-weight: 400;
}

.fieldset.login .mycustomphonefield3{
    margin-left: 10px;
    color: #000;
}


.fieldset.login .field.note {
    font-style: initial;
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.fieldset.login p.login-mob-num-title {
    margin-bottom: 0px;
    font-size: 13px;
    color: #000;
}

.fieldset.login a.action.remind {
    color: #05B18F;
    margin-right: 0px !important;
}

.fieldset.login .secondary {
    clear: both;
        float: right !important;
    margin-left: 0px !important;
}

@media screen and (max-width: 775px){
    .customer-account-login .fullwidth {
    padding: 0px 15px;
}
}

@media screen and (max-width: 670px){
.fieldset.login .secondary {
    width: 100%;
    text-align: center;
}
button.action.login.primary {
    width: 100%;
}
}


p.otp-snd-pn {
    margin-bottom: 25px;
}

p.vrfy-pn {
    margin: 10px 0px 5px;
}


button#resendotpbtn {
    background-color: transparent;
    color: #05B18F;
    padding-right: 0px;
    text-decoration: underline;
}

 
.fieldset.login .field.note.remove {
    display: none !important;
}



p.change-mobile-num {
    color: #05B18F;
    text-decoration: underline;
    margin-top: 5px;
}


button.action.login.primary {
    border-radius: 0px;
     margin-top: 25px;
}


p.change-mobile-num:hover {
    cursor: pointer;
}