@media (max-width:767px) {
  .account {
	  .box-actions {
      margin-bottom: 60px;
    }   
  }
}

@media (max-width: 991px) {
	.account .block.block-dashboard-addresses.my-account-main {
    margin-bottom: 20px;
	}
}
