<div class="admin_bulksms">
    <?php $authUrl = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Backend\Helper\Data')->getUrl("magecompsms/send/ordercustom"); ?>
    <form action="<?php echo $authUrl ?>" id="custom_form">
        <input type="hidden" value="<?php echo $block->getOrderId()?>" name="current_order_id">
        <div class="admin_bulksms_mobnumbers">
            <div class="admin_bulksms_mobnumbers_lable">
                <?php echo __("Mobile Numbers")?>
            </div>
            <div class="admin_bulksms_mobnumbers_text">
                <input type="text" value="<?php echo $block->getMobileNumber()?>" id="customsms_mob" name="customsms_mob" placeholder="Mobile Number" />
            </div>
        </div>
        <div class="admin_bulksms_message">
            <div class="admin_bulksms_message_lable">
                <?php echo __("Message")?>
            </div>
            <div class="admin_bulksms_message_text">
                <textarea rows="4" cols="50" id="customsms_message" name="customsms_message" placeholder="Message" /></textarea>
            </div>
        </div>
        <div class="admin_bulksms_formsubmit">
            <button type="submit" id="custom_submit" class="primary">
                <?php echo __("Send Custom SMS"); ?>
            </button>
        </div>
    </form>
</div>