.admin_bulksms{
	width:100%;
}
.admin_bulksms_mobnumbers{
	float:left;
	width:100%;
}
.admin_bulksms_message{
	float:left;
	width:100%;
	margin-top: 15px;
}
.admin_bulksms_mobnumbers_lable, .admin_bulksms_message_lable{
	float:left;
	margin-right:15px;
	width: 10%;
}
.admin_bulksms_formsubmit {
	float: left;
	text-align: center;
	width: 50%;
	margin-top: 11px;
}