<div id="biztech-translator" class="biztech_translator" style="display: none;">
	<div id="admin-popup-overlay">
		<div class="left">
			<h3 id="original-lang">Auto Detection</h3>
			<textarea readonly="true" class="textarea admin__control-textarea old-text" id="old-text"></textarea>
		</div>
		<div class="right">
			<h3 id="translation-lang">Hindi</h3>
			<textarea readonly="true" class="textarea admin__control-textarea translated-textarea" id="translated-textarea" ></textarea>
		</div>
	</div>
	<div id="error-popup-text" style="height: 50px; padding: 10px; "></div>
</div>