& when (@media-common = true) {
	.tab-pane{
	    display: none;
	    &.active {
		    display: block;
		}
	}
	.product-items {
		.owl-nav {
			[class*=owl-] a {
				font-size: 0;
			    cursor: default;
			    pointer-events: none;
			    background: transparent;
			    text-align: center;
			    opacity: 1;
			    &:before {
					color: #272727;
				    font-size: 20px;
				    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
				    font-family: 'cleversoft' !important;
				    speak: none;
				    font-style: normal;
				    font-weight: normal;
				    font-variant: normal;
				    text-transform: none;
				    letter-spacing: 0;
				    -webkit-font-feature-settings: "liga";
				    -moz-font-feature-settings: "liga=1";
				    -moz-font-feature-settings: "liga";
				    -ms-font-feature-settings: "liga" 1;
				    font-feature-settings: "liga";
				    -webkit-font-variant-ligatures: discretionary-ligatures;
				    font-variant-ligatures: discretionary-ligatures;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				}
				&.flex {
					&-prev {
						&:before {
							content: "\c024";
						}
					}
					&-next {
						&:before {
							content: "\c034";
						}
					}
				}
			}
		}
	}
	.clever-countdown-progress-bar {
	    height: 10px;
	    border-radius: 10px;
	    background: #ebebeb;
		margin-bottom: 15px;
	}
	.available-sold {
	    background: #5cb025;
	    height: 100%;
	    border-radius: 10px;
	}
	.clever-countdown-label span{
		color: #5cb025;
	}
	.countdown-deal {
		display: inline-block;
		&__content {
			display: flex;
		    align-items: center;
		}
		&__times{
			background: #1c6ac9;
			padding: 0 15px;
			margin-right: 30px;
	        height: 30px;
			min-width: 170px;
			span {
				color: @color-white;
			}
			&-content {
				display: inline-block;
			    padding-left: 10px;
			}
		}
		&--time, &__link{
			font-size: 16px;
			font-weight: 500;
			margin: 0;
			letter-spacing: 0.4px;
		}
		&--time{
			color: @color-white;
			span {
			    font-size: 16px;
			}
		}
		&__link {
			color: @primary__color__dark;
			line-height: 28px;
		    display: flex;
	        align-items: center;
			span {
				padding-left: 10px;
			    font-size: 25px;
				color: @primary__color__dark;
			}
		}
	}
	.detail_countdown {
		&--time {
			> div {
				margin: 0 20px;
				position: relative;
				.no {
				    font-weight: 600;
				    color: @color-black;
			        width: 100%;
				    font-size: 22px;
				    padding: 0 25px;
				    background: #ebebeb;
				    border-radius: 4px;
				    display: inline-block;
				}
				.text {
				    font-weight: 600;
				    line-height: 2;
				    color: @primary__color__lighter;
				    text-align: center;
				    margin-top: 7px;
				    text-transform: capitalize;
				}
				&:after {
				    font-size: 22px;
				    font-weight: 600;
				    line-height: 1.55;
				    color: @color-black;
				    position: absolute;
				    right: -23px;
				    content: ":";
				    top: 5px;
				}
				&:last-child {
				    &:after {
					    display: none;
					}
				}
			}
		}
	}
}
/*Screen 767*/
& when (@media-common = true),
    (@media-target = 'all') {
    @media only screen and (max-width: (@screen__m - 1)) {
        .media-width('max', @screen__m);
        .product-item-details {
	        .detail_countdown {
				&--time {
					> div {
						margin: 0 10px;
						.no {
						    padding: 0 10px;
						}
						&:after {
						    right: -12px;
						    top: 2px;
						}
					}
				}
			}
        }
    }
}