<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
$theme = $this->helper('CleverSoft\Base\Helper\Data');
$product_layout = $theme->getCfg('product_page/page_layout');
$product = $block->getProduct();
$images = $block->getGalleryImages();
$key = 0;

/* Image size */
if(!($main_width = $theme->getCfg('product_page/main_image_width')))
    $main_width = $block->getImageAttribute('product_page_image_medium', 'width');
if(!($main_height = $theme->getCfg('product_page/main_image_height')))
    $main_height = $block->getImageAttribute('product_page_image_medium', 'height');
if(!($thumb_width = $theme->getCfg('product_page/thumb_image_width')))
    $thumb_width = $block->getImageAttribute('product_page_image_small', 'width');
if(!($thumb_height = $theme->getCfg('product_page/thumb_image_height')))
    $thumb_height = $block->getImageAttribute('product_page_image_small', 'height');

$keepAspectRatio = $theme->getCfg('product_page/aspect_ratio');

?>
<div class="gallery-sticky2 _block-content-loading d-none d-lg-block">
    <div data-role="loader" class="loading-mask" style="display: none">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
    <div>
        <div class="row gallery-sticky2-image-col">
            <?php foreach ($images as $image) {?>
                <?php if ($image->getData('media_type') == 'image'): ?>
                    <div class="col-sm-6" style="margin-bottom: 30px">
                        <a href="<?php // echo ($image->getData('large_image_url')); ?>javascript:void(0)">
                            <?php if(!$keepAspectRatio):?>
                                <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> <?php echo $thumb_width?>w, <?php echo($image->getData('medium_image_url')) ;?> <?php echo $main_width?>w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                            <?php else:?>
                                <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> <?php echo $thumb_width?>w, <?php echo($image->getData('medium_image_url')) ;?> <?php echo $main_width?>w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                            <?php endif;?>
                        </a>
                    </div>
                <?php elseif ($image->getData('media_type') == 'external-video'): ?>
                    <div class="col-sm-6 gallery-sticky2-video-wrapper" style="margin-bottom: 30px" data-media-type="external-video" data-media-url="<?php echo($image->getData('video_url')); ?>">
                        <a href="<?php // echo ($image->getData('large_image_url')); ?>javascript:void(0)">
                            <?php if(!$keepAspectRatio):?>
                                <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> <?php echo $thumb_width?>w, <?php echo($image->getData('medium_image_url')) ;?> <?php echo $main_width?>w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                            <?php else:?>
                                <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> 75w, <?php echo($image->getData('medium_image_url')) ;?> 600w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                            <?php endif;?>
                        </a>
                    </div>
                <?php endif;?>
            <?php } ?>
        </div>
    </div>
</div>
<script>
    require(["jquery","stickyCustom"], function ($) {

        var option = {
            class: {
                sticky_gallery_content: '.gallery-sticky2',
                thumb_content: '.gallery-sticky2-image-thumb-col',
                image_content: '.gallery-sticky2-image-col',
                image_wrapper: '.gallery-sticky2-image-wrapper',
                video_wrapper: '.gallery-sticky2-video-wrapper',
            }
        };

        $.cleversoft.cleverBaseApllyImageAndVideoEvent(option);
    });
</script>
<!--Fix for jumping content. Loader must be the same size as gallery.-->

<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
    </div>

</div>


<!--Fix for jumping content. Loader must be the same size as gallery.-->
<script>
    var config = {
            "width": <?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'width') ?>,
            "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
            "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navtype") ?>",
            "height": <?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'height') ?>
        },
        thumbBarHeight = 0,
        loader = document.querySelectorAll('[data-gallery-role="gallery-placeholder"] [data-role="loader"]')[0];

    if (config.navtype === 'horizontal') {
        thumbBarHeight = config.thumbheight;
    }

    loader.style.paddingBottom = ( config.height / config.width * 100) + "%";
</script>
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?= /* @escapeNotVerified */ $block->getMagnifier() ?>,
                "data": <?= /* @escapeNotVerified */ $block->getGalleryImagesJson() ?>,
                "options": {
                    "nav": "<?= /* @escapeNotVerified */ $block->getVar("gallery/nav") ?>",
                    <?php if (($block->getVar("gallery/loop"))): ?>
                        "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/loop") ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/keyboard"))): ?>
                        "keyboard": <?= /* @escapeNotVerified */ $block->getVar("gallery/keyboard") ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/arrows"))): ?>
                        "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/arrows") ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/allowfullscreen"))): ?>
                        "allowfullscreen": <?= /* @escapeNotVerified */ $block->getVar("gallery/allowfullscreen") ?>,
                    <?php endif; ?>
                    <?php if (($block->getVar("gallery/caption"))): ?>
                        "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/caption") ?>,
                    <?php endif; ?>
                    "width": "<?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_medium', 'width') ?>",
                    "thumbwidth": "<?= /* @escapeNotVerified */ $block->getImageAttribute('product_page_image_small', 'width') ?>",
                    <?php if ($block->getImageAttribute('product_page_image_small', 'height') || $block->getImageAttribute('product_page_image_small', 'width')): ?>
                        "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getImageAttribute('product_page_image_medium', 'height') || $block->getImageAttribute('product_page_image_medium', 'width')): ?>
                        "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
        ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/transition/duration")): ?>
                        "transitionduration": <?= /* @escapeNotVerified */ $block->getVar("gallery/transition/duration") ?>,
                    <?php endif; ?>
                    "transition": "<?= /* @escapeNotVerified */ $block->getVar("gallery/transition/effect") ?>",
                    <?php if (($block->getVar("gallery/navarrows"))): ?>
                        "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/navarrows") ?>,
                    <?php endif; ?>
                    "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navtype") ?>",
                    "navdir": "<?= /* @escapeNotVerified */ $block->getVar("gallery/navdir") ?>"
                },
                "fullscreen": {
                    "nav": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/nav") ?>",
                    <?php if ($block->getVar("gallery/fullscreen/loop")): ?>
                        "loop": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/loop") ?>,
                    <?php endif; ?>
                    "navdir": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navdir") ?>",
                    <?php if ($block->getVar("gallery/transition/navarrows")): ?>
                        "navarrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navarrows") ?>,
                    <?php endif; ?>
                    "navtype": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/navtype") ?>",
                    <?php if ($block->getVar("gallery/fullscreen/arrows")): ?>
                        "arrows": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/arrows") ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/caption")): ?>
                        "showCaption": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/caption") ?>,
                    <?php endif; ?>
                    <?php if ($block->getVar("gallery/fullscreen/transition/duration")): ?>
                        "transitionduration": <?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/duration") ?>,
                    <?php endif; ?>
                    "transition": "<?= /* @escapeNotVerified */ $block->getVar("gallery/fullscreen/transition/effect") ?>"
                },
                "breakpoints": <?= /* @escapeNotVerified */ $block->getBreakpoints() ?>
            }
        }
    }
</script>

<script>
    require(['jquery'],function($){
        jQuery(document).on('click', '.swatch-option',function(){
            if($('.swatch-attribute').is('[option-selected]')) {
                if($('body').hasClass('type-gird-thumb')) $('body').removeClass('type-gird-thumb');
                $('.gallery-sticky2._block-content-loading').hide();
                $(window).trigger('resize');
            }else {
                <?php if($product_layout == 'grid_thumb'):?>
                $('body').addClass('type-gird-thumb');
                <?php endif;?>
                $('.gallery-sticky2._block-content-loading').show();
            }
        });
    });
</script>