<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php
    $images = $block->getGalleryImages();
    $theme = $this->helper('CleverSoft\Base\Helper\Data');
    $rtl_language = $theme->getCfg('responsive/rtl_language');
    
    $_settingHelper = $this->helper('CleverSoft\Base\Helper\Data');
    /* Image size */
    if(!($main_width = $_settingHelper->getCfg('product_page/main_image_width')))
        $main_width = $block->getImageAttribute('product_page_image_medium', 'width');
    if(!($main_height = $_settingHelper->getCfg('product_page/main_image_height')))
        $main_height = $block->getImageAttribute('product_page_image_medium', 'height');
    if(!($thumb_width = $_settingHelper->getCfg('product_page/thumb_image_width')))
        $thumb_width = $block->getImageAttribute('product_page_image_small', 'width');
    if(!($thumb_height = $_settingHelper->getCfg('product_page/thumb_image_height')))
        $thumb_height = $block->getImageAttribute('product_page_image_small', 'height');

    $keepAspectRatio = $_settingHelper->getCfg('product_page/aspect_ratio');
?>

<div class="gallery-carousel _block-content-loading owl-carousel owl-theme d-none d-lg-block">
        <?php foreach ($images as $image) {?>
            <?php if ($image->getData('media_type') == 'image'): ?>
                <div class="item">
                    <a href="<?php echo ($image->getData('large_image_url')); ?>">
                        <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> <?php echo $thumb_width?>w, <?php echo($image->getData('medium_image_url')) ;?> <?php echo $main_width?>w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                    </a>
                </div>
            <?php elseif ($image->getData('media_type') == 'external-video'): ?>
                <div class="item" data-media-type="external-video" data-media-url="<?php echo($image->getData('video_url')); ?>">
                    <a href="<?php echo ($image->getData('large_image_url')); ?>">
                        <img src="<?php echo($image->getData('medium_image_url')) ;?>" srcset="<?php echo($image->getData('small_image_url')) ;?> <?php echo $thumb_width?>w, <?php echo($image->getData('medium_image_url')) ;?> <?php echo $main_width?>w, <?php echo ($image->getData('large_image_url')); ?> 762w" sizes="(max-width: <?php echo $main_width?>px) 100vw, <?php echo $main_width?>px">
                    </a>
                </div>
            <?php endif;?>
        <?php } ?>
</div> 

<script>
    require([
        "jquery",
        "jQueryLibMin"
    ], function ($) {
        $(function () {
            var $left = $('.gallery-carousel').offset().left;
            $('.gallery-carousel').css({
                'left': '-' + $left + 'px',
                'position': 'relative',
                'width': $(window).width() + 'px'
            });
            <?php if($rtl_language) : ?>
            $('.gallery-carousel').css({'left': '0', 'right': '-' + $left + 'px'});
            <?php else : ?>
            $('.gallery-carousel').css({'right': '0', 'left': '-' + $left + 'px'});
            <?php endif; ?>
            (function($) {
                $(document).ready(function() {
                    $('.gallery-carousel').owlCarousel({
                        margin:10,
                        nav:true,
                        navText: ["<span class='cs-font clever-icon-prev'></span>", "<span class='cs-font clever-icon-next'></span>"],
                        responsive:{
                            0:{
                                items:1
                            },
                            768:{
                                items:2
                            },
                            992:{
                                items:3
                            }
                        }
                    });
                });
            }) (jQuery);

            jQuery(document).on('click', '.swatch-option',function(){
                if($('.swatch-attribute').is('[option-selected]')) {
                    $('body').removeClass('type-images-carousel');
                    $('.gallery-carousel._block-content-loading').hide();
                    $(window).trigger('resize');
                }else {
                    $('body').addClass('type-images-carousel');
                    $('.gallery-carousel._block-content-loading').show();
                }
            });
        });
    });
</script>