<?php
/**
 * @category    CleverSoft
 * @package     CleverProduct
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author      ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */

/* @var $this CleverSoft CleverProduct Block_Widget */
use Magento\Framework\App\Action\Action;
$_id = $block->getConfig('id')?$block->getConfig('id'):$block->getData('id');
$_title = $block->getConfig('widget_title') ? $block->getConfig('widget_title') : $block->getData('widget_title');
$_sub_title = $block->getData('widget_sub_title') ? $block->getData('widget_sub_title') : $block->getConfig('widget_sub_title');
$t = microtime();
$tab = $block->getData('tab');
?>
<div class="<?php echo $block->getData('classes') ?> zoo-product-collection02" id="<?php echo $_id ?>">
    <?php if ($_title || $_sub_title): ?>
        <div class="zoo-main-heading">
            <?php if($_title) : ?>
                <div class="zoo-heading-wrapper-title">
                    <h3><span><?php echo $_title ?></span></h3>
                </div>
            <?php endif; if($_sub_title): ?>
                <div class="zoo-heading-wrapper-sub-title">
                    <h3><span><?php echo $_sub_title ?></span></h3>
                </div>
            <?php endif; ?>
        </div>
    <?php endif;
    $_matoHelper = $this->helper('CleverSoft\Base\Helper\Data');
    ?>
    <?php if ($exist = ($block->getData('collection') && $block->getData('collection')->getSize())): ?>
        <?php
        $type = 'widget-product-grid';

        $mode = 'grid';

        $count = $block->getData('collection') ? $block->getData('collection')->count() : 0;
        //        $carousel = $block->getData('carousel');

        $row = (int)$block->getData('limit');
        $column = 1;

        $image = 'new_products_content_widget_grid';
        $items = $block->getData('collection')->getItems();

//        $showWishlist = true;
//        $showCompare = true;
//        $showCart = true;
        $showWishlist = $block->getData('display_addtowishlist');
        $showCompare = $block->getData('display_addtocompare');
        $showCart = $block->getData('display_addtocart');
        $showPrice = $block->getData('display_price');
        $showRating = $block->getData('display_rating');
        $showProductName = $block->getData('display_productname');
        ///

        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $_imageHelper = $this->helper('CleverSoft\Base\Helper\Image');
        $description = false;
        $theme = $this->helper('CleverSoft\Base\Helper\Data');
        $imgWidth = $block->getData('image_width') ;
        $imgHeight = $block->getData('image_height') ;
        //Get icon lazy load
        $lazyhelper = $this->helper('CleverSoft\Base\Helper\Data');
        $lazyload = $block->getData('lazyload');
        if (is_null($lazyload) ) $lazyload = false;
        //End get Icon lazy load
        //Image aspect ratio settings
        $keepAspectRatio = $block->getData('aspect_ratio');
        if (is_null($keepAspectRatio)) $keepAspectRatio = false;
        if ($keepAspectRatio)  {
            $imgHeight = 0; //Height will be calculated automatically (based on width) to keep the aspect ratio
            $catViewKeepFrame = FALSE;
        }  else {
            $catViewKeepFrame = TRUE;
        }
        $icon = $lazyhelper->getCfg('responsive/iconlazyload');
        if (!empty($icon)) {
            $image = $icon;
            $om = \Magento\Framework\App\ObjectManager::getInstance();
            $storeManager = $om->create('Magento\Store\Model\StoreManagerInterface');
            $image_url = $storeManager->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'lazyload/' . $image;
        } else {
            $image_url = $block->getViewFileUrl('CleverSoft_Base::images/transparent.gif');
        }
        $image_alt_url = $block->getViewFileUrl('CleverSoft_Base::images/transparent.gif');

        $extClass = '';
        ?>
        <div class="block widget zoo-block-products-list <?php /* @escapeNotVerified */  echo $mode; ?> ">
            <div class="block-content">
                <?php $i = 0;
                foreach ($items as $_item): ?>
                <?php /* @escapeNotVerified */
                echo '<!-- ' . $image . '-->' ?>
                <?php if (($row > 1 && $i % $row == 0)): ?>
                <div class="products-<?php /* @escapeNotVerified */
                echo $mode; ?> <?php /* @escapeNotVerified */
                echo $mode; ?>">
                    <ol class="product-items vertical-carousel <?php /* @escapeNotVerified */
                    echo $type; ?>">
                        <?php endif ?>

                        <?php $i++ ?>
                        <?php /* @escapeNotVerified */
                        echo ($i == 1) ? '<li class="'. $extClass .'">' : '</li><li class="' . $extClass .'">';
                        ?>
                        <div class="product-item-info">
                            <div class="zoo-inner-product-item-info slider">
                                <a href="<?php /* @escapeNotVerified */
                                echo $block->getProductUrl($_item) ?>" class="product-item-photo" style="width: <?php echo $block->getData('product_im_w') ?>!important;">
                                    <?php echo $theme->getLabel($_item); ?>
                                    <?php if(!$imgWidth) : ?>
                                        <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                    <?php
                                    ////this else is for full width image - Hạnh issue
                                    else: ?>
                                        <img id="product-collection-image-<?php echo $_item->getId(); ?>"
                                            <?php if($lazyload): ?>
                                                <?php if(!$keepAspectRatio):?>
                                                    class="clazyload product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px"
                                                src="<?php echo $image_url; ?>" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>"
                                                <?php else:?>
                                                    class="clazyload product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px"
                                                src="<?php echo $image_url; ?>" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>"
                                                <?php endif;?>
                                            <?php else: ?>
                                                <?php if(!$keepAspectRatio):?>
                                                    class="product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>" src="<?php echo $_imageHelper->getImg($_item, $imgWidth, $imgHeight, 'category_page_grid'); ?>"
                                                <?php else:?>
                                                    class="product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>" src="<?php echo $_imageHelper->getImg($_item, $imgWidth, $imgHeight, 'category_page_grid'); ?>"
                                                <?php endif;?>
                                            <?php endif; ?>
                                             alt="<?php echo $block->stripTags($_item->getName(), null, true) ?>" />
                                    <?php endif; ?>
                                    <?php if ($theme->getCfg('category/alt_image') && $theme->getAltImgHtml($_item, $imgWidth, $imgHeight, $image)): ?>
                                        <?php if(!$keepAspectRatio):?>
                                            <span class="product-img-additional alt-image">
                                                <img class="imgage-additional" src="<?php echo $image_alt_url;?>" data-srcset="<?php echo $theme->getAltImageScrset($_item, $imgWidth, $imgHeight, $image)?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" alt="<?php echo $_item->getName()?>">
                                            </span>
                                        <?php else:?>
                                            <span class="product-img-additional alt-image">
                                                <img class="imgage-additional" src="<?php echo $image_alt_url;?>" data-srcset="<?php echo $theme->getAltImageScrset($_item, $imgWidth, $imgHeight, $image)?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" alt="<?php echo $_item->getName()?>">
                                            </span>
                                        <?php endif;?>
                                    <?php endif; ?>
                                </a>
                                <div class="product details product-item-details">
                                    <strong class="product-item-name">
                                        <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                           href="<?php /* @escapeNotVerified */
                                           echo $block->getProductUrl($_item) ?>"
                                           class="product-item-link">
                                            <?php echo $block->escapeHtml($_item->getName()) ?>

                                        </a>
                                    </strong>
                                    <?php
                                    echo $block->getProductPriceHtml($_item, \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE);
                                    ?>

                                    <?php if ($templateType): ?>
                                        <?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
                                    <?php endif; ?>
                                    <?php echo $block->getColorSwatchDetailsHtml($_item); ?>

                                </div>
                            </div>
                        </div>
                        <?php echo ($i == count($items)) ? '</li>' : '' ?>
                        <?php if ($i == $count || ($row > 1 && $i % $row == 0)): ?>
                        <!--                --><?php //if ($i == $count || $i % $column == 0 || ($row > 1 && $i % $row == 0)): ?>
                    </ol>
                </div>
            <?php endif ?>
                <?php if ($i == $count): ?>
            </div>
            <?php endif ?>
            <?php endforeach ?>
        </div>
    <?php endif; ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
</div>
<script>
    require([
        "jquery",
        "cleverProductMage"
    ], function ($,cleverProductMage) {
        $(function() {
            $(document).on({
                mouseenter: function () {
                    var imgage_additional = $(this).find('.imgage-additional');
                    var zoo_image = $(this).find('.zoo-product-image');
                    zoo_image.addClass('hover-image-loading');
                    imgage_additional.attr('srcset', imgage_additional.attr('data-srcset'));
                    zoo_image.addClass('hover-image-loaded');
                    zoo_image.removeClass('hover-image-loading');
                },
                mouseleave: function () {
                    
                }
            }, ".product-item-info");
            $('#<?php echo $_id ?>').cleverProductMage({
                animation: <?php echo $block->getData('animation') ?>,
                parallax: <?php echo $block->getData('parallax') ?>,
                carouselv: <?php echo $block->getData('carouselv') ?>,
                countdown: <?php echo $block->getData('countdown') ?>,
                countdownConfig: {
                    dayText: '',
                    hourText: '',
                    minText: '',
                    secText: '',
                    daySingularText: '',
                    hourSingularText: '',
                    minSingularText: '',
                    secSingularText: ''
                },
                countdownTemplate: '<div class="day"><span class="no">%d</span><span class="text">days</span></div><div class="hours"><span class="no">%h</span><span class="text">hours</span></div><div class="min"><span class="no">%i</span><span class="text">minutes</span></div><div class="second"><span class="no">%s</span><span class="text">seconds</span></div>',
            });
        });
    });
</script>
