<?php
/**
 * @category    CleverSoft
 * @package     CleverProduct
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author      ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
/* @var $this CleverSoft CleverProduct Block_Widget */
use Magento\Framework\App\Action\Action;
$_id = $block->getConfig('id')?$block->getConfig('id'):$block->getData('id');
$_title = $block->getConfig('widget_title') ? $block->getConfig('widget_title') : $block->getData('widget_title');
$_sub_title = $block->getData('widget_sub_title') ? $block->getData('widget_sub_title') : $block->getConfig('widget_sub_title');
$t = microtime();
$tab = $block->getData('tab');
$lazyhelper = $this->helper('CleverSoft\Base\Helper\Data');
$lazyload = $block->getData('lazyload');
if(is_null($lazyload)) $lazyload = false;
$min_height_img_lazyload = $block->getData('height_image');
$icon = $lazyhelper->getCfg('responsive/iconlazyload');
if (!empty($icon)) {
    $image = $icon;
    $om = \Magento\Framework\App\ObjectManager::getInstance();
    $storeManager = $om->create('Magento\Store\Model\StoreManagerInterface');
    $image_url = $storeManager->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA) . 'lazyload/' . $image;
} else {
    $image_url = $block->getViewFileUrl('CleverSoft_Base::images/transparent.gif');
}
$image_alt_url = $block->getViewFileUrl('CleverSoft_Base::images/transparent.gif');
?>
<div class="<?php echo $block->getData('classes') ?> zoo-product-collection02" id="<?php echo $_id ?>">
    <?php if ($_title || $_sub_title): ?>
        <div class="zoo-main-heading">
            <?php if($_title) : ?>
                <div class="zoo-heading-wrapper-title">
                    <h3><span><?php echo $_title ?></span></h3>
                </div>
            <?php endif; if($_sub_title): ?>
                <div class="zoo-heading-wrapper-sub-title">
                    <h3><span><?php echo $_sub_title ?></span></h3>
                </div>
            <?php endif; ?>
        </div>
    <?php endif;
    $_matoHelper = $this->helper('CleverSoft\Base\Helper\Data');
    ?>
    <?php if ($exist = ($block->getData('collection') && $block->getData('collection')->getSize())): ?>
        <?php
        $type = 'widget-product-grid';

        $mode = 'grid';

        $count = $block->getData('collection') ? $block->getData('collection')->count() : 0;
        //        $carousel = $block->getData('carousel');

        $row = (int)$block->getData('limit');
        $column = 1;

        $image = 'new_products_content_widget_grid';
        $items = $block->getData('collection')->getItems();

//        $showWishlist = true;
//        $showCompare = true;
//        $showCart = true;
        // new config
        $showWishlist = $block->getData('display_addtowishlist');
        $showCompare = $block->getData('display_addtocompare');
        $showCart = $block->getData('display_addtocart');
        $showSize = $block->getData('display_size');
        $showPrice = $block->getData('display_price');
        $showColor = $block->getData('display_color');
        $showRating = $block->getData('display_rating');
        $showProductName = $block->getData('display_productname');

        ///

        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
        $_imageHelper = $this->helper('CleverSoft\Base\Helper\Image');
        $description = false;
        $theme = $this->helper('CleverSoft\Base\Helper\Data');
        $imgWidth = $block->getData('image_width');
        $imgHeight = $block->getData('image_height');

        //Image aspect ratio settings
        $keepAspectRatio = $block->getData('aspect_ratio');
        if (is_null($keepAspectRatio)) $keepAspectRatio = false;
        if ($keepAspectRatio)  {
            $imgHeight = 0; //Height will be calculated automatically (based on width) to keep the aspect ratio
            $catViewKeepFrame = FALSE;
        }  else {
            $catViewKeepFrame = TRUE;
        }

        $extClass = '';
        ?>
        <div class="block widget zoo-block-products-list <?php /* @escapeNotVerified */
        echo $mode; ?>">
            <div class="block-content">
                <?php $i = 0;
                foreach ($items as $_item): ?>
                <?php /* @escapeNotVerified */
                echo '<!-- ' . $image . '-->' ?>
                <?php if (($row > 1 && $i % $row == 0)): ?>
                <div class="products-<?php /* @escapeNotVerified */
                echo $mode; ?> <?php /* @escapeNotVerified */
                echo $mode; ?>">
                    <ol class="product-items <?php /* @escapeNotVerified */
                    echo $type; ?>">
                        <?php endif ?>

                        <?php $i++ ?>
                        <?php /* @escapeNotVerified */
                        echo ($i == 1) ? '<li class="'. $extClass .'">' : '</li><li class="' . $extClass .'">';
                        ?>
                        <div class="product-add-form product-item-cleverSwatchRenderer">
                            <form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_item) ?>" method="post"
                                  id="product_addtocart_form"<?php if ($_item->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
                                <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_item->getId() ?>" />
                                <input type="hidden" name="selected_configurable_option" value="" />
                                <input type="hidden" name="related_product" id="related-products-field" value="" />
                                <?php echo $block->getBlockHtml('formkey')?>
                                <div class="product-item-info">
                                    <div class="zoo-inner-product-item-info">
                                        <a href="<?php /* @escapeNotVerified */
                                        // Lazyload Kien Update icon image to spin css3
                                        echo $block->getProductUrl($_item) ?>" class="product-item-photo" style="min-height: <?php echo $min_height_img_lazyload; ?>px; width: <?php echo $block->getData('image_width') ?>px;">

                                            <?php echo $theme->getLabel($_item); ?>
                                            <?php if(!$imgWidth) : ?>
                                                <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                            <?php
                                            ////this else is for full width image - Hạnh issue
                                            else: ?>
                                                <?php if(!$keepAspectRatio):?>
                                                    <img id="product-collection-image-<?php echo $_item->getId(); ?>" data-size="<?php echo $imgWidth.'x'.$imgHeight;?>"
                                                    <?php if($lazyload): ?> width="<?php echo $imgWidth ?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px"
                                                        class="clazyload product-image-photo" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>"  src="<?php echo $image_url; ?>"
                                                    <?php else: ?>
                                                        class="product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>" src="<?php echo $_imageHelper->getImg($_item, $imgWidth, $imgHeight,'category_page_grid'); ?>"
                                                    <?php endif; ?>
                                                <?php else:?>
                                                    <img id="product-collection-image-<?php echo $_item->getId(); ?>" data-size="<?php echo $imgWidth.'x'.$imgHeight;?>"
                                                    <?php if($lazyload): ?> width="<?php echo $imgWidth ?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px"
                                                        class="clazyload product-image-photo" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>"  src="<?php echo $image_url; ?>"
                                                    <?php else: ?>
                                                        class="product-image-photo" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" srcset="<?php echo $_imageHelper->getImageScrset($_item, $imgWidth, $imgHeight,'category_page_grid')?>" src="<?php echo $_imageHelper->getImg($_item, $imgWidth, $imgHeight,'category_page_grid'); ?>"
                                                    <?php endif; ?>
                                                <?php endif;?>
                                                    alt="<?php echo $block->stripTags($_item->getName(), null, true) ?>" />
                                            <?php endif; ?>
                                            <?php if (!$theme->getCfg('category/alt_image') && $theme->getAltImgHtml($_item, $imgWidth, $imgHeight, $image)): ?>
                                                <?php if(!$keepAspectRatio):?>
                                                    <span class="product-img-additional alt-image">
                                                        <img class="imgage-additional" src="<?php echo $image_alt_url;?>" data-srcset="<?php echo $theme->getAltImageScrset($_item, $imgWidth, $imgHeight, $image)?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" alt="<?php echo $_item->getName()?>">
                                                    </span>
                                                <?php else:?>
                                                    <span class="product-img-additional alt-image">
                                                        <img class="imgage-additional" src="<?php echo $image_alt_url;?>" data-srcset="<?php echo $theme->getAltImageScrset($_item, $imgWidth, $imgHeight, $image)?>" sizes="(max-width: <?php echo $imgWidth?>px) 100vw, <?php echo $imgWidth?>px" alt="<?php echo $_item->getName()?>">
                                                    </span>
                                                <?php endif;?>
                                            <?php endif; ?>
                                        </a>
                                        <div class="product details product-item-details">
                                            <strong class="product-item-name">
                                                <a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
                                                   href="<?php /* @escapeNotVerified */
                                                   echo $block->getProductUrl($_item) ?>"
                                                   class="product-item-link">
                                                    <?php echo $block->escapeHtml($_item->getName()) ?>

                                                </a>
                                            </strong>
                                            <?php
                                            echo $block->getProductPriceHtml($_item, \Magento\Catalog\Pricing\Price\FinalPrice::PRICE_CODE);
                                            ?>

                                            <?php if ($templateType): ?>
                                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType,true) ?>
                                            <?php endif; ?>
                                            <?php echo $block->getColorSwatchDetailsHtml($_item); ?>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <?php echo ($i == count($items)) ? '</li>' : '' ?>
                        <?php if ($i == $count || ($row > 1 && $i % $row == 0)): ?>
                        <!--                --><?php //if ($i == $count || $i % $column == 0 || ($row > 1 && $i % $row == 0)): ?>
                    </ol>
                </div>
            <?php endif ?>
                <?php if ($i == $count): ?>
            </div>
            <?php endif ?>
            <?php endforeach ?>
        </div>
    <?php endif; ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
</div>
<script>
    require([
        "jquery",

        "cleverProductMage"
    ], function ($,cleverProductMage) {
        $(function() {
            $(document).on({
                mouseenter: function () {
                    var imgage_additional = $(this).find('.imgage-additional');
                    var zoo_image = $(this).find('.zoo-product-image');
                    zoo_image.addClass('hover-image-loading');
                    imgage_additional.attr('srcset', imgage_additional.attr('data-srcset'));
                    zoo_image.addClass('hover-image-loaded');
                    zoo_image.removeClass('hover-image-loading');
                },
                mouseleave: function () {
                  
                }
            }, ".product-item-info");
            $('#<?php echo $_id ?>').cleverProductMage({
                animation: <?php echo $block->getData('animation') ?>,
                parallax: <?php echo $block->getData('parallax') ?>,
//            carousel: <?php //echo $block->getConfig('carousel') ?>//,
                countdown: <?php echo $block->getData('countdown') ?>,
//            carouselConfig: {
//
//            },
                countdownConfig: {
                    dayText: '',
                    hourText: '',
                    minText: '',
                    secText: '',
                    daySingularText: '',
                    hourSingularText: '',
                    minSingularText: '',
                    secSingularText: ''
                },
                countdownTemplate: '<div class="day"><span class="no">%d</span><span class="text"><?php  echo __('Days') ?></span></div><span class="space">:</span><div class="hours"><span class="no">%h</span><span class="text"><?php  echo __('Hours') ?></span></div><span class="space">:</span><div class="min"><span class="no">%i</span><span class="text"><?php  echo __('Min') ?></span></div><span class="space">:</span><div class="second"><span class="no">%s</span><span class="text"><?php  echo __('Sec') ?></span></div>',
            });
        });
    });
</script>