<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div style="display: none;" class="block block-dashboard-addresses my-account-main">
	<div class="block-title--myac">
		<h3><span><?php /* @escapeNotVerified */ echo __('دليل العناوين') ?></span>
		</h3>
	</div>
    <div class="block-content row">
		<div class="box box-billing-address col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h4 class="account-sub-title"><?php /* @escapeNotVerified */ echo __('عنوان الفواتير الافتراضي') ?></h4>
			<div class="box-content">
				<address>
					<?php echo $block->getPrimaryBillingAddressHtml() ?>
				</address>
			</div>
			<div class="box-actions">
				<a class="action edit  btn btn-sm btn-default" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryBillingAddressEditUrl() ?>" data-ui-id="default-billing-edit-link"><span><?php /* @escapeNotVerified */ echo __('تعديل العنوان') ?></span></a>
			</div>
		</div>
		<div class="box box-shipping-address col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<h4 class="account-sub-title"><?php /* @escapeNotVerified */ echo __('عنوان الشحن الافتراضي') ?></h4>
			<div class="box-content">
				<address>
					<?php echo $block->getPrimaryShippingAddressHtml() ?>
				</address>
			</div>
			<div class="box-actions">
				<a class="action edit  btn btn-sm btn-default" href="<?php /* @escapeNotVerified */ echo $block->getPrimaryShippingAddressEditUrl() ?>" data-ui-id="default-shipping-edit-link"><span><?php /* @escapeNotVerified */ echo __('تعديل العنوان') ?></span></a>
			</div>
		</div>
    </div>
	<div class="margin-top20">
		<a class="action btn btn-secondary edit" href="<?php /* @escapeNotVerified */ echo $block->getAddressBookUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('إدارة العناوين') ?></span></a>
    </div>
</div>
