.brand-related-products .products-grid .product-item-info .product-top a.photo {
    padding-bottom: 100% !important;
    height: 360px!important;
}
.brand-related-products .owl-carousel .owl-item img.owl-lazy {
    height: 360px!important;
}