<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<!doctype html>
<?php 
	$helper =  $this->getBuilderHelper();
	$canUsePanel = $helper->acceptToUsePanel();
?>
<html class="use-<?php echo $helper->getHeaderClass() ?>" <?php echo $htmlAttributes ?>>
    <head <?php /* @escapeNotVerified */ echo $headAttributes ?>>
        <?php /* @escapeNotVerified */ echo $requireJs ?>
        <?php /* @escapeNotVerified */ echo $headContent ?>
        <?php /* @escapeNotVerified */ echo $headAdditional ?>
		<?php //echo $helper->getLinksFont() ?>
		<?php if($helper->showButton()): ?>
		<link  rel="stylesheet" type="text/css"  media="all" href="<?php echo $helper->getPanelCssUrl() ?>" /> 
		<?php endif ?>
        <meta property="og:image" content="https://www.saksooka.com/pub/media/logo/stores/2/SAKSOOKA_LOGO_SMALL_SIZE_.png" />
	</head>
    <body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "<?php /* @escapeNotVerified */ echo $loaderIcon; ?>"}}' <?php /* @escapeNotVerified */ echo $bodyAttributes ?>>
		<?php if($helper->showButton() && !$helper->isPopup()): ?>
			<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\Toppanel')->setTemplate('panel/toppanel.phtml')->toHtml() ?>
		<?php endif ?>
        <?php if($helper->acceptToUsePanel() && ($helper->isHomepage() || $helper->isCmsPage())): ?>
            <div class="page messages container" style="display: none;">
                <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/messages.phtml")->toHtml(); ?>
                <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Messages")->setTemplate("Magento_Theme::messages.phtml")->toHtml(); ?>
            </div>
			<?php echo $helper->convertContent($layoutContent, $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\HomeContent')->setTemplate('panel/homecontent.phtml')->toHtml()) ?>
		<?php else: ?>
			<?php echo $helper->convertContent($layoutContent) ?>
		<?php endif ?>
		<?php if($canUsePanel): ?>
			<script  type="text/javascript"   defer="defer" src="<?php echo $this->getViewFileUrl('MGS_Mpanel::js/panel.js') ?>"></script>
		<?php endif ?>
        
        <?php if($helper->isHomepage()): ?>
            <script  type="text/javascript"  type="text/javascript" defer="defer">
                require(['jquery'], function(jQuery){(function($) { jQuery(window).load(function(){ jQuery(".page.messages").appendTo("header.header");jQuery(".page.messages").delay(8000).show().fadeOut('slow'); });})(jQuery);});
            </script>
        <?php endif ?>
        <script  type="text/javascript"  type="text/javascript" defer="defer" >require(['jquery'], function(jQuery){ (function($) { jQuery(window).load(function(){jQuery(".page.messages").delay(8000).fadeOut('slow');});})(jQuery);});</script>
    </body>
</html>
