<?php $helper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $header = $helper->getStoreConfig('mgstheme/general/header') ?>
<?php $canUsePanel = $helper->acceptToUsePanel() ?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); ?>
<?php $customerSession = $objectManager->create('Magento\Customer\Model\Session'); ?>
<?php // Variable Layout Element ?>
<?php $miniCart = $block->getChildHtml('minicart'); //Mini Cart ?>
<?php $storeLanguage = $block->getChildHtml('store_language'); //Language Option ?>
<?php $currency = $block->getChildHtml('currency'); //Currenct Option ?>
<?php $logo = $block->getChildHtml('logo'); //Logo ?>
<?php $mgsMegamenu = $block->getChildHtml('megamenu'); // MGS_Megamenu ?>
<?php if($mgsMegamenu == ""){
    $mgsMegamenu = $block->getChildHtml('catalog.topnav'); // Default menu magento
}   ?>
<?php $topSearch = $block->getChildHtml('top.search'); // Top Search ?>
<?php $storeSetting = $block->getChildHtml('store.settings'); // Store Setting ?>

<?php $headerSocialBlock = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_1_social_block')->setCanUsePanel($canUsePanel)->toHtml(); ?>
<?php $topLeftBlock = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_1_top_left_link')->setCanUsePanel($canUsePanel)->toHtml(); ?>
 <?php $topMiddleBlock = $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_1_top_middle_block')->setCanUsePanel($canUsePanel)->toHtml(); ?>
<?php // Image Toogle menu button ?>
<?php $imgToggleMenu = '<img src="'. $block->getViewFileUrl('images/hamburger-black.svg') .'" alt="'. __('Toggle Menu') .'">'; ?>
<?php // Tab Menu - Responsive Header ?>
<?php $htmlTabMenu = '<ul class="nav nav-tabs">' ?>
    <?php $htmlTabMenu .= '<li class="active"><a data-toggle="tab" href="#main-Menucontent">'. __('Menu') .'</a></li>'; ?>
        <?php $htmlTabMenu .= '<li><a data-toggle="tab" href="#main-Accountcontent">'. __('Account') .'</a></li>'; ?>
<?php $htmlTabMenu .= '</ul>'; ?>
<?php // Setting Tab Panel ?>
<?php //Tab content - Responsive Header ?>
<?php $htmlTabContent = '<div class="tab-content"><div id="main-Menucontent" class="tab-pane active">'. $mgsMegamenu.'<div id="main-Settingcontent" class="tab-pane">'.$storeSetting.'</div></div><div id="main-Accountcontent" class="tab-pane"><div class="top-links">'.$block->getChildHtml('top.links').'</div></div></div>' ; ?>
<?php // Wishlist link ?>
<?php $htmlWishlist = "" ?>
<?php if($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
    <?php $htmlWishlist = '<div class="header-wl"><a href="'.$this->getUrl().'guestwishlist'.'"><i class="pe-7s-like"></i>'; ?>
    <?php if($helper->getWishlistCount() > 0): ?>
        <?php $htmlWishlist .= '<span class="count-wl">'.$helper->getWishlistCount().'</span>'; ?>
    <?php endif ?>
    <?php $htmlWishlist .= '</a></div>'; ?>
<?php endif ?>
<?php // Top Link ?>
<?php $htmlTopLink = '<div class="dropdown dropdown-toplinks"><button class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="pe-7s-user"></i></button><div class="dropdown-menu">'. $block->getChildHtml('top.links') .'</div></div>'; ?>
<?php // HEADER CONTENT ?>
    <?php // Header 1, 2 , 3 ?>
	
	<style type="text/css">
	@import url(//fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic&display=swap);@import url(//fonts.googleapis.com/css?family=Libre+Baskerville:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic&display=swap);@font-face{font-family:Frutiger;src:url(https://www.saksooka.com/pub/media/fonts/);src:url(https://www.saksooka.com/pub/media/fonts/?#iefix) format("embedded-opentype"),url(https://www.saksooka.com/pub/media/fonts/stores/2/FrutigerLTArabic65Bold_2.woff) format("woff"),url(https://www.saksooka.com/pub/media/fonts/) format("truetype"),url(https://www.saksooka.com/pub/media/fonts/#Frutiger) format("svg");font-weight:400;font-style:normal;font-display:swap}body{font-family:Poppins,arial,tahoma;font-weight:400}#mainMenu{font-family:Poppins}h1{font-family:Poppins}h2{font-family:Poppins}h3{font-family:Poppins}h4{font-family:Poppins}h5{font-family:Poppins}h6{font-family:Poppins}.price,.price-box .price{font-family:Poppins}.btn{font-family:Poppins}.content-heading .block-note,.sub-title,blockquote{font-family:"Libre Baskerville"}@font-face{font-family:Frutiger;src:url(https://dx5tnbc6zyzkn.cloudfront.net/fonts/);src:url(https://dx5tnbc6zyzkn.cloudfront.net/fonts/?#iefix) format("embedded-opentype"),url(https://www.saksooka.com/pub/media/fonts/stores/2/FrutigerLTArabic65Bold_2.woff) format("woff"),url(https://dx5tnbc6zyzkn.cloudfront.net/fonts/) format("truetype"),url(https://dx5tnbc6zyzkn.cloudfront.net/fonts/#Frutiger) format("svg");font-weight:400;font-style:normal;font-display:swap}
	</style>
    <div class="top-header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- Static block: header_1_top_left_link -->
                    <?php if($topLeftBlock): ?>
                        <div class="top-custom-link">
                            <?php echo $topLeftBlock; ?>
                        </div>
                    <?php endif ?>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <!-- Static block: header_1_top_middle_block -->
                    <?php if($topMiddleBlock): ?>
                        <div class="top-middle-header">
                            <?php echo $topMiddleBlock; ?>
                        </div>
                    <?php endif ?>
                </div>
                <div class="col-md-4 hidden-sm hidden-xs col-sm-12 col-xs-12">
                    <?php echo $storeLanguage ?>
                    <?php echo $currency ?>
                </div>
            </div>
        </div>
    </div>
    <div class="middle-header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-4 mobile-item-col">
                    <button class="action nav-toggle hidden-lg"><?php echo $imgToggleMenu ?></button>
                    <div class="visible-lg">
                        <?php echo $headerSocialBlock; ?>
                    </div>
                </div>
                <div class="hidden-lg col-md-4 col-sm-4 logo-header mobile-item-col"><?php echo $logo ?></div>
                <div class="col-lg-8 col-xs-12 megamenu-content">
                    <?php echo $htmlTabMenu ?><?php echo $htmlTabContent ?>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-auto mobile-item-col">
                    <div class="table-icon-menu pull-right">
                        <?php echo $topSearch ?>
                        <?php echo $htmlTopLink ?>
                        <?php echo $htmlWishlist; ?>
                        <?php echo $miniCart ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
<button class="action close-nav-button"><span class="pe-7s-close" aria-hidden="true"></span></button>
<style >
@media (max-width: 767px) {
.header .logo-header .logo img {
margin-left: -64px;
margin-top: -14px;
}
}
@media (max-width: 767px) {
.product-add-form .product-options-wrapper .swatch-opt .swatch-attribute+.swatch-attribute {
margin-top: 36px;
}
@media (max-width: 767px) {
.swatch-attribute.customsize {
display: none!important;
}
@media (max-width: 767px) {
    .swatch-attribute.customsize {
        display: none;
    }
@media only screen and (max-width: 600px) {
.swatch-attribute.customsize {
display: none!important;
}
}
.product-info-main .product-add-form .box-tocart, .bundle-info .product-details .box-tocart {
margin-top: 23px;
}
.product-info-main .product.attribute.overview {
margin-top: 36px!important;
}
.carousel-container {
margin-top: 129px!important;
}
@media (min-width: 1200px){
.header:not(.header10) .nav.nav-main-menu>li.logo-item.logo-item {
display: table-cell!important;
vertical-align: inherit!important;
}
}
.product-detail-infomation .product-name {
display: block!important;
}
</style>