<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<!doctype html>
<?php 
	$helper =  $this->getBuilderHelper();
	$canUsePanel = $helper->acceptToUsePanel();
?>
<html class="use-<?php echo $helper->getHeaderClass() ?>" <?php /* @escapeNotVerified */ echo $htmlAttributes ?>>
    <head <?php /* @escapeNotVerified */ echo $headAttributes ?>>
        <?php /* @escapeNotVerified */ echo $requireJs ?>
        <?php /* @escapeNotVerified */ echo $headContent ?>
        <?php /* @escapeNotVerified */ echo $headAdditional ?>
		<?php //echo $helper->getLinksFont() ?>
		<link  rel="stylesheet" type="text/css"  media="all" href="<?php echo $helper->getMediaUrl() ?>mgs/css/<?php echo $helper->getStore()->getId() ?>/custom_config.css" /> 
		<?php if($helper->showButton()): ?>
		<link  rel="stylesheet" type="text/css"  media="all" href="<?php echo $helper->getPanelCssUrl() ?>" /> 
		<?php endif ?>
		<meta property="og:image" content="https://www.saksooka.com/pub/media/logo/stores/2/SAKSOOKA_LOGO_SMALL_SIZE_.png" />
    </head>
    <style type="text/css">
        .newsletter .scg-msg .messages {
            top: 30px;
        }
        .newsletter .message.success>*:before {
            top: 50%!important;
        }
        .products-grid .product-item-info .product-top a.photo{
            padding-bottom: 133.333% !important;
        }
        .category-view .category-description{
            text-align: center;
            color: #fff;
        }
        .category-view .category-description span, .category-view .category-description p {
            color: #878787;
        }
        .page-with-filter #maincontent > .row {
            margin-right: -15px !important;
        }
        .checkout-cart-index #shopping-cart-table tbody tr td.col.qty .input-text.qty{
            pointer-events: none;
        }
        .header .top-header-content .dropdown-switcher.open .dropdown-menu{
            transform:translateY(0);
            -webkit-transform:translateY(0);
            -moz-transform:translateY(0);
            -o-transform:translateY(0);
            opacity:1;
            visibility:visible
        }
        @media (max-width: 400px) {
            html[lang="ar"] strong.logo img {
                position: absolute;
                left: 30px;
            }
        }
        @media (max-width:767px) {
        .product.details.product-item-details {
            padding-top: 0!important;
            margin-top: -5px!important;
            margin-bottom: 0!important;
        }
        .header .logo-header .logo{
            padding-top: 15px;
        }
        .products-grid .product-item-info .product-item-details .product-item-name {
            margin-bottom: 0;
        }
        .products-grid .product-item-info .product-top a.photo {
            padding-bottom: 128.333% !important;
        }
        .item.product.product-item-info.product-item.col-lg-4 {
            padding: 0 3px;
            margin-bottom: 0;
        }
     }  
	@media (min-width:768px) {
	    .catalogsearch-result-index .search.results .category-product-actions .toolbar-products .clone-size ul {
	        width: 60%;
	    }
	    .catalogsearch-result-index .search.results .category-product-actions .toolbar-products .clone-size ul li {
	        padding-right: 8px;
	        margin-right: 8px;
	        cursor: pointer;
	    }
	    .catalogsearch-result-index .search.results .category-product-actions .toolbar-products .clone-size ul li.active {
	    	color: #56cfe1;
	    }
	    .catalogsearch-result-index .search.results .category-product-actions .toolbar-products .clone-size ul li:hover{
	    	color: #56cfe1;
	    }
	    .catalogsearch-result-index .search.results .clone-size + .reset {
		    display: none!important;
		}
		.catalogsearch-result-index .search.results .form-item-select {
	    	margin-top: 19px;
		}
		.page-layout-1column.catalogsearch-result-index .main .search.results .category-product-actions .toolbar-products.toolbar .sorter{
			margin-top: 10px;
		}
	}
    </style>
    <body data-container="body" data-mage-init='{"loaderAjax": {}, "loader": { "icon": "<?php /* @escapeNotVerified */ echo $loaderIcon; ?>"}}' <?php /* @escapeNotVerified */ echo $bodyAttributes ?>>
	
		<?php if($helper->showButton() && !$helper->isPopup()): ?>
			<?php echo $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\Toppanel')->setTemplate('panel/toppanel.phtml')->setCacheable(false)->toHtml() ?>
		<?php endif ?>
    
        <?php if($helper->acceptToUsePanel() && ($helper->isHomepage() || $helper->isCmsPage())): ?>
            <div class="page messages container" style="display: none;">
                <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::html/messages.phtml")->toHtml(); ?>
                <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Messages")->setTemplate("Magento_Theme::messages.phtml")->toHtml(); ?>
            </div>
			<?php echo $helper->convertContent($layoutContent, $this->getLayout()->createBlock('MGS\Mpanel\Block\Panel\HomeContent')->setTemplate('panel/homecontent.phtml')->toHtml()) ?>
		<?php else: ?>
			<?php echo $helper->convertContent($layoutContent) ?>
		<?php endif ?>
		
		<?php if($canUsePanel): ?>
			<script  type="text/javascript" src="<?php echo $this->getViewFileUrl('MGS_Mpanel::js/panel.js') ?>"></script>
		<?php endif ?>
        
        <?php if($helper->isHomepage()): ?>
            <script  type="text/javascript">
                require([
                    'jquery'
                ], function(jQuery){
                    (function($) {
                        jQuery(window).load(function(){
                            <?php if($helper->getStoreConfig('mgstheme/general/header') == 'header_5'): ?>
                                jQuery(".page.messages").prependTo("page-wrapper");
                            <?php else: ?>
                                jQuery(".page.messages").appendTo("header.header");
                            <?php endif ?>
                            jQuery(".page.messages").delay(8000).show().fadeOut('slow');
                        });
                    })(jQuery);
                });
            </script>
        <?php endif ?>
        <script  type="text/javascript">
            require([
                'jquery'
            ], function(jQuery){
                (function($) {
                    jQuery(window).load(function(){
                        jQuery(".page.messages").delay(8000).fadeOut('slow');
                    });
                })(jQuery);
            });
        </script>
    </body>
</html>
