<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Wishlist\Block\Customer\Sharing */
?>
<form class="form wishlist share"
      action="<?php /* @escapeNotVerified */ echo $block->getSendUrl() ?>"
      id="form-validate"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* الحقول المطلوبة') ?>"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset">
        <?php echo $block->getBlockHtml('formkey')?>
		<div class="block-title--myac">
			<h3><?php /* @escapeNotVerified */ echo __('مشاركة المعلومات') ?></h3>
		</div>
        <div class="field emails required">
            <label class="label" for="email_address"><span><?php /* @escapeNotVerified */ echo __('عناوين البريد الإلكتروني ، مفصولة بفواصل') ?></span></label>
            <div class="control">
                <textarea class="form-control" name="emails" cols="60" rows="5" id="email_address" data-validate="{required:true,'validate-emails':true}"><?php /* @escapeNotVerified */ echo $block->getEnteredData('رسائل البريد الإلكتروني') ?></textarea>
            </div>
        </div>
        <div class="field text">
            <label class="label" for="message"><span><?php /* @escapeNotVerified */ echo __('رسالة') ?></span></label>
            <div class="control">
                <textarea  class="form-control" id="message" name="message" cols="60" rows="5"><?php /* @escapeNotVerified */ echo $block->getEnteredData('message') ?></textarea>
            </div>
        </div>
        <?php if ($this->helper('Magento\Wishlist\Helper\Rss')->isRssAllow()): ?>
            <div class="field choice rss">
                <input type="checkbox" name="rss_url" id="rss_url" value="1" title="<?php /* @escapeNotVerified */ echo __('تحقق هنا لربط موجز RSS بقائمة الأمنيات.') ?>" class="checkbox">
                <label class="label" for="rss_url">
                    <span>
                        <?php /* @escapeNotVerified */ echo __('تحقق هنا لربط موجز RSS بقائمة الأمنيات.') ?>
                    </span>
                </label>
            </div>
        <?php endif; ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Share Wish List') ?>" class="action submit btn btn-primary">
                <span><?php /* @escapeNotVerified */ echo __('حصة قائمة الرغبات') ?></span>
            </button>
            <a class="action btn btn-secondary margin-left10 back" href="<?php /* @escapeNotVerified */ echo $block->getBackUrl(); ?>"><span><?php /* @escapeNotVerified */ echo __('عودة')?></span></a>
        </div>
        <div class="secondary">
        </div>
    </div>
</form>
