/**
 * @category    CleverSoft
 * @package     CleverCategory
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
& when (@media-common = true) {
	.category-item {
		display: inline-block;
		text-align: center;
		a {
			span{
				&.name-cat {
					text-align: center;
					font-weight: bold;
					font-size: 30px;
				}
				&.num-product {
					text-align: center;
				}
			}
			&:hover, &:active, &:link, &:visited {
				span {
					&.name-cat, &.num-product {
						color: black;
		    			text-decoration: none !important;
					}
				}
			}
		}
		.img-cat{
		    width: 150px;
		    height: 130px;
		}
	}
}