@import '../vendor/owlcarousel/_owl.carousel.less';
@import '../vendor/jquery-ui/_jquery-ui.less';
@import '../vendor/bxslider/_bxslider.less';
@import '../vendor/alternative/_alternative.less';
@import '../vendor/fullPage/_fullPage.less';


& when (@media-common = true) {
  .qv-modal {
    #clever-quickview {
      min-height: 300px;
      .clever-loading-wrap {
        min-height: 400px;
        display: table;
        width: 100%;
      }
    }
  }
  .loader,
  .clever-loader {
    position: relative;
    text-align: center;
    padding: 100px 0
  }
  .clever-loader {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}