@color_1: #222;
@font_family_1: Helvetica, Arial, sans-serif;

@media (min-width: 768px) {
	.catalog-category-view {
		.clone-size {
			ul {
				display: inline-block;
				width: 69%;
				text-align: center;
			}
			li {
				display: inline-block;
				padding-right: 1rem;
				margin-right: 16px;
				border-right: 1px solid #f2f2f2;
				line-height: 12px;
				cursor: pointer;
				&:last-child {
					border-right: 0;
				}
			}
			max-width: 600px;
			width: 100%;
			padding: 10px;
			border: 1px solid #f2f2f2;
			border-radius: 26px;
			font-family: @font_family_1;
			font-size: 14px;
			color: @color_1;
			span {
				text-align: center;
				width: 30%;
				display: inline-block;
			}
		}
		.modes {
			display: none;
		}
	}
}
@media (min-width: 768px) and (max-width: 1199.98px) {
	.catalog-category-view.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				width: 50px !important;
			}
		}
	}
	.page-layout-1column {
		.main {
			.category-product-actions {
				.toolbar-products {
					width: 90%;
					float: right;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.catalog-category-view.page-layout-1column {
		.category-product-actions {
			.filter-toggle {
				float: left;
				width: 50px;
				display: block;
				margin-top: 5px;
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.catalog-category-view {
		.clone-size {
			max-width: 571px;
			width: 71%;
			border: 1px solid #f2f2f2;
		}
		.main {
			.clone-size {
				li {
					padding-right: 8px;
					margin-right: 8px;
				}
				max-width: 451px;
			}
		}
		.toolbar {
			select {
				padding: 0 15px 0 15px;
			}
		}
	}
	.page-layout-1column.catalog-category-view {
		.main {
			.category-product-actions {
				.toolbar-products {
					width: 93%;
					float: right;
				}
			}
		}
	}
}
@media (max-width: 767.92px) {
	.page-layout-1column.catalog-category-view {
		.toolbar.toolbar-products {
			.clone-size {
				display: none;
			}
		}
	}
}
