<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_PageSpeedOptimizer
 */
?>
<?php
/**
 * @var \Magento\Backend\Block\Template $block
 */
?>
<div style="margin-top: 5px">
    <span id="process_file_counter" style="font-weight:bold"></span>
</div>

<script>
    require(["jquery", "mage/translate"], function (jquery, __) {
        var button = jquery('#amoptimizer_images_opti_force_optimize'),
            fileCounter = jquery('#process_file_counter'),
            filesCount = 0,
            part = 0,
            parts = 0;

        function optimizeFiles()
        {
            jquery.ajax(
                {
                    url: '<?= $block->escapeUrl($block->getProcessUrl()); ?>?part=' + part,
                    type: 'GET',
                    success: function () {
                        fileCounter.html((part * 10) + '/' + filesCount);
                        part++;
                        if (part < parts) {
                            optimizeFiles();
                        } else {
                            fileCounter.html(__('Done'));
                            button.attr('disabled', false);
                        }
                    }
                }
            );
        }

        button.click(function(){
            button.attr('disabled', true);

            jquery.get('<?= $block->escapeUrl($block->getCountUrl()); ?>', function (count) {
                filesCount = count;
                parts = Math.round(filesCount/10);
                fileCounter.html('0/' + filesCount);
                part = 0;
                optimizeFiles();
            });
        })
    });
</script>
