<?php $helper = $this->helper('MGS\Mpanel\Helper\Data') ?>
<?php $canUsePanel = $helper->acceptToUsePanel() ?>
<?php $block = $this->getBlock() ?>
<div class="footer-container">
	<div class="middle-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<!-- Static block: footer_contact_us -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_contact_us')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<!-- Static block: footer_block_categories -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_quick_link')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<!-- Static block: footer_block_infomation -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_infomation')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
					<!-- Static block: footer_block_quick_link -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_categories')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
				<div class="clearfix visible-sm"></div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<!-- Static block: footer_block_subscribe -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_subscribe')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 copyright">
					<address><?php /* @escapeNotVerified */ echo $block->getCopyright() ?></address>
				</div>
				<div class="col-lg-6 col-md-5 col-sm-12 col-xs-12">
					<!-- Static block: footer_block_menu_bottom -->
					<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_block_menu_bottom')->setCanUsePanel($canUsePanel)->toHtml() ?>
				</div>
			</div>
		</div>
	</div>
</div>