<!--@subject {{trans "OTP from Saksooka"}} @-->

<style type="text/css">
    {{var template_styles|raw}}
</style>
<!-- Begin wrapper table -->
<table class="wrapper" width="100%" align="center">
    <tr>
        <td class="wrapper-inner" align="center">
            <table class="main" align="center">
                <tr style="background-color:#fff;">
                    <td class="header" style="padding:0;">
                        <a href="{{store url=''}}">
                        <img
                                src= "https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/header.jpg"
                                alt="{{var logo_alt}}"
                                border="0"
                                style="width: 600px;"
                        />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="main-content bg-color" align="center" style="background-color:#ffffff;  padding: 20px;
                    padding-bottom: 0px;
                    text-align: right;">
                        <p class="greeting header-welcome" style="font-family: verdana; font-weight: 600; direction: rtl; color:#000; ">مرحبا , <span class="link-color" style="font-weight: 600;">( {{trans "%customername" customername=$customername}} )</span></p>
                        <p class="greeting header-welcome" style="font-family: verdana; font-weight: 600; direction: rtl; color:#000; ">OTP  <span class="link-color" style="font-weight: 600;">( {{trans "%otp" otp=$otp}} )</span></p>
                    </td>
                </tr>
                
                <tr style="background-color: #ffffff;">
                    <td style="padding:20px;font-family: verdana;">
                        <p class="thank-you-title" 
                        style=" text-align: right;
                        margin-top: 20px;
                        margin-bottom: 0px; 
                        color:#000;">شكرا لك
                    </p>
                    <p class="store-name" style="text-align: right; color:#000;">سكسوكة
                    </p>
                </td>
            </tr>
            <tr style="background-color:#fff;">      
            </tr>
            <tr style="background-color:#fff;">
               <td align="center" width="100%">
                  <hr style="width: 95%;" class="info-email-hr">
                 <table border="0" cellspacing="0" cellpadding="0">
                    
                  </table>
               </td>
            </tr>
            <tr>
               <td style="margin-bottom: 20px;">
                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                        <td style="background-color: #f15a49;height: auto;text-align: center; width: 100%;">
                          
                           <table width="" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tbody>
                                  <tr style="background-color:#fff;">
                    <td style="text-align:center">
                        
                        <div style="color:black; font-weight:600;">For Customer Support Please Send Us An Email to
                            <br>
                            <p class="upper-footer-email" style="color: #ff583d!important;     margin: 14px 0px;">
                                <a target="_blank" href="mailto:info@saksooka.com" style="
                                color: #f15a49;
                                text-decoration: underline;">info@saksooka.com</a>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="margin-bottom: 20px;background-color: #f15a49;">
                        <div style="background-color: #f15a49;height: auto;text-align: center; width: inherit;width: 600px;">
                            <img src="https://www.saksooka.com/pub/media/mail/devidefooter.jpg" style="width: 600px;">
                            <table width="auto" border="0" cellspacing="0" cellpadding="0" align="left">
                                <tbody>
                                <tr style="display: inline-flex;     font-weight: 600;">
                                    <td align="left" style="padding-right: 5px;text-align:right;"><span style="color: #ffffff;margin-left: 10px;">Follow us </span></td>
                                    <td width="auto" style="display: initial;">
                                      <a href="https://www.instagram.com/saksooka.sa/">  <img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/insta.png" style="width: 27px;padding-right: 5px;"></a>
                                       <a href="https://www.facebook.com/saksooka.sa/"><img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/facebook.png" style="width: 25px;padding-right: 5px;"></a>
                                   <a href="https://twitter.com/saksooka_sa">     <img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/twitter.png" style="width: 25px;padding-right: 5px;"></a>
                                    </td>
                                      <td align="left" style="color: #ffffff;padding-right: 5px;text-align:right;"><span style="color: #ffffff;margin-left: 286px;"><a style="color:#fff!important;  text-decoration: underline;"href="http://www.saksooka.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.saksooka.com&source=gmail&ust=1571822283455000&usg=AFQjCNFezCnYluwaqJoQ_WKQNc2RrjxYAA" style="color:#fff;">www.saksooka.com</a> </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
