<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $_orders = $block->getOrders(); ?>
<?php echo $block->getChildHtml('info');?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
               <thead>
                    <tr>
                                            <?php foreach ($_orders as $_order): ?>                                            

                        <span style="font-family: verdana;float: right;margin-left: 7px;color:#000;font-weight: 600;" scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order # : ') ?></span> <span style="font-family: verdana;float: right;margin-right: 1px;color:#000;font-weight: 600;margin-right: 2px;" data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_order->getRealOrderId() ?></span>

<br>
                        <span style="font-family: verdana;float: right;margin-left: 7px;color:#000;font-weight: 600;" scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Date') ?></span> :<span style="font-family: verdana;color:#000;margin-right: 2px;"data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $block->formatDate($_order->getCreatedAt()) ?></span>
<br>

                        <span style="font-family: verdana;float: right;margin-left: 7px;color:#000;font-weight: 600;" scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Ship To') ?></span> :   <span style="font-family: verdana;color:#000;margin-right: 2px;"data-th="<?php echo $block->escapeHtml(__('Ship To')) ?>" class="col shipping"><?php echo $_order->getShippingAddress() ? $block->escapeHtml($_order->getShippingAddress()->getName()) : '&nbsp;' ?></span>

<br>

                        <span style="font-family: verdana;float: right;margin-left: 7px;color:#000;font-weight: 600;" scope="col" class="col total"><?php /* @escapeNotVerified */ echo __('Order Total') ?></span> :  <span style="font-family: verdana;color:#000;margin-right: 2px;" data-th="<?php echo $block->escapeHtml(__('Order Total')) ?>" class="col total"><?php /* @escapeNotVerified */ echo $_order->formatPrice($_order->getGrandTotal()) ?></span>

<br>

                        <span style="font-family: verdana;float: right;margin-left: 7px;color:#000;font-weight: 600;" scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Status') ?></span> : <span style="font-family: verdana;color:#000;margin-right: 2px;" data-th="<?php echo $block->escapeHtml(__('Status')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $_order->getStatusLabel() ?></span>
<br>
                        <div data-th="<?php echo $block->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php /* @escapeNotVerified */ echo $block->getViewUrl($_order) ?>" class="action view">
                                    <span style="color: #287377;font-weight: 600;font-size: 16px;"><?php /* @escapeNotVerified */ echo __('View Order') ?></span>
                                </a>
        &nbsp;  |  &nbsp;                          <?php if ($this->helper('Magento\Sales\Helper\Reorder')->canReorder($_order->getEntityId())) : ?>
                                    <a href="<?php /* @escapeNotVerified */ echo $block->getReorderUrl($_order) ?>" class="action order">
                                        <span style="color: #287377;font-weight: 600;font-size: 16px;"><?php /* @escapeNotVerified */ echo __('Reorder') ?></span>
                                    </a>
                                <?php endif ?>
                    <hr>
                            </div>

                    </tr>
                </thead>
            <tbody>
                    <tr>
                        
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>
