<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<style>
.page-print table tr td {
    border: 0;
}
.page-print table {
    margin: 0px 0; 
}
.logo {
display:none!important;
}
.grand_total td {
padding:10px;
}
.order-totals th{
    text-align: left!important;
}
.productImage .sku {
margin-top:10px;
}
.order-totals td{
    text-align: right!important;
}
.mark {
    background-color: white;
}
.details_print {
background-color: #f0eeee!important;
}
.email-items .item-info {
    text-align: right!important;
}

@media print {
.scroll-to-top {
display:none;
}
a[href]:after {
    content: none !important;
  }
.footer_print {
background-color: #f15a49!important;
}
.grand_total td {
padding:10px;
}
.mark {
    padding: .2em;
    background-color: white;
}
.logo {
    display: none!important;
}
.details_print {
background-color: #f0eeee!important;
}
body {-webkit-print-color-adjust: exact;background-color: #fff;}
.color_thnak {
    color: #ff9906!important;
}
.email-items .item-info {
    text-align: right!important;
}
.estimated {
background-color: #f0eeee!important;
text-align:left!important;
}
.order-totals th{
    text-align: left!important;
}
}</style>
<?php $_order = $block->getOrder() ?> 
<table style="margin:0 auto;padding:20px;width: 600px;" class="wrapper"  align="center" border="0" cellspacing="0" cellpadding="0">
            <tr>
               <td class="header1" style="padding:0;!important;border:0">
                  <img src= "https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/header.jpg"
                     alt=""
                     border="0" />
               </td>
            </tr>
<tr>
                     
                        <td style="color:#ff9906;font-size:45px;font-weight: 600;font-family: verdana;text-align: center;border: 0;" class="color_thnak"><hr style="width: 95%;margin:0px!important">  شكراً لكم    </td>
                     </tr>
                  <tr>
                        <td style="color:#000000;font-size:18px;font-family: verdana;border: 0;padding-bottom: 10px;"><?php echo $_order->getCustomerName(); ?></td>
                     </tr>
                    
                    <tr>
                        <td class="estimated" style="background-color:#f0eeee;color:#000;margin-bottom:20px;padding: 10px;border: 0;text-align: left;width:95%;font-weight: 600;height:30px;font-size: 16px;line-height: initial;margin-top: 10px; font-family: verdana;">
الوقت المتوقع لوصول الطلب : ٢-٦ ايام </td>
                     </tr>
  <tr>
                        <td style="background-color:#ffffff;color:#000;margin-bottom:20px;width:50%;font-size: 16px;margin-top: 10px;font-family: verdana;"><table style="font-family: verdana;width: 100%;"><tr><td style="
    margin:0 !important;
    width:50% !important;
padding-bottom: 37px!important;"><span style="color:#000;font-family: verdana;margin-left: 1px!important;float:right"><b>تفاصيل الطلب</b></span><br><span style="font-family: verdana;margin-left: 1px;color:#000;float:right">رقم الطلب :</span> <span style="font-family: verdana;margin-right: 1px;color:#000;float:right"><?php echo $_order->getIncrementId(); ?></span><br><span style="color:#000;margin-left: 1px;font-family: verdana;float:right">وقت الطلب :</span><span style="color:#000;font-family: verdana; margin-right: 10px;float:right"><?php echo $_order->getCreatedAt(); ?></span><br><span  style="color:#000;font-family: verdana;margin-left: 1px;float:right">شركة الشحن : </span><span style="font-family: verdana; color:#000;margin-right: 10px;float:right">سمسا اكسبريس</span>
<!-- start payment method -->
<br><span  style="color:#000;font-family: verdana;float:right">طريقة الدفع : </span><?php
$payment = $_order->getPayment();
$method = $payment->getMethodInstance();
$methodTitle = $method->getTitle(); ?><span style="font-family: verdana;color:#000;float:right;"><?= $methodTitle; ?></span>
<br></td>
         <td style="text-align: left!important;background-color:#fff;color:#000;margin-bottom:20px;width:50%;font-size: 16px;margin-top: 10px;text-align: left;font-family: verdana;padding-bottom: 10px;" class="shipAddress">
                
                      <span  style="color:#000;font-family: verdana;float: right;"><b>عنوان الشحن والتوصيل</b><br></span><br><span style="color:#000;font-family: verdana;float: right;">
                         <?php  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $countryCode = $_order->getShippingAddress()->getData("country_id"); // Enter country code here
    $country = $objectManager->create('\Magento\Directory\Model\Country')->load($countryCode)->getName();
         $billingAddress = $_order->getBillingAddress(); echo $_order->getCustomerName(); ?></span><br><span style="color:#000;font-family: verdana;float: right;">
                     <?php echo $_order->getShippingAddress()->getData("street"); ?></span><br><span style="color:#000;font-family: verdana;float: right;">
         <?php echo $_order->getShippingAddress()->getData("city").', ' .$_order->getShippingAddress()->getData("region").', ' .$_order->getShippingAddress()->getData("postcode"); ?></span><br><span style="color:#000;font-family: verdana;float: right;">
         <?php echo $country; ?></span><br><span style="color:#000;font-family: verdana;float: right;">
          <?php echo "T: ".$_order->getShippingAddress()->getData("telephone"); ?><br>
 </td></tr>
 
</table></td></table>
<table style="margin:0 auto;padding:20px;width: 600px;"   align="center" border="0" cellspacing="0" cellpadding="0"> <tr>
                        <td class="details_print" style="background-color:#f0eeee;color:#000;margin-bottom:20px;padding: 6px;text-align: center;width:100%;font-weight: 600;height:30px;font-size: 16px;line-height: initial;margin-top: 10px; font-family: verdana;">تفاصيل الطلب
</td>
                     </tr></table>
<?php $_order = $block->getOrder() ?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <table class="email-items " style="margin:0 auto;padding:20px;width: 600px;"   align="center" border="0" cellspacing="0" cellpadding="0">
   
            <tr>
                  <th class="productImage" style="text-align: left;">
                    <?= /* @escapeNotVerified */  __('') ?>
                </th>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Product Name') ?>
                </th>
                <th class="item-qty" style="text-align: center;">
                    <?= /* @escapeNotVerified */  __('Qty') ?>
                </th>
                <th class="item-price" style="text-align: center;">
                    <?= /* @escapeNotVerified */  __('Price') ?>
                </th>
            </tr>
       
        <?php foreach ($_items as $_item): ?>
            <?php if (!$_item->getParentItem()) : ?>
                <tbody>
                    <?= $block->getItemHtml($_item) ?>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot class="order-totals" style="text-align: right;">
            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed('order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper('Magento\GiftMessage\Helper\Message')->getGiftMessage($_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
<table style="margin:0 auto;padding:20px;width: 600px;" class="wrapper"  align="center" border="0" cellspacing="0" cellpadding="0">
<tr>
      <td class="wrapper-inner" align="center" >
         <table class="main" align="center" border="0" cellspacing="0" cellpadding="0">
           <tr>
               <td style="margin-bottom: 20px;">
                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                     <tr>
                        <td style="background-color: #f15a49;height: auto;text-align: center; width: 100%;">
                          
                           <table width="" border="0" cellspacing="0" cellpadding="0" align="center">
                              <tbody>
                                  <tr style="background-color:#fff;">
                    <td style="text-align:center">
                        <hr>
                        <div style="color:black;font-family: verdana;">        
لخدمة العملاء الرجاء التواصل معنا على              <br>
                            <p style="color: #ff583d!important;font-family: verdana;"><a target="_blank" href="mailto:info@saksooka.com" style="
    color: #f15a49;
">info@saksooka.com</a></p></div>
                    </td>
                </tr>
                <tr>
                    <td style="margin-bottom: 20px;background-color: #f15a49;" class="footer_print">
                        <div style="background-color: #f15a49;height: auto;text-align: center; width: inherit;width: 600px;">
                            <img src="https://www.saksooka.com/pub/media/mail/devidefooter.jpg" style="width: 600px;">
                            <table width="auto" border="0" cellspacing="0" cellpadding="0" align="left">
                                <tbody>
                                <tr style="display: -webkit-box;">
                                    <td align="left" style="padding-top: 4px;padding-right: 5px;text-align:right;"><span style="color: #ffffff;font-family: verdana;margin-left: 10px;">
تابعونا</span></td>
                                    <td width="auto" style="display: initial;">
                                      <a href="https://www.instagram.com/saksooka.sa/">  <img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/insta.png" style="width: 27px;padding-right: 5px;"></a>
                                       <a href="https://www.facebook.com/saksooka.sa/"><img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/facebook.png" style="width: 25px;padding-right: 5px;"></a>
                                   <a href="https://twitter.com/saksooka_sa">     <img src="https://www.saksooka.com/pub/media/wysiwyg/cleversoft/Email/twitter.png" style="width: 25px;padding-right: 5px;"></a>
                                    </td>
                                      <td align="left" style="color: #ffffff;padding-top: 4px;padding-left: 5px;text-align:right;"><span style="color: #ffffff;font-family: verdana;margin-right: 286px;"><a style="color:#fff!important;"href="http://www.saksooka.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.saksooka.com&amp;source=gmail&amp;ust=1571822283455000&amp;usg=AFQjCNFezCnYluwaqJoQ_WKQNc2RrjxYAA" style="color:#fff;">www.saksooka.com</a> </span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr></table>

