<?php
/**
 * @category    CleverSoft
 * @package     CleverBase
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author        ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php
$theme = $this->helper('CleverSoft\Base\Helper\Data');
$product_layout = $theme->getCfg('product_page/page_layout');
$showTabs = $theme->getCfg('product_page/tabs');

$containerClasses = '';
$tabsClasses = '';
if ($showTabs) {
    $containerClasses .= ' collateral-tabs';
    $tabsClasses .= ' ' . $theme->getCfg('product_page/tabs_style');
} else {
    $containerClasses .= ' collateral-stacked';
}


switch ($product_layout) {
    case 'sticky_layout_3':
        $tab_style_config = 'accordion';
        break;
    case 'accordion_tabs':
        $tab_style_config = 'accordion';
        break;
    case 'carousel_thumb':
        $tab_style_config = 'accordion';
        break;
    case 'grid_thumb':
        $tab_style_config = 'accordion';
        break;
    case 'sticky_layout_2':
        $tab_style_config = 'accordion';
        break;
    case 'vertical':
        $tab_style_config = 'vertical';
        break;
    default:
        $tab_style_config = '';
}

$tab_style = "";
if (isset($tab_style_config) && $tab_style_config)
    $tab_style = $tab_style_config;

$_settingHelper = $this->helper('CleverSoft\Base\Helper\Data');
?>

<?php if ($detailedInfoGroup = $block->getGroupChildNames('detailed_info', 'getChildHtml')): ?>
    <?php if ($tab_style == 'accordion') : ?>
        <div class="catalog-product-tab product-tab-detail panel-group" id="accordion">

            <div class="product info detailed box-collateral<?php echo $containerClasses . ' ' . $tab_style; ?>">
                <?php $layout = $block->getLayout(); ?>
                <div class="product data items<?php echo $tabsClasses; ?>">
                    <?php $key = 0; ?>
                    <?php foreach ($detailedInfoGroup as $key => $name): ?>
                        <?php
                        $key++;
                        $html = $layout->renderElement($name);
                        $isset = '';
                        if (!trim($html)) {
                            continue;
                        }
                        if (isset($html)) {
                            $isset = 'isset';
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        ?>

                        <div class="data item title <?php echo $key == 1 ? 'active' : ''; ?>">
                            <a class="data switch collapsed" data-toggle="collapse" data-parent="#accordion"
                               href="#tab-label-<?php /* @escapeNotVerified */
                               echo $key; ?>">
                                <?php /* @escapeNotVerified */
                                echo $label; ?></a>
                        </div>
                        <div id="tab-label-<?php /* @escapeNotVerified */
                        echo $key; ?>" class="panel-collapse collapse <?php echo $key == 1 ? 'in' : ''; ?>">
                            <?php /* @escapeNotVerified */
                            echo $html; ?>
                        </div>
                    <?php endforeach; ?>
                </div>
            </div>
        </div>
        <script>
            require([
                'jquery'
            ], function ($) {
                $(document).ready(function () {
                    $(".product.info.detailed.accordion .product.data.items > .item.title").click(function(){
                        $(this).removeClass("active");
                    });
                });
            });
        </script>
    <?php else : ?>
        <div class="catalog-product-tab product-tab-detail">
            <div class="product info detailed box-collateral<?php echo $containerClasses . ' ' . $tab_style; ?>">
                <?php $layout = $block->getLayout(); ?>
                <div class="product data items<?php echo $tabsClasses; ?>"
                     <?php if ($showTabs): ?>data-mage-init='{"tabs":{"openedState":"active"}}'<?php endif; ?>>
                    <?php foreach ($detailedInfoGroup as $key => $name): ?>
                        <?php
                        $html = $layout->renderElement($name);
                        $isset = '';
                        if (!trim($html)) {
                            continue;
                        }
                        if (isset($html)) {
                            $isset = 'isset';
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        ?>
                        <script>
                            require([
                                'jquery'
                            ], function ($) {
                                $(document).ready(function () {
                                    $('.product-tab-detail').addClass('<?php echo $isset; ?>');
                                });
                            });
                        </script>
                        <div class="data item title"
                             aria-labeledby="tab-label-<?php /* @escapeNotVerified */
                             echo $alias; ?>-title"
                             data-role="collapsible" id="tab-label-<?php /* @escapeNotVerified */
                        echo $alias; ?>">
                            <a class="data switch"
                               tabindex="-1"
                               data-toggle="switch"
                               href="#<?php /* @escapeNotVerified */
                               echo $alias; ?>"
                               id="tab-label-<?php /* @escapeNotVerified */
                               echo $alias; ?>-title">
                                <?php /* @escapeNotVerified */
                                echo $label; ?>
                            </a>
                        </div>
                        <div class="data item content <?php echo $key == 0 ? 'first' : ''; ?>"
                             id="<?php /* @escapeNotVerified */
                             echo $alias; ?>" data-role="content">

                                 <?php /* @escapeNotVerified */  echo $html; ?>

                        </div>
                    <?php endforeach; ?>
                    <?php foreach ($detailedInfoGroup as $name): ?>
                        <?php
                        $html = $layout->renderElement($name);
                        if (!trim($html)) {
                            continue;
                        }
                        $alias = $layout->getElementAlias($name);
                        $label = $block->getChildData($alias, 'title');
                        ?>
                    <?php endforeach; ?>
                </div>
                <?php if ($tab_style && $tab_style == "vertical"): ?>
                    <script>
                        require([
                            'jquery'
                        ], function ($) {
                            $(document).ready(function () {
                                <?php if ($showTabs): ?>
                                setTimeout(function () {
                                    $('.product.data.items').tabs().tabs('option', 'openOnFocus', true);
                                }, 500);
                                <?php endif; ?>
                                $(".product-tab-detail .product.info.detailed.vertical .product.data.items.style1 .data.item.title").off("classadded").on("classadded", function () {
                                    $(this).parent().css("min-height", $(this).next().outerHeight() + "px");
                                });
                                $(".product-tab-related-upsell.isset .product.info.detailed.vertical").css("min-height", $(".product-tab-related-upsell.isset .product.info.detailed.vertical .item.content").outerHeight() + "px");
                            });
                        });
                    </script>
                <?php endif; ?>
            </div>
        </div>

    <?php endif; ?>

<?php endif; ?>
<script>
    require([
        'jquery'
    ], function ($) {
        $(document).ready(function () {
            $(".page.messages").addClass('cart');

            setTimeout(function () {
                $(".page.messages").addClass('active');
            }, 2000);

            setTimeout(function () {
                $(".page.messages").removeClass('cart active');
                $(".messages").find('div.messages').html('');
            }, 6000);
        });
    });
</script>
