.customer-account-create .form-create-account .fieldset + .fieldset {
  margin-top: 0px;
}

.customer-account-create fieldset.fieldset.address {
  display: none;
}

.customer-account-create div#remember-me-box {
  display: none;
}

.customer-account-create fieldset.fieldset.create.account {
  display: none;
}

.customer-account-create .actions-toolbar {
  display: none;
}
.otpdivcodeBox{
    margin: 0px 3px;
border-color: #000 !important;
    color: #000 !important;
  height: 55px !important;
  width: 55px !important;
  font-size: 20px !important;
  text-align: center;
    }
   .otpdivcodeBox::-webkit-inner-spin-button,
   .otpdivcodeBox::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    .intl-tel-input.allow-dropdown .flag-container {
  opacity: 0;
  visibility: hidden;
}

#countryPhoneCodecustom{
 width: 100px;
}

.encloser22 {  
  display: flex;
}



button#to-register-button,
button#to-address-button,
button#getotpbtn {
  background-color: #000;
  height: 40px;
  color: #fff;
  border-radius: 0px;
      text-transform: uppercase;
  font-weight: 500;

}

input#mycustomphonefield2 {
color: #000;
  margin-left: 10px;
}


.customer-account-create #otpbtndiv {
  margin-left: 0px !important;
  margin-top: 15px;
}

#empty-divs-frsttab-error,
#empty-divs-frsttab-error2
{
display: none;
color: red;
font-size: 12px;
}

@media screen and (max-width:670px){
#otpbtndiv {
  float: unset !important;
  }
  button#to-register-button, button#to-address-button, button#getotpbtn {
  width: 100%;

}
 p.otp-sms-msg{
  max-width: 230px;
}
div#otpdiv {
  text-align: center;
}
.customer-account-create button.action.submit.primary {
  width: 100%;
}
.customer-account-create .actions-toolbar {
  margin-top: 0px !important;
}
.customer-account-create fieldset.fieldset.create.account .field {
  margin-bottom: 10px !important; 
}
.customer-account-create button#resendotpbtn {
  margin-top: 30px;
}
#waitsmsdiv {
  margin-left: 0px !important;
  float: unset !important;
  text-align: center;
}

}


p.otp-sms-msg,
p.mobile-num-text,
.otp-snd-pn,
.vrfy-pn {
  font-size: 13px;
  line-height: 1.2;
  color: #000;
}


div#otpdiv{
margin-left: 0px !important;
width: 100% !important;
}


div#otpdiv p {
  text-align: left;
}


.customer-account-create button.action.submit.primary {
  border-radius: 0px !important;
  height: 40px;
  text-transform: uppercase;
}

.customer-account-create button#resendotpbtn {
  border: 1px solid;
  background-color: #fff;
  color: #000;
}






/*checkout css */
.checkout-shipping-address > .step-content .action.action-show-popup {
  width: 100% !important; 
  background-color: #fff !important;
  color: #000 !important;
  height: 58px;
}



.opc-payment .payment-methods .payment-method input[type="radio"]{
display: none !important;
}



.checkout-onepage-success a.action.primary.continue {
  background-color: #000;
  height: 55px !important;
  color: #fff !important;
  display: block;
  max-width: 337px;
  margin: 0 auto;
  line-height: 55px;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
}




.checkout-onepage-success .success-page-thumb-icon{
text-align: center;
}


.checkout-onepage-success p.sucess-para {
  background-color: #EDEDED;
  max-width: 337px;
  margin: 40px auto 60px; 
  font-size: 14px !important;
  color: #000;
  padding: 5px 50px;
  border-radius: 5px;
}


.checkout-onepage-success .subtitle-sucess{
font-size: 18px;
color: #000;
text-align: center;
font-weight: 600;
} 

.checkout-onepage-success h6.thank-you-title {
  margin: 15px 0px 0px !important;
}



.multicheckout.success,
.checkout-onepage-success .checkout-success {
  border: 0px !important;
}

.multicheckout.success a,
.checkout-onepage-success .checkout-success a {
  color: #000 !important;
  text-decoration: none !important;
}

.checkout-onepage-success .checkout-success strong{
font-weight: 400 !important;
}


.checkout-index-index .opc-progress-bar {
position: relative;
left: 210px !important;
  margin-left: auto !important;
}

.checkout-index-index .opc-progress-bar .opc-progress-bar-item > span:after {
  left: 0% !important;    
  text-align: center;

 }
.checkout-index-index .opc-progress-bar .opc-progress-bar-item > span:before {
  left: 0px !important;
 } 
.checkout-index-index .opc-progress-bar .opc-progress-bar-item._active:before {
  background: #05B18F;
} 

.opc-progress-bar .opc-progress-bar-item._active > span:after {
  background-color: #05B18F !important;
  color: #ffffff !important;
      text-align: center;
}

form.form.methods-shipping button.button.action.continue.primary {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  max-width: 340px !important;
  width: 100% !important;
      border-radius: 1px !important;
}

form.form.methods-shipping div#shipping-method-buttons-container {
  margin: 25px auto;
  width: 100%;
  max-width: 340px;
}

.opc-progress-bar .opc-progress-bar-item:last-child:before {
display: none;
}

.opc-progress-bar .opc-progress-bar-item._active > span:before {
  background: #05B18F !important;
}

.opc-progress-bar .opc-progress-bar-item._active > span {
  color: #05B18F !important;    
  text-align: left !important; 
      margin-left: -60px;
}


.checkout-index-index .opc-progress-bar .opc-progress-bar-item._active:before{
width: 84% !important;
  top: 17px !important;
  left: 24px !important;
}




.opc-block-summary .content.minicart-items {
  display: block !important;
}

.opc-progress-bar .opc-progress-bar-item._complete:before {
   width: 84% !important;
  top: 17px !important;
  left: 24px !important;
}


.opc-block-summary > .title {
  display: none !important;
 }

.opc-block-summary .subtotal {
  float: right;
}


.checkout-index-index .shipping-address-items .shipping-address-item {
  float: left;
  border: 1px solid #000;
  color: #000;
  font-family: poppins;
}
.checkout-index-index .shipping-address-items {
  display: block !important;
 }

.shipping-address-items .shipping-address-item {
  min-height: 200px;
  margin: 10px 8px !important;
      min-width: 225px;
}


@media screen and (max-width: 559px){
.checkout-index-index .shipping-address-items{
  flex-direction: column;
  display: flex !important;
}
}



.shipping-address-items .shipping-address-item:nth-child(3n + 1) {
  clear: inherit !important;
}


.opc-block-summary .items-in-cart > .title{
display: none !important; 
} 

.opc-progress-bar .opc-progress-bar-item > span {
  text-align: left !important;
      margin-left: -125px;
 }


.opc-progress-bar .opc-progress-bar-item._complete > span:before {
  background: #05B18F !important;
}


.opc-progress-bar .opc-progress-bar-item._complete:before {
  background: #05B18F !important; 
}

.opc-progress-bar .opc-progress-bar-item._complete > span:after {
  color: #05B18F !important;
}

.opc-progress-bar .opc-progress-bar-item._complete > span {
  color: #05B18F !important; 
  margin-left: -70px !important;
}

.payment-method .checkout-agreements-block {
  display: none;
}


.opc-payment .payment-methods .payment-method button.action.primary.checkout {
  width: 100% !important;
  border-radius: 1px;
  margin-top: 20px;
  background-color: #05B18F;
  border-color: #05B18F;
}




#checkout-payment-method-load .payment-group {
 position: relative;
}

#checkout-payment-method-load .payment-group > .step-title{
 display: none;
}
#checkout-payment-method-load .payment-group .payment-method .payment-method-title #free + label > span {
  display: block;
  font-size: 15px;
}
#checkout-payment-method-load .payment-group .payment-method 
.payment-method-title > label > span {
 display: none;

}


#checkout-payment-method-load .payment-group .payment-method 
.payment-method-title   {
  padding: 0px !important;
  position: initial;
}

#checkout-payment-method-load .payment-group .payment-method 
.payment-method-title > label  {
 position: absolute;
 top: 35px; 
 min-height: 42px;
  border:1px solid #cccccc;
  left:90px;
  border-radius: 0px !important;
}


@media screen and (min-width: 587px){
#checkout-payment-method-load .payment-group .payment-method  .payment-method-content{
 padding-top: 50px;
}
}




#checkout-payment-method-load .payment-group .payment-method 
.payment-method-title [for="visamasterhyperpay"]{
left: 190px;
}




#checkout-payment-method-load .payment-group .payment-method 
.payment-method-title [for="cashondelivery"]{
left: 290px;
}


.opc-payment .payment-methods .payment-method {
  border-bottom: 0 !important;
}

.opc-sidebar.opc-summary-wrapper  div#opc-sidebar .opc-block-shipping-information {
  display: none;
} 

.opc-sidebar.opc-summary-wrapper .opc-block-summary {
  display: flex;
  flex-direction: column;
  background-color: #fff !important;
      margin-bottom: 15px;
}

.opc-sidebar.opc-summary-wrapper .opc-block-summary .table-totals {
  order: 1;
}



.checkout-index-index section#maincontent {
  background-color: #f5f5f5;
}


.checkout-index-index .payment-option-content {
  display: block !important;
}




.checkout-index-index form#discount-form {
  position: relative;
  margin-top: -10px;
}

.checkout-index-index .payment-option.discount-code .actions-toolbar {
      position: absolute;
  right: 0px;
  bottom: 0px;
}


.payment-option.discount-code .form-discount .actions-toolbar .action.action-apply {
  border-radius: 0px;
  width: 100% !important;
}
.payment-option.discount-code .form-discount .actions-toolbar .action {
padding: 0px 28px !important;
line-height: 40px !important;
}

.checkout-index-index .opc-block-summary .minicart-items-wrapper .product-item-details dd.values{
  margin-left: 47px;
  margin-top: -30px;
}



.checkout-index-index .opc-block-summary .table-totals tr.totals.grand th strong, .opc-block-summary .table-totals tr.totals.grand td strong {
  font-size: 20px !important;
  color: #000000 !important;
}


.checkout-index-index .opc-block-summary .minicart-items-wrapper .opc-block-summary .minicart-items-wrapper .product-item-details{
color: #000 !important;
} 


.checkout-index-index .opc-block-summary {
  padding: 10px 10px 20px !important;
}



.checkout-index-index .opc-block-summary li.product-item {
  border: 2px solid #ccc !important;
  margin: 10px 0px;
  padding-top: 0px !important;
}

.checkout-index-index .payment-option.discount-code {
order: 0;
  padding: 25px 25px !important; 
  background-color: #fff;
  margin-bottom: 10px;
}

.checkout-index-index li#payment fieldset.fieldset{
display: flex;
flex-direction: column; 
position: relative;
}


.checkout-index-index div#checkout-payment-method-load {
  margin-bottom: 15px;
  background-color: #fff;
  order: 2;
  padding: 20px;
}




.checkout-index-index form#co-payment-form .field.choice {
  order: 1;
  background-color: #fff;
      padding:20px;
      margin-bottom: 10px;
}


.checkout-index-index form#co-payment-form .checkout-billing-address {
display: none;
}


.checkout-index-index .payment-option.discount-code .payment-option-title.field.choice {
  background-color: unset !important;
   padding: 0px !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  font-size: 20px;
  font-weight: 600;
}


.checkout-index-index form#co-payment-form .payment-option-inner label:after {
  content: "Please type your discount code if you have one";
  color: #000;
  white-space: break-spaces;
}



.checkout-index-index form#co-payment-form .payment-option-inner label span{
display: none;
}


.checkout-index-index .payment-option.discount-code .payment-option-title:after {
display: none;
}

.checkout-index-index .payment-option.discount-code .payment-option-title {
border-bottom: 0px !important;
padding-bottom: 0px;
}


@media screen and (min-width: 992px){
.checkout-index-index .opc-wrapper {
padding-right: 0px;
  width: 44%;
}
.checkout-index-index .opc-sidebar.opc-summary-wrapper {
  width: 56%;
}
}



.checkout-index-index .checkout-billing-address .field.choice {
  background-color: unset !important;
  padding: 0px !important;
  padding-left: 20px !important;
  margin-bottom: 0px !important;
}


.field.choice:nth-of-type(3) label {
  border: 1px solid #000 !important;
}



form.payments > .fieldset > legend.legend {
font-weight: 600;
  display: block !important; 
  border-bottom: 0px !important;
}

form.payments > .fieldset > legend.legend span{
display: none;
}


.checkout-index-index form#co-payment-form .field.choice label[for="mpstorecredit-spending"] {
  border: 1px solid #000;
  padding: 10px 10px 10px 30px;
  float: right;
    color: #000 !important;
    width: 111px;
}

.checkout-index-index .payment-method-content .col-md-6 {
  width: unset !important;
}

.checkout-index-index select#cardExpiryYearVisaMaster {
  margin-left: 10px !important;
}
.checkout-index-index select#cardExpiryYearMada {
  margin-left: 10px;
}

.checkout-index-index li#payment fieldset.fieldset .field.required:nth-child(5) {
  position: absolute;
  bottom: 0px;
  right: 0px;
}





.opc-progress-bar .opc-progress-bar-item:nth-child(2) span {
  margin-left: -135px !important;
}



@media screen and (max-width: 1199px){
.checkout-index-index section#maincontent .opc-progress-bar .opc-progress-bar-item:nth-child(2) span {
  margin-left: -230px !important;
}
}


@media screen and (min-width: 992px){
form.payments > .fieldset > legend.legend {
position: absolute;
top: -90px;
}
}


.checkout-index-index li.checkout-shipping-address {
  background-color: #fff;
  padding: 15px 15px;
}

.checkout-index-index li.checkout-shipping-address .step-title {
  display: none;
}


.checkout-index-index .checkout-shipping-method .step-title {
  display: none;
}

.checkout-index-index li#opc-shipping_method:before {
  content: "CHOOSE YOUR CARIER";
  display: block;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.checkout-index-index li#opc-shipping_method {
  background-color: #fff;
  padding: 15px 15px;
  margin-bottom: 15px;
}

.checkout-index-index table.table-checkout-shipping-method td#label_method_smsashipping_smsashipping {
  display: none;
}

.checkout-index-index table.table-checkout-shipping-method td#label_carrier_smsashipping_smsashipping {
  display: none;
}

.checkout-index-index table.table-checkout-shipping-method tr.row {
  display: grid;
  justify-content: center;
}

.checkout-index-index table.table-checkout-shipping-method {
  width: 100%;
}

.checkout-index-index table.table-checkout-shipping-method td.col.col-price {
  font-size: 18px;
  color: #000 !important;
}

.checkout-index-index .table-checkout-shipping-method tbody tr td.col-method input {
  left: 0px !important;
  z-index: -1;
}

.checkout-index-index .table-checkout-shipping-method tbody tr td {
  border: 0px;
 }


.checkout-index-index .table-checkout-shipping-method tbody tr[data-bind="click: element.selectShippingMethod"] td.col-method:first-child:before {
      content: "";
  background-image: url(../images/shipping-meth.png);
  padding: 22px 39px;
  display: block;
  background-size: 81px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 2px solid #05B18F;
  margin: -25px -9px;
  border-radius: 2px;
  box-shadow: 0px 2px 6px #5b515159;
  background-position: -1px -1px;
}



.checkout-index-index .checkout-shipping-method {
  margin-top: 15px !important;
}

.checkout-index-index .checkout-shipping-q1,
.checkout-index-index .checkout-shipping-q2 {
  text-align: center;
  color: #000;
}


.checkout-index-index .opc-wrapper:before {
  content: "Secure Checkout ";
  font-size: 25px;
  font-weight: 600;
  color: #000;
}


.checkout-index-index ol#checkoutSteps:before {
  color: #000;
  content: "We dont save your payment informations ! we dont share it with anyone ( TOP SECERET )";
}


@media screen and (min-width: 992px){
.checkout-index-index ol#checkoutSteps:before {
  content: "We dont save your payment informations ! we dont share it with anyone ( TOP SECERET )";
  position: absolute;
  top: 55px;
}

.checkout-index-index .opc-wrapper:before {
  content: "Secure Checkout ";
  position: absolute;
  top: 20px;
}

}

@media screen and (max-width: 991px){
.checkout-index-index ol#checkoutSteps:before {
         margin-bottom: 20px;
  display: block;
  }
}



.checkout-index-index .breadcrumbs {
  margin-bottom: 0px;
}


@media screen and (max-width: 1199px) and (min-width: 992px){
.checkout-index-index .container {
  width: 100%;
}
}

.checkout-index-index li#payment fieldset.fieldset input,
.checkout-index-index li#payment fieldset.fieldset select{
border-color: #000 !important;
color: #000 !important;
}


.checkout-index-index .payment-option.discount-code .form-discount .actions-toolbar > div {
  margin-right: 0px !important;
}

.checkout-index-index .opc-payment .payment-methods .payment-method {
  margin-bottom: 0px !important;
}

.checkout-index-index .payment-method-title .label img {
  float: unset !important;
  width: 80px;
}

#checkout-payment-method-load .payment-group .payment-method .payment-method-title [for="cashondelivery"] img{
 height: 40px;
}




@media screen and (max-width: 586px) and (min-width: 434px){
#checkout-payment-method-load .payment-group .payment-method .payment-method-title > label {
  left: 50px;
}
#checkout-payment-method-load .payment-group .payment-method .payment-method-title [for="visamasterhyperpay"] {
  left: 155px !important; 
}
#checkout-payment-method-load .payment-group .payment-method .payment-method-title [for="cashondelivery"] {
  left: 265px;
}
.checkout-index-index input#cardCvvMada {
  width: 115px;
}


}

@media screen and (max-width: 433px){
.checkout-index-index .payment-method-title .label img {
  width: 70px;
}
 #checkout-payment-method-load .payment-group .payment-method .payment-method-title > label {
  left: 30px;
}
#checkout-payment-method-load .payment-group .payment-method .payment-method-title [for="visamasterhyperpay"] {
  left: 115px !important; 
}
#checkout-payment-method-load .payment-group .payment-method .payment-method-title [for="cashondelivery"] {
  left: 200px;
} 
}

@media screen and (max-width: 586px){
.checkout-index-index form#co-payment-form .discount-code .field.choice {
  padding-left: 0px !important;
}
 .checkout-onepage-success p.sucess-para {
  margin: 20px auto 40px !important;
 } 
.multicheckout.success,
 .checkout-onepage-success .checkout-success {
  padding: 20px 0px !important;
 }
.checkout-index-index .page-wrapper form#co-payment-form .field.choice.mpstorecredit-spending input[type="checkbox"] {
  left: 10px !important;
  top: 43px !important;
}
.mpstorecredit-spending .checkmark {
  top: 27px !important;
  right: 95px !important;
}
.checkout-index-index .checkout-billing-address .field.choice input[type="checkbox"] {
  top: 15px !important;
  left: -5px !important;
}
.checkout-index-index form#co-payment-form .checkout-billing-address {
  padding: 10px !important;
 }
.checkout-index-index .payment-option.discount-code {
  padding: 10px 10px !important;
}
.checkout-index-index form#co-payment-form .field.choice {
  padding: 10px !important;
}
.checkout-index-index .opc-wrapper .fieldset > .field {
  padding: 0 0px !important;
}


.checkout-index-index #visamasterhyperpay-method-content .col-md-8 {
  width: 115px !important;
}   
.checkout-index-index select#cardExpiryYearVisaMaster {
  margin-left: 5px !important;
}  
#visamasterhyperpay-method-content .col-md-4 {
  width: unset !important;
  display: block !important;  
  float: unset !important;
}


.checkout-index-index input#cardCvvMada {
  width: 115px;
}
#madahyperpay-method-content .col-md-8{
width: unset !important;
float: right;
}
#madahyperpay-method-content .col-md-4 img {
  position: absolute;
  right: 10px;
  top: 5px;
}
#madahyperpay-method-content .col-md-4{
width: unset !important;
float: unset !important;
display: block !important;
}
.checkout-index-index select#cardExpiryYearMada {
  margin-left: 5px !important; 
}
.checkout-index-index div#checkout-payment-method-load {
  padding: 10px !important;
}

#visamasterhyperpay-method-content .col-md-4 img {
  position: absolute;
  right: 10px;
  top: 5px;
}  

}

#checkout-payment-method-load .payment-group:before {
  content: "CHOOSE YOUR PAYMENT";
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}


@media screen and (max-width: 1129px) and (min-width:992px){
#madahyperpay-method-content .col-md-8 {
  float: right !important;
}

}

.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>thead>tr>th, 
.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>tbody>tr>th,
.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>tfoot>tr>th,
.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>thead>tr>td,
.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>tbody>tr>td,
.opc-sidebar.opc-summary-wrapper .opc-block-summary .table>tfoot>tr>td {

  border-top: 0px;
}

.opc-sidebar.opc-summary-wrapper tr.grand.totals {
  border-top: 2px solid #ccc;
}


.checkout-index-index .minicart-items .product-item .product-item-details {
  color: #000;
}

.checkout-index-index .item-options dt, .item-options dl {
  color: #000;
}

#madahyperpay-method-content .col-md-4 {
  width: unset !important; 
}

#madahyperpay-method-content .col-md-8 {
  float: right !important;
}

.checkout-index-index form#co-payment-form .field.choice.mpstorecredit-spending input[type="checkbox"] {
  left: 20px !important;
  top: 53px;
}


.checkout-index-index .mpstorecredit-spending-p {
  position: absolute;
  color: #000;
}

.checkout-index-index  p.stor-wallet {
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 600;
}


@media screen and (min-width: 587px){
.checkout-index-index label.label[for="card.cvv"] {
  position: absolute;
  top: -25px;
  left: 107px;
}
}

.checkout-index-index #visamasterhyperpay-method-content .col-md-8 {
  float: right;
}  

form#visamasterhyperpay-form .field:nth-child(3) .col-md-4{
display: none !important;
}

form#visamasterhyperpay-form .field:nth-child(3) .col-md-8{
width: 100% !important;
}

@media screen and (max-width: 991px){
.opc-estimated-wrapper .minicart-wrapper {
  margin-top: -30px !important; 
}

.opc-sidebar.opc-summary-wrapper .modal-inner-wrap .modal-header .action-close:after {
  content: "x";
  position: absolute;
  font-size: 25px !important;
  top: -12px;
  right: -5px;
}
.opc-estimated-wrapper .estimated-block .estimated-label:after {
  content: "Show Order Details";
  position: absolute;
  bottom: 8px;
  left: 20px;
  color: #05B18F;
}
.checkout-index-index .opc-estimated-wrapper .minicart-wrapper button.action.showcart:before {
  text-align: right; 
  font-size: 35px !important;
  content: "\e684" !important;
  width: 691px;
  display: block;
  position: relative;
bottom: -4px;
}
.checkout-index-index .opc-estimated-wrapper .minicart-wrapper button.action.showcart > .counter.qty{
display: none;
} 
.checkout-index-index .opc-estimated-wrapper .estimated-block {
  float: unset !important;
  border-bottom: 1px solid;
}
.checkout-index-index .opc-estimated-wrapper .estimated-block .estimated-price {
  float: right !important;
  position: relative;
  color: #000 !important;
  bottom: 38px;
  left: 5px;
}

.checkout-index-index .opc-estimated-wrapper {
  background: #fff !important;
  border: 0px !important;
  margin-bottom: 0px !important;
}
.checkout-index-index .opc-wrapper:before{
  display: none;
}
.checkout-index-index ol#checkoutSteps:before{
  display: none !important;
}


.checkout-index-index .opc-sidebar.opc-summary-wrapper {
  z-index: 99998 !important;
}

body.checkout-index-index._has-modal-custom:before {
  content: "";
  z-index: 0 !important;
}

}

#visamasterhyperpay-method-content .col-md-4 {
  width: unset !important;
 }

.checkout-index-index #cardNumberMada.unvalid {
  border-color: #000;
  background-color: transparent;
}

.checkout-index-index #cardNumberVisaMaster.unvalid{
   border-color: #ccc;
  background-color: transparent; 
}

.mpstorecredit-spending .container input:checked ~ .checkmark {
 background-color: #05B18F;
 border: none;
}

.mpstorecredit-spending .checkmark {
  position: absolute;
  top: 35px;
  right: 105px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fff;
  border:1px solid;

}

.mpstorecredit-spending span.checkmark:hover {
  cursor: pointer;
}

.mpstorecredit-spending .container input {
position: absolute;
cursor: pointer;
}

.mpstorecredit-spending .checkmark:after {
content: "";
position: absolute;
display: none;
}

.mpstorecredit-spending .container input:checked ~ .checkmark:after {
display: block;
}


.container .checkmark:after {
left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkout-index-index form#co-payment-form .field.choice label:hover{
cursor: pointer;
}

.checkout-index-index p.use-my-store {
  margin-left: 20px;
}


.checkout-index-index .opc-block-summary li.product-item dl.item-options {
  margin-bottom: 0px;
   margin-top: 15px;
}

.checkout-index-index .payment-option.discount-code .form-discount .actions-toolbar button.action.action-cancel {
background-color: #000;
color: #fff;
border: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  padding: 0px 5px !important;
}



/*checkout css end*/ 



/* feedback css*/





#smserror {
  clear: inherit !important; 
}


@media screen and (max-width: 991px){
.customer-account-login .header.header1.active-sticky {
  position: unset !important;
}
.checkout-index-index li.checkout-shipping-address {
  margin-top: 15px;
}


}


#checkout-payment-method-load .payment-group .payment-method._active .payment-method-title > label{
border: 2px solid #05B18F;
min-height: 41px;
box-shadow: -1px 3px 6px #5b515154;
}

#checkout-payment-method-load .payment-group .payment-method._active .payment-method-title [for="cashondelivery"] img {
  height: 38px;
}



@media screen and (max-width: 586px){
div#madahyperpay-method-content {
  margin-top: 50px;
}
}

.checkout-index-index .minicart-items .product > .product-item-photo img, .minicart-items .product > .product-image-container img {
width: 100% !important; 
}

.opc-sidebar.opc-summary-wrapper .opc-block-summary li.product-item .product{
  display: flex;
}

@media screen and (min-width: 992px){
   .opc-sidebar.opc-summary-wrapper .opc-block-summary span.cart-price {
  padding-right: 10px;
}
}

   .opc-sidebar.opc-summary-wrapper .opc-block-summary span.cart-price {
      font-weight: 600;
}



.checkout-index-index .minicart-items .product-item .product-item-details .label{
color: #000;
}

.action.primary.btn.btn-custom.action-save-address {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

.action.secondary.btn.btn-custom3.action-hide-popup {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}


@media screen and (max-width: 766px){
.action.primary.btn.btn-custom.action-save-address {
width: 100% !important;
}

.action.secondary.btn.btn-custom3.action-hide-popup {
margin-top: 8px;
width: 100% !important;
margin-left: 0px;
}
}

#back-to-personal-info {
     font-size: 16px;
  color: #000;
}


/*feedback css end */ 



@media screen and (max-width: 991px){
.opc-block-summary .content.minicart-items {
  margin-top: 30px;
}
}



@media screen and (min-width: 671px){
fieldset.fieldset.login #waitsmsdiv {
  float: unset;
}
fieldset.fieldset.login .actions-toolbar {
  text-align: left;
}
fieldset.fieldset.login {
  text-align: center;
}
fieldset.fieldset.login div#otpdiv p {
  text-align: center;
}
.block.block-customer-login .block-title {
  text-align: center;
  border-bottom:0px !important; 
}
fieldset.fieldset.login .otpdivcodeBox {
  margin: 0px 7px;
}

.form.create.account.form-create-account {
  max-width: 310px;
  margin: 0 auto;
  width: 100%;
}
.row.customer-name-fields .field-name-firstname{
width: 100%;
}
.row.customer-name-fields .field-name-lastname{
width: 100%;
}
.form.create.account button#to-address-button {
  width: 100%;
}
.form.create.account button#to-register-button {
  width: 100%;
}

.form.create.account label.label {
  color: #000;
}

.form.create.account legend.legend {
  margin-bottom: 0px;
  border-bottom: 0px;
  text-align: center;
}
.form.form-login {
  max-width: 310px;
  margin: 0 auto;
}

.fieldset.login #otpbtndiv {
  width: 100%;
}

.fieldset.login button#getotpbtn {
  width: 100% !important;
}
.fieldset.login .mycustomphonefield3 {
  margin-left: -1px !important;
}

}


.form.form-login input, 
.form.form-login select {
  color: #000;
  border:1px solid #000 !important;
}


.form.create.account input, 
.form.create.account select {
  color: #000;
  border:1px solid #000 !important;
}

.customer-name-fields .field {
  margin-bottom: 5px !important;
}

.form.create.account label.label {
  color: #000;
}

.form.create.account .field {
  margin-bottom: 5px !important;
}

.form.create.account .to-address-button {
  margin-top: 20px;
}

fieldset.fieldset.address .secondary {
  margin-top: 10px;
}


button.action.login.primary {
  height: 50px;
  width: 100%;
}

@media screen and (max-width: 767px){
.checkout-index-index .opc-estimated-wrapper {
  margin-top: 70px;
}
.checkout-onepage-success .success-page-thumb-icon {
  margin-top: 40px;
}
} 


.header.header1.active-sticky {
  top: 0px !important;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 50%);
}


.checkout-index-index li#payment fieldset.fieldset .label{
color: #000 !important;
}


@media screen and (max-width: 767px){
body.account .page-main .pull-right {
margin-top: 160px !important;
}

}

@media screen and (min-width: 768px){
.checkout-index-index .minicart-items .product-item .product-item-details .product-item-name-block {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
.checkout-index-index .minicart-items .product-item .product-item-details .product-item-name-block .details-qty {
  border: 1px solid;
  position: relative;
  bottom: 10px;
  padding: 0px 3px;
}
}

.checkout-index-index .minicart-items .product-item .product-item-details .label:after {
  content: ":";
  margin-left: 5px;
}

.opc-sidebar .minicart-items .product-item .product-item-details .product-item-name {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}


.checkout-index-index .minicart-items .product-item .product-item-details .product-item-name-block .details-qty .label{
display: none;
}




@media screen and (min-width: 587px){
.opc-wrapper div#shipping-new-address-form .field:nth-of-type(6) {
  float: left !important;
}
#co-shipping-form .action.action-show-popup.new-save-address {
  width: 49% !important;
  margin-right: 0px;
}
.opc-wrapper  div#shipping-new-address-form .field {
  width: 49%;
  float: left;
}
.opc-wrapper div#shipping-new-address-form .field:nth-of-type(2n) {
  float: right;
}

.opc-wrapper div#shipping-new-address-form .field.street {
      margin-top: 2px;
      float: right !important;
}
.checkout-shipping-address .action.action-show-popup.cancel-new-address {
  width: 49% !important;
  float: right;
  margin-right: 0px !important;
}

}

.opc-wrapper  div#shipping-new-address-form .field:nth-of-type(9) {
  float: left;
  width: 100% !important;
  margin-bottom: 0px;
}

.opc-wrapper  div#shipping-new-address-form .field label{
color: #000;
}

.opc-wrapper div#shipping-new-address-form .input-text {
  border: 1px solid #000;
  color: #000;
}


.opc-wrapper div#shipping-new-address-form .select{
  border: 1px solid #000; 
  color: #000;
}

fieldset.field.street.admin__control-fields .field {
  width: 100% !important;
}

fieldset.field.street.admin__control-fields .label{
color: #000;
}

#opc-new-shipping-address {
  margin-top: 15px;
}

.opc-wrapper div#shipping-new-address-form .field {
  padding: 0 0px;
}

#co-shipping-form .action.action-show-popup.new-save-address {
  height: 40px;
  background-color: #000 !important;
  color: #fff !important;
}


.checkout-shipping-address .action.action-show-popup.cancel-new-address {
  background-color: #000 !important;
  color: #fff !important;
  height: 40px;
}


@media screen and (max-width: 991px){
.checkout-index-index .opc-block-summary li.product-item dl.item-options {
  margin-top: 0px;
}
.checkout-index-index .opc-block-summary .product-item-brand {
  display: block;
  text-align: initial;
}
.opc-sidebar .minicart-items .product-item .product-item-details .product-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checkout-index-index .opc-block-summary .minicart-items-wrapper .product-item-details dd.values {
  white-space: nowrap;
}
.checkout-index-index .opc-block-summary .details-qty {
  text-align: right;
  padding-right: 5px;
}
.checkout-index-index .opc-block-summary .minicart-items-wrapper .product-item-details dd.values:nth-of-type(1) {
  margin-right: 40px;
}
.opc-sidebar.opc-summary-wrapper .opc-block-summary span.cart-price {
  font-size: 13px;
  padding-right: 5px;
}

}

.checkout-index-index #visamasterhyperpay-method-content .col-md-8 {
  width: calc(52% - 0px);
}

.checkout-index-index #madahyperpay-method-content .col-md-8 {
  width: calc(52% - -4px);
}


.minicart-wrapper.active .product-item-photo {
   width: 80px;
}

@media screen and (max-width: 767px){
 .checkout-index-index section#maincontent {
  padding-right: 0px;
}
.customer-account-login .block.block-customer-login {
  margin-top: 100px;
}
.customer-account-create section.page-main.container {
  margin-top: 120px;
}

} 

.field.note.tab1.remove {
  display: none;
}



.opc-wrapper div#shipping-new-address-form .field-error {
  color: red;
  position: absolute;
  font-size: 11px;
}

.checkout-index-index .shipping-address-items .shipping-address-item a{
color: #000;
}


.checkout-index-index .shipping-address-items .shipping-address-item .action {
  color: #287377;
  border: 1px solid #287377;
}

.checkout-index-index .shipping-address-items .shipping-address-item .action:hover {
color: #fff !important;
background-color: #287377;
}  


.checkout-index-index .shipping-address-items .shipping-address-item.selected-item {
  color: #287377;
  border-color: #287377;
}

.checkout-index-index .shipping-address-items .shipping-address-item.selected-item a{
 color: #287377;
}




.phone-number .switch {
position: relative;
display: inline-block;
width: 50px;
height: 25px;
}

.phone-number .switch input { 
opacity: 0;
width: 0;
height: 0;
}

.phone-number .slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.phone-number .slider:before {
position: absolute;
content: "";
height: 19px;
width: 19px;
left: 2.5px;
bottom: 2px;
background-color: #000;
-webkit-transition: .4s;
transition: .4s;
}

.phone-number input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
background-color: #05B18F !important;
left: 0px;
}

/* Rounded sliders */
.phone-number .slider.round {
border-radius: 34px;
border: 1px solid;
background-color: transparent;
}

.phone-number .slider.round:before {
border-radius: 50%;
}


.opc-wrapper div#shipping-new-address-form .field.choice {
  display: none;
}


.opc-wrapper div#shipping-new-address-form .field:nth-child(11) {
  width: 100% !important;
  margin: 0 auto;
  max-width: 320px;
  float: unset;
}


.opc-wrapper div#shipping-new-address-form .phoneArea .encloser {
  border: 1px solid #000 !important;
  border-right: 0px !important;
}


.opc-wrapper div#shipping-new-address-form .phone-num-lab {
  text-decoration: underline;
  margin-left: 10px;
  color: #000;
}


.opc-wrapper div#shipping-new-address-form .field.phone-number {
  display: flex;
}




/*cart page css*/

  .checkout-cart-index select.input-text.qty {
    width: 83px;
    height: 50px !important;
    float: left;
    border-color: #000;
    color: #000;
    font-weight: bold;
    font-family: system-ui;
}

  .checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details {
    margin-left: 15px !important;
    text-align: right;
    margin-right: 0px !important;
    padding-top: 0px !important;
    position: relative;
    width: calc(100% - 153px) !important;
    text-align: left !important;
  }


@media screen and (min-width: 950px){
  .checkout-cart-index form.form.form-cart {
    width: 70%;
    float: left;
}
.row.shopping-cart-bottom {
    width: 30%;
    float: right;
  }
}

.checkout-cart-index .cart-prices {
    display: inline-block;
    float: right;
}

.checkout-cart-index section.page-main.container {
       padding-top: 15px;
    padding-right: 30px;
    padding-left: 0px;
    background-color: #f5f5f5;
    padding-bottom: 15px;
}

.checkout-cart-index .logo-sites-cart .single-logo {
    width: unset;
    float: right;
    padding: 0 3px;
    display: contents;
}

.checkout-cart-index .logo-sites-cart .single-logo.logistics {
    width: unset;
    display: contents;
}



.checkout-cart-index .row.shopping-cart-bottom {
    background-color: #fff;
}


.logo-payment.upper-section-bg {
    background-color: #fff;
}

.logo-payment.lower-section-bg {
    background-color: #fff;
    margin-top: 15px;
}

.checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details .product-item-name a {
    color: #000 !important;
    font-size: 17px !important;
}
 
.checkout-cart-index .item-flex dd {
    margin-right: 5px;
        font-size: 17px;
            color: #000;
}

.checkout-cart-index .item-flex{
  display: flex;
}


.checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details dl.item-options dt:after {
    content: ":";
    margin-right: 5px;
  }

.checkout-cart-index .cart.table-wrapper {
    background-color: #fff;
  }


.checkout-cart-index #shopping-cart-table tbody tr td {
    border: 0px !important;
  }

.checkout-cart-index #shopping-cart-table tbody:nth-of-type(1) {
    border-top: 0px;
}



.checkout-cart-index #shopping-cart-table tbody {
    padding: 0px !important;
}


.checkout-cart-index .total-items-cart {
   background-color: #fff;
    padding: 20px;
    font-weight: 600;
    color: #000;
        font-size: 16px;
}

.checkout-cart-index .logo-sites-cart .logo-payment {
    padding: 15px 20px !important;
  }

.checkout-cart-index #shopping-cart-table .cart-price .price {
    color: #000000 !important;
    font-size: 17px !important;
}


.checkout-cart-index a.use-ajax.action.action-towishlist {
    color: #7c7c7c;
    display: inline-block;
    font-size: 18px;
}


.checkout-cart-index a.action.action-delete{
  color: #7c7c7c;
    font-size: 16px;
    font-weight: 500;
    float: left;
}


.checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details dl.item-options dt {
    font-size: 17px;
    margin-top: 0px !important;
  }


.checkout-cart-index .page-main>div.row{
     margin-left: 0px;
}



section.cartpage-staticbk-bopc .cart-flexx {
    display: flex;
    border-bottom: 1px solid #9e9e9b6b;
        padding: 15px 0px;
}


section.cartpage-staticbk-bopc .cart-cont {
    padding-left: 30px;
}


section.cartpage-staticbk-bopc p.cart-p1 {
    font-size: 17px;
    font-weight: 600;
    color: #000;
    margin-bottom: 0px;
}


section.cartpage-staticbk-bopc p.cart-p2 {
    color: #000;
    font-size: 14px;
}


section.cartpage-staticbk-bopc .img {
    align-self: center;
}


.checkout-cart-index .logo-sites-cart .single-logo.logistics img {
    width: 79px;
    height: 45px;
}

.checkout-cart-index .logo-sites-cart .single-logo img {
    width: 87px;
    height: 49px;
}

.checkout-cart-index .cart-summary .checkout-methods-items .item .action.checkout {
    background-color: #05B18F !important;
    border: 0px !important;
    height: 73px;
    padding: 0px !important;
    border-radius: 0px !important;
}

@media screen and (max-width: 670px){ 
.checkout-cart-index .logo-sites-cart .logo-payment {
    display: block;
  }
}

@media screen and (max-width: 767px){

 .checkout-cart-index .control.qty select.input-text.qty {
    width: 56px !important;
    height: 34px !important;
  } 
.checkout-cart-index div#cart-totals,
.checkout-cart-index  {
    background-color: #fff;
}

.checkout-cart-index .row.shopping-cart-bottom {
    background-color: transparent !important;
}

  .checkout-cart-index section.page-main.container {
    padding-right: 0px !important;
  }

  .checkout-cart-index p.opc-title {
    text-align: left !important;
  }

  .checkout-cart-index .cart.table-wrapper {
    margin-bottom: 0px !important;
}

  .checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-details {
    padding-right: 10px !important;
    margin-left: -10px !important;
  }
  .checkout-cart-index .logo-sites-cart .single-logo img {
    width: 69px !important;
    height: 42px !important;
}
.checkout-cart-index #shopping-cart-table tbody tr td.col.item {
    width: 100% !important;
}
.checkout-cart-index a.use-ajax.action.action-towishlist {
    display: none;
}
.checkout-cart-index table.cart.items.data.table a.action.action-towishlist {
    display: none;
  }

.checkout-cart-index .remove-span{
    display: none;
}
.checkout-cart-index .column.main {
    padding-left: 0px;
    padding-right: 0px;
}
.checkout-cart-index .product-item-details .actions-toolbar {
    position: unset !important;
}
.checkout-cart-index a.action.action-delete {
    position: absolute;
  top: -15px;
    right: -10px;
  }
  .checkout-cart-index .cart.table-wrapper #shopping-cart-table tbody tr td.col.item {
    padding: 5px 15px !important;
}
.checkout-cart-index select.input-text.qty {
    float: unset !important;
  }
  .checkout-cart-index #shopping-cart-table tbody tr td.col.item {
    display: flex;
        justify-content: space-between;
  }
.checkout-cart-index .total-items-cart {
    display: none;
  }
  .checkout-cart-index #shopping-cart-table strong.product-item-name a {
    max-width: 181px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.checkout-cart-index a.action.action-delete span.cross {
    font-size: 30px;
}
.checkout-cart-index  #shopping-cart-table .cart-price .price {
    position: absolute;
    right: -25px;
    bottom: 10px;
}

.checkout-cart-index .cart-summary .checkout-methods-items .item .action.checkout {
    height: 69px;
    box-shadow: 0px -5px 10px #00000029;
}

.checkout-cart-index form#form-validate .shopping-cart-bottom .cart-totals {
    padding: 0px 30px !important;
}
.checkout-cart-index .cart-summary {
    margin: 0px !important;
    padding: 0px 15px !important;
    background-color: #fff; 
}

.checkout-cart-index .deskstop-view{
display: none;
 }

.checkout-cart-index section.cartpage-staticbk-bopc {
    background-color: #fff;
    margin: 0px !important;
    padding: 0px 15px;
    margin-top: 15px !important;
}


.checkout-cart-index .cart-page-mob-view {
    margin-top: 15px;
}

html .checkout-cart-index .logo-sites-cart .logo-payment {
    padding: 15px 15px !important;
}

.checkout-cart-index .cart-container .shopping-cart-bottom .cart-totals {
    padding: 0px 15px !important;
}
}



section.cartpage-staticbk-bopc .cart-flexx:last-child {
    border-bottom: 0px;
}


.checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals tbody tr td {
    color: #000 !important;
        font-size: 16px !important;
        padding: 10px 5px !important;
  }

  .checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals tbody tr th {
    color: #000 !important;    
    font-size: 16px !important;
    padding: 10px 5px !important;
}

.checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals tbody tr th .label {
    color: #000 !important;
  }

.checkout-cart-index .shopping-cart-bottom .cart-totals {
    border: 0px !important; 
  }

.checkout-cart-index p.opc-title {
      font-weight: 600;
      padding-top: 20px;
    text-align: center;
    font-size: 19px;
     border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    color: #000;
}

section.cartpage-staticbk-bopc {
    margin: 0px 20px;
}


.checkout-cart-index .cart-summary {
    margin: 0px 20px;
  }


.checkout-cart-index table.cart.items.data.table a.action.action-towishlist {
    color: #747474;
    font-weight: 500;
}



@media screen and (min-width: 768px){

  .checkout-cart-index .cart.table-wrapper {
    margin-bottom: 15px !important;
}

  .checkout-cart-index .cart-page-mob-view{
display: none;
  }
  .checkout-cart-index table.cart.items.data.table .control.qty {
    position: absolute;
    right: 0px;
    top: 30px;
}
.checkout-cart-index a.action.action-delete:after {
    content: "|";
    margin: 0px 15px;
} 
.checkout-cart-index .cart-page-mob-view{
  display: none;
}


}

.checkout-cart-index .shopping-cart-bottom .cart-totals {
    padding: 0px 20px !important;
}


.checkout-cart-index table.cart.items.data.table a.action.action-towishlist:hover{
  text-decoration: underline;
}

.checkout-cart-index a.action.action-delete:hover {
  text-decoration: underline; 
}

.checkout-cart-index a.use-ajax.action.action-towishlist:hover {
   text-decoration: underline;  
}

.checkout-cart-index #shopping-cart-table tbody tr td.col.item {
    padding: 5px 20px !important;
  }


.checkout-cart-index table#shopping-cart-table dl.item-options {
    margin-top: 15px;
}

.checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals {

}

.checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals tbody tr td .price{

}

@media screen and (max-width: 949px){
 .checkout-cart-index .page-main>div.row {
    margin-left: 0px !important;
}
.checkout-cart-index .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

}


.checkout-cart-index .cart.item .product-item-details .actions-toolbar {
    position: unset !important;
  }

.checkout-cart-index #shopping-cart-table tbody tr td.col.item .product-item-photo {
    overflow: initial !important;
}

.checkout-cart-index img.product-image-photo {
    width: 126px;
    height: 175px;
}

.checkout-cart-index .shopping-cart-bottom .cart-totals .table.totals tbody tr.grand.totals strong {
    font-weight: 600 !important;
}

@media screen and (max-width: 992px){
.checkout-cart-index .logo-sites-cart .logo-payment {
    display: block !important;
}
.checkout-cart-index .row.shopping-cart-bottom {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
  }



@media screen and (max-width: 949px){
.checkout-cart-index section.page-main.container {
    padding-right:0px !important;
  }

}


span.wishtlist-span {
    font-size: 16px;
}



/*cart page css end*/
