<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
 
<!-- ko foreach: getRegion('before_details') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
<div class="product-item-details">
 
    <div class="product-item-inner">
        <div class="product-item-name-block">
            <strong class="product-item-name" data-bind="text: $parent.name"></strong>
            <div class="product-item-brand">
                <span class="value" data-bind="text: getName($parent)"></span>
            </div>
            <div class="details-qty">
                <span class="label"><!-- ko i18n: 'Qty' --><!-- /ko --></span>
                <span class="value" data-bind="text: $parent.qty"></span>
            </div>
        </div>
        <!-- ko foreach: getRegion('after_details') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
 
<!-- ko if: (JSON.parse($parent.options).length > 0)-->
     <div class="product options" data-bind="mageInit: {'collapsible':{'openedState': 'active'}}">
         <span data-role="title" class="toggle"><!-- ko i18n: 'View Details' --><!-- /ko --></span>
         <div data-role="content" class="content">
             <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
             <dl class="item-options">
             <!--ko foreach: JSON.parse($parent.options)-->
                 <dt class="label" data-bind="text: label"></dt>
                 <!-- ko if: ($data.full_view)-->
                     <dd class="values" data-bind="html: full_view"></dd>
                 <!-- /ko -->
                 <!-- ko ifnot: ($data.full_view)-->
                     <dd class="values" data-bind="html: value"></dd>
                 <!-- /ko -->
             <!-- /ko -->
             </dl>
        </div>
    </div>
<!-- /ko -->
</div>