<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="message success"><div><?php /* @escapeNotVerified */ echo __('لقد سجلت الخروج وسوف تذهب إلى صفحتنا الرئيسية في 5 ثوان.') ?></div></div>
<script>
require([
    "jquery",
    "mage/mage"
], function($){

    $($.mage.redirect("<?php /* @escapeNotVerified */ echo $block->getUrl() ?>", "assign", 5000));

});
</script>
