<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * New Customer block template
 *
 * @var $block \Magento\Customer\Block\Form\Login\Info
 */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
		<h2 class="title" id="block-new-customer-heading" role="heading" aria-level="2"><span><?php /* @escapeNotVerified */ echo __('زبائن الجدد') ?></span></h2>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?php /* @escapeNotVerified */ echo __('من خلال إنشاء حساب في متجرنا ، ستتمكن من التنقل خلال عملية الخروج بشكل أسرع ، وتخزين عدة عناوين شحن ، وعرض وتتبع طلباتك في حسابك وأكثر من ذلك.') ?></p>
        <div class="actions-toolbar padding-top10">
            <div class="primary">
                <a href="<?php /* @escapeNotVerified */ echo $block->getCreateAccountUrl() ?>" class="action create btn btn-secondary"><span><?php /* @escapeNotVerified */ echo __('انشئ حساب') ?></span></a>
            </div>
        </div>
    </div>
</div>
<script>
require(['jquery', 'jquery/ui'],function($){
    $(document).ready(function(){
        $('.action.create.btn.btn-secondary').click(function(){
            $(this).css("opacity", "0.5");
            var link = $(this).attr('href');
            event.preventDefault();
            console.log($(this).attr('href'));
                $('#mgs-ajax-loading').show();
            setTimeout(function(){
                window.location.href = link;
            },2000)
        });

        $("#send2").click(function(){
        var element = $(this);
        $(this).css('opacity','0.5'); 
        setTimeout(function() {
            element.css('opacity','1'); 
            },1000);   
        });
        
    });
});
</script>
<?php endif; ?>
