<?php
/**
 * @category    CleverSoft
 * @package     CleverSocialLogin
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author 		ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php if ($this->getHelper()->hasButtons()) : ?>
<?php $openPopup = $this->helper('CleverSoft\CleverSocialLogin\Helper\Data'); ?>
<?php if ($openPopup->positionButtonsRegister() == 'left'): ?>
<div class="button-register-left-form col-sm-offset-2 col-sm-4 button-register-social">
    <?php elseif ($openPopup->positionButtonsRegister() == 'right'): ?>
    <div class="button-register-right-form col-sm-4 button-register-social">
        <?php endif; ?>
        <div class="pslogin-block pslogin-register pslogin-register-form" data-mage-init='{"pslogin":{}}'>

            <div   class="pslogin-buttons <?php echo $this->showRegisterFullButtons() ? 'pslogin-buttons-showfull' : ''; ?>">
                <fieldset>
                    <legend><?php echo __('Register with your social account'); ?></legend>

                <ul>
                    <?php foreach ($this->getPreparedButtons() as $button) : ?>
                        <li class="pslogin-button <?php echo $button['type']; ?>"
                            title="<?php echo $this->escapeHtml($button['register_text']); ?>">
                            <a class="pslogin-button-link pslogin-button-click" rel="nofollow"
                               href="javascript:void(0);" data-href="<?php echo $button['href']; ?>"
                               data-width="<?php echo $button['popup_width']; ?>"
                               data-height="<?php echo $button['popup_height']; ?>">

                                <?php if ($this->showRegisterFullButtons()) : ?>
                                    <span class="pslogin-button-auto">
                                <span class="pslogin-button-icon"></span>
                                <span
                                    class="pslogin-button-text"><?php echo $this->escapeHtml($button['register_text']); ?></span>
                            </span>
                                <?php else : ?>
                                    <span class="pslogin-button-auto">
                                <span class="pslogin-button-icon"></span>
                            </span>
                                <?php endif; ?>
                            </a>
                        </li>
                    <?php endforeach; ?>
                </ul>
                </fieldset>
            </div>

        </div>
        <?php if ($openPopup->positionButtonsRegister() == 'left' || $openPopup->positionButtonsRegister() == 'right'): ?>
    </div>
<?php endif; ?>
    <div style="clear: both;"></div>
    <?php endif; ?>

    <?php
    $openPopup = $this->helper('CleverSoft\CleverSocialLogin\Helper\Data');
    ?>

    <script>
        require(["jquery"], function ($) {
            $(document).ready(function () {
                <?php if($openPopup->positionButtonsRegister() == 'bottom'): ?>
                $('.pslogin-register-form').insertAfter('.form.form-create-account button.action.submit');
                <?php endif; ?>

                <?php if($openPopup->positionButtonsRegister() == 'top'): ?>
                $('.pslogin-register-form, .pslogin-register-popup').append('<p class="hr-login"><span><?php /* @escapeNotVerified */ echo __('Or'); ?></span></p>');
                $('.pslogin-register-form').insertBefore('.form.form-create-account');
                <?php endif; ?>

                <?php if($openPopup->positionButtonsRegister() == 'left'): ?>
				$('.button-register-left-form').append('<p class="hr-or"><?php /* @escapeNotVerified */ echo __('Or'); ?></p>');
                $('.page-wrapper .button-register-left-form').insertBefore('.page-wrapper .form.form-create-account');
                $('.page-wrapper .form.form-create-account').addClass('col-sm-4');
                $('.page-wrapper .register-container').addClass('login-container-flex');
                <?php endif; ?>

                <?php if($openPopup->positionButtonsRegister() == 'right'): ?>
				$('.button-register-right-form').append('<p class="hr-or"><?php /* @escapeNotVerified */ echo __('Or'); ?></p>');
                $('.page-wrapper .button-register-right-form').insertAfter('.page-wrapper .form.form-create-account');
                $('.page-wrapper .form.form-create-account').addClass('col-sm-offset-2 col-sm-4');
                $('.page-wrapper .register-container').addClass('login-container-flex');
                <?php endif; ?>
            })
        });
    </script>