<div class="admin_bulksms">
<?php $authUrl = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Backend\Helper\Data')->getUrl("magecompsms/bulk/send"); ?>
    <div style="margin: 10px 136px;">
        <span class="getcustomerurl" style="display: none"><?php echo \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Backend\Helper\Data')->getUrl("magecompsms/bulk/getnumber"); ?></span>
        <button id="get-customer-telephone" class="primary">
            <?php echo __("Import Number");?>
        </button>
    </div>
    <form action="<?php echo $authUrl ?>" id="bulksms_form">
	<div class="admin_bulksms_mobnumbers">
    	<div class="admin_bulksms_mobnumbers_lable">
        	<?php echo __("Mobile Numbers")?>
        </div>
        <div class="admin_bulksms_mobnumbers_text">
            <textarea rows="4" cols="50" id="bulksms_numbers" name="bulksms_numbers" placeholder="Mobile Number With Comma Seprated"></textarea>

        </div>
    </div>
    <div class="admin_bulksms_message">
    	<div class="admin_bulksms_message_lable">
                	<?php echo __("Message")?>
        </div>
        <div class="admin_bulksms_message_text">
           <textarea rows="4" cols="50" id="bulksms_message" name="bulksms_message" placeholder="Message" /></textarea>
       </div>
    </div>
    <div class="admin_bulksms_formsubmit">

        <button type="submit" id="bulksms_submit" class="primary">
        	<?php echo __("Send Bulk SMS"); ?>
        </button>
        	
    </div>    
    	
    </form>
</div>
<script type="text/javascript">
    require(
        ['jquery'],
        function($) {
            $("#get-customer-telephone").on('click',function () {
                var tempurl = $(".getcustomerurl").text();
                tempurl = $.trim(tempurl);
                $.ajax({url: tempurl,
                    type: 'POST',
                    data: {form_key: window.FORM_KEY},
                    success: function(response) {

                        $("#bulksms_numbers").val(response);
                    }
                });



            });

        }
    );
</script>