<?php
 $helper = $this->helper("Lof\HelpDesk\Helper\Data");
 $store = $helper->getConfig('chat/store');
$store = explode(",",$store);
$objectManager = \Magento\Framework\App\ObjectManager::getInstance ();
$chat = $objectManager->create('Lof\HelpDesk\Model\Chat');
$is_read = 0;

if($this->isLogin()) { 
$chat_message = $chat->load($this->getCustomer()->getData('email'),'customer_email');

$is_read = $chat_message->getData('is_read');
}

if(in_array($helper->getStoreId(), $store) && $store && $helper->getConfig('general_settings/enable'))  {
?>

<div id="live-chat"> 
    <header class="clearfix" <?php if($helper->getConfig('chat/background_color')) echo 'style="background-color:'.$helper->getConfig('chat/background_color').'"'; ?>>
        <a href="#" class="chat-close">x</a>
        <h4><?php echo $helper->getConfig('chat/text_label');?></h4>
        <?php if($is_read == 3) { ?>
        <span class="chat-message-counter" style="display: inline;">1</span>
        <?php } ?>
    </header>
    <div class="chat">
        <?php if(!$this->isLogin()) { ?>
        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1"><?php echo __('Guest Chat'); ?></li>
            <li class="tab-link" data-tab="tab-2"><?php echo __('Login Chat'); ?></li>
        </ul>
        <div id="tab-1" class="tab-content current">
             <div class="form-chat">
                <div class="main-chat" id="main-chat">
                </div>
                <div class="box-chat">
                    <form method="post" id="formSendMsg" onsubmit="return false;">
                        <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
                        <input type="hidden" name="chat_id" value="<?php echo $this->getChatId();?>">
                        <input type="hidden" name="customer_id" value="<?php echo $this->getCustomerSession()->getCustomerId();?>">
                        <input type="hidden" name="customer_name" value="<?php echo $this->getCustomer()->getData('firstname').' '.$this->getCustomer()->getData('lastname');?>">
                        <input type="hidden" name="customer_email" value="<?php echo $this->getCustomer()->getData('email');?>">
                        <input type="text" name="body_msg" placeholder="<?php echo __('Please enter a message'); ?> ...">
                    </form>
                </div>
            </div> 
        </div>
        <div id="tab-2" class="tab-content">
            <div class="form-login-chat">
                <form class="form form-login"
                action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                method="post" id="login-form" data-mage-init='{"validation":{}}'>
                <?php echo $block->getBlockHtml('formkey'); ?>
                    <fieldset class="fieldset login"
                        data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                        <div class="field note"><?php /* @escapeNotVerified */ echo __('If you have an account, sign in with your email address.') ?></div>
                        <div class="field email required">
                            <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                            <div class="control">
                                <input name="login[username]"
                                    value="<?php echo $block->escapeHtml($block->getUsername()) ?>"
                                    <?php if ($block->isAutocompleteDisabled()) :?>
                                    autocomplete="off" <?php endif; ?> id="email" type="email"
                                    class="input-text"
                                    title="<?php /* @escapeNotVerified */ echo __('Email') ?>"
                                    data-validate="{required:true, 'validate-email':true}">
                            </div>
                        </div>
                        <div class="field password required">
                            <label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                            <div class="control">
                                <input name="login[password]" type="password"
                                    <?php if ($block->isAutocompleteDisabled()) :?>
                                    autocomplete="off" <?php endif; ?> class="input-text" id="pass"
                                    title="<?php /* @escapeNotVerified */ echo __('Password') ?>"
                                    data-validate="{required:true, 'validate-password':true}">
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <button type="submit" class="action login primary" name="send"
                                    id="send2">
                                    <span><?php /* @escapeNotVerified */ echo __('Login') ?></span>
                                </button>
                            </div>
                            <div class="secondary">
                                <a class="action remind"
                                    href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a>
                            </div>
                            <div class="secondary">
                                <a class="action remind"
                                    href="<?php /* @escapeNotVerified */ echo $block->getRegisterUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Create an Account') ?></span></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>    
        <?php } else { ?>
        <div class="form-chat">
            <div class="main-chat" id="main-chat">

            </div>
            <div class="box-chat">
                <form method="post" id="formSendMsg" onsubmit="return false;">
                    <input type="hidden" name="form_key" value="<?php echo $this->getFormKey(); ?>">
                    <input type="hidden" name="chat_id" value="<?php echo $this->getChatId();?>">
                    <input type="hidden" name="customer_id" value="<?php echo $this->getCustomerSession()->getCustomerId();?>">
                    <input type="hidden" name="customer_name" value="<?php echo $this->getCustomer()->getData('firstname').' '.$this->getCustomer()->getData('lastname');?>">
                    <input type="hidden" name="customer_email" value="<?php echo $this->getCustomer()->getData('email');?>">
                    <input type="text" name="body_msg" placeholder="<?php echo __('Please enter a message'); ?> ...">
                </form>
            </div>
        </div> 
        <?php } ?>   
    </div> <!-- end chat -->
</div> <!-- end live-chat -->
<script type="text/javascript">
    require(['jquery'],function($) {
        (function() {
            $('.chat ul.tabs li').click(function(){
                var tab_id = $(this).attr('data-tab');

                $('.chat ul.tabs li').removeClass('current');
                $('.chat .tab-content').removeClass('current');

                $(this).addClass('current');
                $("#"+tab_id).addClass('current');
            })

            $('#live-chat header').on('click', function() {

                $('.chat').slideToggle(300, 'swing');
                //$('.chat-message-counter').fadeToggle(300, 'swing');

            });

            $('.chat-close').on('click', function(e) {

                e.preventDefault();
                $('#live-chat').fadeOut(300);

            });

        }) ();
        <?php //if($this->isLogin()) { ?>
        function sendMsg() {
            $body_msg = $('#formSendMsg input[name="body_msg"]').val();
            $chat_id = $('#formSendMsg input[name="chat_id"]').val();
            $customer_id = $('#formSendMsg input[name="customer_id"]').val();
            $customer_name = $('#formSendMsg input[name="customer_name"]').val();
            $customer_email = $('#formSendMsg input[name="customer_email"]').val();
            if($.trim($body_msg) && $.trim($chat_id)) {
                $('#formSendMsg input[type="text"]').val('');
                $('.main-chat').append('<div class="msg-user"><p>'+$body_msg+'</p><div class="info-msg-user">You</div></div>');  

                $.ajax({
                    url : '<?php echo $this->getUrl('lofhelpdesk/chat/sendmsg'); ?>', 
                    type : 'post', 
                    dataType: 'json', 
                    data : {
                        body_msg : $body_msg,
                        chat_id : $chat_id,
                        customer_id : $customer_id,
                        customer_name : $customer_name,
                        customer_email : $customer_email
                    
                    }, success : function() {
                        $('#formSendMsg input[type="text"]').val(''); 
                        var div = document.getElementById('main-chat')
                        div.scrollTop = div.scrollHeight - div.clientHeight;
                       
                    }
                });
            }
        }

        $('#formSendMsg input[type="text"]').keypress(function(event) {
            event.preventDefault();
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                sendMsg();
                var div = document.getElementById('main-chat')
                div.scrollTop = div.scrollHeight - div.clientHeight;  
                $('.chat-message-counter').css('display','none');       
            }
        });

        $('#formSendMsg input[type="text"]').click(function(e) {
             var div = document.getElementById('main-chat')
            div.scrollTop = div.scrollHeight - div.clientHeight;
        }); 
        $('.main-chat').load('<?php echo $this->getUrl('lofhelpdesk/chat/msglog'); ?>');
        $.ajaxSetup({cache:false});
        setInterval(function() {
            $('.main-chat').load('<?php echo $this->getUrl('lofhelpdesk/chat/msglog'); ?>');
             var div = document.getElementById('main-chat')
            div.scrollTop = div.scrollHeight - div.clientHeight;
        }, 5000);
        <?php //} ?> 

    });
</script>

<?php } ?>
