<style>
.products-grid .product-item-info div[class^="swatch-opt-"] .swatch-attribute.color{
	display:none;
}
.customize-color {
    width: 100%;
    display: inline-block;
}
.swatch-option.color.border-d {
    border: 1px solid #000;
}
.products-grid .product-item-info .product-item-details {
    padding-top: 11px!important;
    margin-top: -9px!important;
    font-family: Frutiger!important;
}
</style>
<?php
/**
 * Copyright Â© 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$blockCustomColor= $block->getLayout()->createBlock('Gotwo\AssignChildToCate\Block\CustomColor');
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$themeHelper = $this->helper('MGS\Mpanel\Helper\Data');
$_aHelper = $this->helper('MGS\AjaxCart\Helper\Data');

$colClassRow = $themeHelper->getColClass();
$arrColClass = explode(' ', $colClassRow);
$pageType = 'catalog';
$settings = $themeHelper->getThemeSettings();
$lazyLoad = $themeHelper->getStoreConfig('mgstheme/general/lazy_load');
$baseImage = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
$baseImageHover = $this->getViewFileUrl('MGS_Mpanel::images/blank.png');
$perrow = $settings['catalog']['per_row'];
$animationType = $_aHelper->getConfig('ajaxcart/additional/animation_type');

if($this->hasData('page_type')){
	$pageType = $this->getData('page_type');
}
if($pageType == 'catalog'){
	$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
	$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');
	if($category->getPerRow()){
		$perrow = $category->getPerRow();
	}
}elseif($pageType == 'catalogsearch') {
	if($settings['catalogsearch']['per_row']){
		$perrow = $settings['catalogsearch']['per_row'];
	}
}elseif($pageType == 'catalog_brand') {
	if($settings['catalog_brand']['per_row']){
		$perrow = $settings['catalog_brand']['per_row'];
	}
}

$hover_effect = "";
if ($themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect')== 1){
	$hover_effect = "disable_hover_effect";
}

$colCheck = $themeHelper->convertPerRowtoCol($perrow);
$colClass = $themeHelper->convertColClass($colCheck, 'col');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
	<div class="category-product-actions">
		<div class="filter-toggle">
			<a href="javascript:void(0)" class="title">
				<span class="icon pe-7s-edit"></span>
			</a>
		</div>
		<?php echo $block->getAdditionalHtml() ?>
		<?php echo $block->getToolbarHtml() ?>
	</div>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
		$image_hover = 'product_thumbnail_image';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
		$image_hover = 'product_thumbnail_image';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>" id="product-wrapper">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items <?php if ($block->getMode() == 'grid'): ?>row<?php endif ?> <?php echo 'row-'.$arrColClass[0] ?>">
		
			<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
			<?php $size = $themeHelper->getImageSize(); ?>
			<?php $padding = $themeHelper->getImagePadding(); ?>
			<?php $quickViewHelper = $this->helper('MGS\QuickView\Helper\Data'); ?>
			<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare'); ?>
			
			<?php if ($block->getMode() == 'grid'): ?>
				<?php $params = $block->getRequest()->getParams();  ?>
				<?php if($settings['catalog']['ajaxscroll']): ?>
				
					<?php if(isset($params['product_list_limit'])): ?>
						<?php $countAll = $params['product_list_limit']; ?>
					<?php else: ?>
						<?php $countAll = $themeHelper->getStoreConfig('catalog/frontend/grid_per_page'); ?>		
					<?php endif ?>
					
					<?php if(isset($params['p'])): ?>
						<?php $i = ($params['p'] - 1) * $countAll; ?>
					<?php else: ?>
						<?php $i = 0; ?>
					<?php endif ?>
					
				<?php else: ?>
					<?php $i = 0; ?>
				<?php endif ?>
				
				<?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
				<?php 
				$color_arr =  array();
				$_prfirt = 0;
				$old_parent = 0;
				?>
				<?php foreach ($_productCollection as $_product): $i++; ?>
							<li class="item product product-item-info product-item <?php echo $colClass ?> <?php echo $themeHelper->getClearClass($perrow, $i) ?> <?php echo $hover_effect ?>">
								<?php $_productNameStripped = $block->stripTags($_product->getName(), null, true); ?>
								<?php //$productImage = $_imagehelper->init($_product, $image)->resize($size['width'], $size['height'])->getUrl(); ?>
								<?php $productImage = $_imagehelper->init($_product, $image)->resize(365,486)->getUrl(); ?>
								<?php $productImageHover = $_imagehelper->init($_product, $image_hover)->resize(365,486)->getUrl(); ?>
								<?php if(!$lazyLoad): ?>
									<?php $baseImage = $productImage ?>
									<?php $baseImageHover = $productImageHover ?>
								<?php endif ?>
								<div class="product-top">
									<?php if($themeHelper->getStoreConfig('mpanel/catalog/images_slides')== 1): ?>
									   <div class="owl-carousel list_gallery">
											<a href="<?php  echo $blockObj->getLoadProduct($childId)->getProductUrl().'?color='.$_product->getColor() ;?>" class="product photo product-item-photo" style="padding-bottom: <?php echo $padding ?>;"  tabindex="-1">
												<img src="<?php echo $productImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail"/>
											</a>
										   <?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('image'))): ?>
											   <a href="<?php  echo $_product->getProductUrl() ?>" class="product photo product-item-photo" style="padding-bottom: <?php echo $padding ?>;"  tabindex="-1">
												<img src="<?php echo $productImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail" data-src="<?php echo $productImageHover ?>"/>
											   </a>
										   <?php endif;?>
										   
										  <?php if((basename($_product->getData('small_image')) != basename($_product->getData('image'))) && (basename($_product->getData('small_image')) != basename($_product->getData('thumbnail')))): ?>
												<a href="<?php  echo $blockObj->getLoadProduct($childId)->getProductUrl().'?color='.$_product->getColor(); ?>" class="product photo product-item-photo" style="padding-bottom: <?php echo $padding ?>;"  tabindex="-1">
													<img src="<?php echo $productImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail" data-src="<?php echo $productImageHover ?>"/>
											   </a>
										   <?php endif;?>
										   
										</div>
										
									<?php else:?>
									 <a href="<?php echo $_product->getProductUrl();?>" style="padding-bottom: <?php echo $padding; ?>;" class="product photo product-item-photo" tabindex="-1">
										<img src="<?php echo $baseImage ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive product-image-photo img-thumbnail<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImage ?>"/>
										
										<?php if(basename($_product->getData('thumbnail')) !=  'no_selection'): ?>
											<?php if(basename($_product->getData('thumbnail')) != basename($_product->getData('small_image'))): ?>
												<img src="<?php echo $baseImageHover ?>" alt="<?php echo $_productNameStripped ?>" class="img-responsive img-hover-show<?php if($lazyLoad): ?> lazy<?php endif ?>" data-src="<?php echo $productImageHover ?>" />
											<?php endif ?>
										<?php endif ?>
										
										<div class="product-image-photo"></div>
									</a>
									   
									<?php endif;?>
									<?php echo $themeHelper->getProductLabel($_product) ?>
									<ul class="actions-link" data-role="add-to-links">
									
										<li class="hidden-sm hidden-xs"><?php echo $quickViewHelper->aroundQuickViewHtml($_product); ?></li>
										
										<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow() && !$settings['catalog']['wishlist_button']): ?>
											<li><button data-title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   class="ajax-towishlist"
											   title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
											   data-wishlist='<?php /* @escapeNotVerified */ echo $block->getAddToWishlistParams($_product); ?>'
											   >
												<i class="pe-7s-like"></i>
											</button></li>
										<?php endif; ?>
											
										<?php if(!$settings['catalog']['compare_button']): ?>
											<li><button data-title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   class="action tocompare"
											   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
											   data-post='<?php /* @escapeNotVerified */ echo $compareHelper->getPostDataParams($_product); ?>'
											   role="button">
												<i class="pe-7s-graph3"></i>
											</button></li>
										<?php endif ?>
									</ul>
									<?php if ($themeHelper->getStoreConfig('mpanel/catalog/disable_add_to_cart') == 0 && $themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect') == 0): ?>
										<?php if ($_product->isSaleable()): ?>
											<div>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data']['uenc'], 'product'=>$postParams['data']['product']]); ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
													<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
													<?php 
														$has_option = 0;
														if($_product->getTypeId() == 'simple'){
															$data = $_product->getData();
															$has_option = ( isset($data['has_options']) && $data['has_options'] == 1) ? 1 : 0;
														}
															

													 ?>
													<?php if($animationType == 'cartshow' && ($_product->getTypeId() == 'configurable' || $_product->getTypeId() == 'bundle' || $_product->getTypeId() == 'grouped' || ($_product->getTypeId() == 'simple' && $has_option == 1) )): ?>
														<button class="action btn-cart tocart" type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>" onclick="window.location.href = '<?php echo $_product->getProductUrl() ?>'">
															<span class="icon pe-7s-shopbag"></span>
															<span class="product-item-link">
																<?php echo __('Add to cart'); ?>
															</span>
														</button>	
													<?php else: ?>
														<button class="action tocart btn-cart" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
															<span class="icon pe-7s-shopbag"></span>
															<span class="text"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
														</button>
													<?php endif ?>
												</form>
											</div>
										<?php endif ?>
									<?php endif ?>
								</div>
								<div class="product details product-item-details">
                                    <h6 class="product brand product-brand-name">
										<a style="color: #000;"  class="brand-name-shravan1">
                                            <?php echo $_product->getMgs_brandValue(); ?>
                                            </a>
									</h6>
									<h5 class="product name product-item-name">
										<a class="product-item-link" href="<?php echo $_product->getProductUrl();?>">
											<?php echo $_product->getName(); ?>
										</a>
									</h5>
									
									<?php if(!$themeHelper->getStoreConfig('mpanel/catalog/review')): ?>
										<?php echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
									<?php endif ?>
									
									<?php echo $block->getProductPrice($_product) ?>
									<?php if($_product->getTypeId() == 'configurable'):?>
									<div class="customize-color">
									<?php
										error_reporting( E_ERROR );
										$getColorArrayByRelated = $blockCustomColor->getColorArrayByRelated($_product);
										foreach($getColorArrayByRelated as $itemcolor ):?>
											<a href="<?=$itemcolor['producturl'];?>" label="<?=$itemcolor['productname'];?>">
												<div thumb-width="110" thumb-height="90" class="swatch-option color <?php if($itemcolor['color_value']=='#ffffff'||$itemcolor['color_value']==''): echo 'border-d'; endif;?>" style="background:<?=$itemcolor['color_value']?> no-repeat center; background-size: initial;"></div>
											</a>
										<?php endforeach;?>
										<?php
										$getColorArrayByThis = $blockCustomColor->getColorArrayByThis($_product);
										foreach($getColorArrayByThis as $itemcolor ):?>
											<a href="<?=$itemcolor['producturl'];?>" label="<?=$itemcolor['productname'];?>">
												<div thumb-width="110" thumb-height="90" class="swatch-option color <?php if($itemcolor['color_value']=='#ffffff'||$itemcolor['color_value']==''): echo 'border-d'; endif;?>" style="background:<?=$itemcolor['color_value']?> no-repeat center; background-size: initial;"></div>
											</a>
										<?php endforeach;?>
									</div>
									<?php endif;?>
									
									<?php if($_product->getTypeId() == 'configurable'):?>
									<?php
									$getSizeArrayByThis = $blockCustomColor->getSizeArrayByThis($_product);
									?>
										<?php if(count($getSizeArrayByThis)):?>
										<div class="swatch-attribute customsize" attribute-code="size" attribute-id="135">
											<div class="swatch-attribute-options clearfix">
												<?php foreach($getSizeArrayByThis as $itemcolor ):?>
												<div  class="swatch-option text"><?=$itemcolor['productsize'];?></div>
												<?php endforeach;?>
											</div>
										</div>
										<?php endif;?>
									<?php endif;?>
									<?php if ($themeHelper->getStoreConfig('mpanel/catalog/disable_add_to_cart') == 0 && $themeHelper->getStoreConfig('mpanel/catalog/disable_hover_effect') == 1): ?>
										<?php if ($_product->isSaleable()): ?>
											<div>
												<?php $postParams = $block->getAddToCartPostParams($_product); ?>
												<form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $this->getUrl('checkout/cart/add', ['uenc'=>$postParams['data']['uenc'], 'product'=>$postParams['data']['product']]); ?>" method="post">
													<input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
													<input type="hidden" name="uenc" value="<?php /* @escapeNotVerified */ echo $postParams['data']['uenc']; ?>">
													<input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
													<button class="action tocart btn-cart hover_effect" type="submit" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
														<span class="icon pe-7s-shopbag"></span>
														<span class="text"><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
													</button>
												</form>
											</div>
										<?php endif ?>
									<?php //endif ?>
								</div>
							</li>
							<?php //endif;?>
						
					<?php endif;?>
					
				<?php endforeach ?>
			<?php endif ?>
			 <script type="text/javascript">
        require(['jquery'],function($){
				$('a.product-item-photo').click(function(){
					window.location.href = $(this).attr('href');
				})
			})
			</script>
        </ol>
    </div>
	<div class="bottom-pagination<?php if($themeHelper->getStoreConfig('mpanel/catalog/ajaxscroll')): ?> ajaxscroll-enable<?php endif ?>">
		<?php echo $block->getToolbarHtml() ?>
	</div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>

<script>
	require([
	'jquery',
	'waypoints'
], function(jQuery){
	(function($) {
		$('.filter-toggle .title').click(function(){
			$('html').toggleClass('filter-open');
		});
	})(jQuery);
});
</script>
 <script type="text/javascript">
        require(['jquery'],function($){
				$(window).bind("pageshow", function(event) {
					if (event.originalEvent.persisted) {
						document.location.replace(window.location.href);
					}
				});
				$('a.product-item-photo').click(function(){
					window.location.href = $(this).attr('href');
				})
				$('.bottom-pagination .clone-size').remove();
            	var is_searcgpage = '<?php echo $this->getRequest()->getFullActionName(); ?>';
				var qtext = '<?php echo isset($_GET["q"]) ? "?q=".$_GET["q"] : "" ?>';
				if(getUrlVars()["size"]){
					var fsize= getUrlVars()["size"];
				}
				if(getUrlVars()["color"]){
					var fcolor= getUrlVars()["color"];
				}
				 if (fsize){

				 	if(is_searcgpage=='catalogsearch_result_index'){

				 		$('.reset').attr('href',window.location.href.split('?')[0]+qtext).show();

				 	}else{
				 		$('.reset').attr('href',window.location.href.split('?')[0]).show();
				 	}
					
					
				 }
                $('.swatch-attribute.size .swatch-option').each(function(){
                     if (fsize && isInArray($(this).attr("option-id"),fsize)){
                     $('.category-product-actions .clone-size ul').append('<li class="active" option-id="'+$(this).attr("option-id")+'">'+ $(this).text() +'</li>');
                     $(this).addClass('active');
					 
                    }else{
						if($(this).hasClass('disabled')){
							//$('.category-product-actions .clone-size ul').append('<li class="disabled" option-id="'+$(this).attr("option-id")+'">'+ $(this).text() +'</li>');
							$('.category-product-actions .clone-size ul').append('<li option-id="'+$(this).attr("option-id")+'">'+ $(this).text() +'</li>');
						}else{
							$('.category-product-actions .clone-size ul').append('<li option-id="'+$(this).attr("option-id")+'">'+ $(this).text() +'</li>');
						}
					}
                })
				$('.swatch-attribute.color .swatch-option').each(function(){
                    if (fcolor && isInArray($(this).attr("option-id"),fcolor)){
						$(this).addClass('active');
                    }
                })
                $('.category-product-actions .clone-size li').click(function(){
                    var size = $(this).text();
                    $('.swatch-option[option-label="'+size+'"]').click();
                })
			function getUrlVars() {
				var vars = {};
				var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
				function(m,key,value) {
				  vars[key] = value;
				});
				return vars;
			}
			function isInArray(value, array) {
			  return array.indexOf(value) > -1;
			}
        })
    </script>