<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
?>
<?php $_product = $block->getProduct(); ?>
<?php $galleryImages = $block->getGalleryImages() ?>
<?php $themeHelper = $this->helper('MGS\Mpanel\Helper\Data'); ?>
<?php $_imagehelper = $this->helper('Magento\Catalog\Helper\Image'); ?>
<?php $imgBase = $_imagehelper->init($_product, 'category_page_list')->getUrl(); ?>

<?php $galleryImages = $this->getGalleryImages(); ?>
<?php $zoom_image = $this->getEnableZoom(); ?>
<?php $lbox_image = $this->getLbox(); ?>

<?php foreach($galleryImages as $image): ?>
	 <?php 
		$dataArrayImg =  $image->toArray();
		$productName = $this->getProduct()->getName();

		$lbImage = (isset($dataArrayImg['label']) &&  $dataArrayImg['label'] != null) ? $dataArrayImg['label'] : $productName;
	?>
	<div class="product item-image imgzoom" data-zoom="<?php echo $image->getImageZoom(); ?>">
		<?php if($lbox_image): ?>
			<?php if($image->getMediaType() != 'external-video'): ?>
				<a class="lb" href="<?php echo $image->getImageZoom(); ?>"><img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
			<?php else: ?>
				<a class="lb video-link" href="<?php echo $image->getVideoUrl(); ?>"><img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/></a>
			<?php endif ?>
		<?php else: ?>
			<img class="img-responsive" src="<?php echo $image->getLargeImageUrl(); ?>" alt="<?php echo $lbImage ?>"/>
			<?php if($image->getMediaType() == 'external-video'): ?>
				<a target="_blank" class="popup-youtube btn btn-primary" href="<?php echo $image->getVideoUrl(); ?>"><?php echo __('Watch Video'); ?></a>
			<?php endif ?>
		<?php endif ?>
	</div>
<?php break; endforeach ?>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" id="mgs-ajax-loading" style="display: block;position:absolute;z-index: 99;">
	<div class="mfp-bg mfp-ready black" style="position:absolute; background: #fff;opacity: 1;"></div>
	<div class="preloader black"></div>
</div>