<?php
/**
 * @category    CleverSoft
 * @package     CleverSlider
 * @copyright   Copyright © 2017 CleverSoft., JSC. All Rights Reserved.
 * @author      ZooExtension.com
 * @email       magento.cleversoft@gmail.com
 */
?>
<?php $slider = $this->getSliderObject(); ?>

<?php if (count($slider)): ?>

    <?php

    $cssClass = json_decode($slider->getData('style'),true);
    if (count($cssClass) > 0) $cssClass = implode(' ',$cssClass);
    else $cssClass ='';
    $items = json_decode($slider->getContent());
//$categoryTree = $this->getLayout()->createBlock('CleverSoft\CleverSlider\Block\Widget\CatsTree');
    ?>

    <div class="clever-slider <?php echo $cssClass ?>" id="clever-preview-slider">
        <ul class="slides" style="border: none;">
            <?php $i = 0;
            $youtube_list = array();
            $youtube_unique = array();
            $vimeo_unique = array();
            $vimeo_list = array();
            $y_content_style = array();
            $v_content_style = array();
            foreach ($items as $item): ?>
                <?php
                $content = $item->content;
                $content->style_video = '0';
                
                $unique = uniqid('clever-slidshow-'.$i.'-');
                if(!isset($content->show_overlay)) $content->show_overlay = '';
                ?>
                <li id="clever-left-slide-<?php echo $i ?>-slideshow" data-video="<?php echo $unique ;?>">
                    <?php if($item->item_type =='image') : ?>
                        <?php if($content->icon_img != '') : ?>
                            <div class="icon_img <?php echo $content->show_overlay ?>"> <img class="icon_img" src="<?php echo $content->icon_img; ?>" align="<?php echo $content->image_align ?>" class="align-<?php echo $content->image_align ?>" /></div>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php
                        if (isset($content->style_video)) {
                            $you_params = '?iv_load_policy=3&modestbranding=1&controls=0&mute=1&autoplay=1&loop=1&showinfo=0&wmode=opaque&branding=0&autohide=0&rel=0&enablejsapi=1';
                            $v_params = '?api=1';
                        } else {
                            $you_params = '';
                            $v_params = '';
                        }
                        ?>
                        <?php if($content->video_type == '0') : ?>
                            <?php if(!empty($content->youtube_id)) : ?>
                                <?php if($content->style_video == '0') {
                                    $style = 'display:block;';
                                    $img_style = '';
                                }else {
                                    $style='';
                                    $img_style='display:none;';
                                }?>
                                <iframe  style="<?php echo $style; ?>" class="youtube_id" id="<?php echo $unique; ?>" width="100%" src="https://www.youtube.com/embed/<?php echo $content->youtube_id . $you_params; ?>" frameborder="0" height="<?php echo $slider->getData('slide_height') ?>" allowfullscreen <?php if($content->style_video=='2') echo "&volume='0'" ?>></iframe>
                                
                                <?php
                                array_push($youtube_list,$i);
                                array_push($youtube_unique,$unique);
                                array_push($y_content_style,$content->style_video);
                                ?>
                            <?php endif; ?>
                        <?php endif; ?>
                        
                    <?php endif; ?>
                    <style>
                        #image-<?php echo $unique; ?> {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            z-index: -1;
                            background: #ffffff;
                        }
                    </style>
                    <div id="overload-<?php echo $unique ?>" class="zoo-slideshow-text-wrap ">
                        <div class="zoo-slideshow-text-content">
                            <div class="container">
                                <h1 style="<?php echo (isset($content->bt_heading_color) && $content->bt_heading_color != '') ? 'color:'.$content->bt_heading_color : ''; ?>" class="heading_align slideshow__title align-<?php echo $content->heading_align ? $content->heading_align : 'center' ; ?>"><?php echo $content->label?$content->label:'';  ?></h1>
                                <h3 style="<?php echo (isset($content->bt_sub_heading_color) && $content->bt_sub_heading_color != '') ? 'color:'.$content->bt_sub_heading_color : ''; ?>" class="sub_heading sub_heading_align  align-<?php echo $content->sub_heading_align ?$content->sub_heading_align : 'center' ?>"><?php echo $content->sub_heading?$content->sub_heading:''; ?></h3>

                                <div class="zoo-button-slide bt_align align-<?php echo $content->bt_align? $content->bt_align : 'center'; ?>">
                                    <a style="<?php echo (isset($content->bt_color ) && $content->bt_color != '')? 'color:'.$content->bt_color.';' : ''; echo (isset($content->bt_bg_color ) && $content->bt_bg_color != '') ? 'background:'.$content->bt_bg_color : '';  ?>" onmouseover="<?php echo $content->bt_lb_color ? 'this.style.color=\''.$content->bt_lb_color.'\';' : ''; echo $content->bt_bg_color_hover ? 'this.style.background=\''.$content->bt_bg_color_hover .'\'': '';  ?>" onmouseout="<?php echo $content->bt_color ? 'this.style.color=\''.$content->bt_color.'\';' : ''; echo $content->bt_bg_color ? 'this.style.background=\''.$content->bt_bg_color .'\'' : '';  ?>" class="bt_label slide_link" href="<?php echo $content->slide_link ? $content->slide_link : '#' ?>"><?php echo $content->bt_label ? $content->bt_label : '' ?> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <?php $i++; endforeach ?>
            <?php if (count($youtube_list) > 0) {?>
                <script>
                    <?php foreach($youtube_list as $yl) { ?>
                    var player<?php echo $yl; ?>;
                    <?php } ?>
                    window.onYouTubePlayerAPIReady = function() {
                        <?php foreach($youtube_list as $key=>$ys) { ?>
                        player<?php echo $ys; ?> = new YT.Player('<?php echo $youtube_unique[$key]; ?>', {});
                        <?php } ?>
                    }

                </script>
            <?php }  ?>
            <?php if (count($vimeo_list) > 0) {?>
                <script>
                    <?php foreach($vimeo_list as $t=>$vl) { ?>
                    var v_style = <?php echo $v_content_style[$t] ?>;
                    if(v_style != '2' || v_style != 2) {
                        var iframe<?php echo $vl; ?> = document.getElementById('<?php echo $vimeo_unique[$t]; ?>');
                        // $f == Froogaloop
                        var player<?php echo $vl; ?> = $f(iframe<?php echo $vl; ?>);
                        // bind events
                        var playButton<?php echo $vl; ?> = document.getElementById("play-<?php echo $vl; ?>");
                        var pauseButton<?php echo $vl; ?> = document.getElementById("pause-<?php echo $vl; ?>");

                        playButton<?php echo $vl; ?>.addEventListener("click", function() {
                            player<?php echo $vl; ?>.api("play");
                            document.getElementById("image-<?php echo $vimeo_unique[$t] ?>").style.display='none';
                            jQuery("#<?php echo $vimeo_unique[$t] ?>").removeAttr('style');
                            playButton<?php echo $vl; ?>.style.display='none';
                            pauseButton<?php echo $vl; ?>.style.display='inline';
                        });

                        pauseButton<?php echo $vl; ?>.addEventListener("click", function() {
                            player<?php echo $vl; ?>.api("pause");
                            playButton<?php echo $vl; ?>.style.display='inline';
                            pauseButton<?php echo $vl; ?>.style.display='none';
                        });
                    }
                    <?php } ?>
                </script>
            <?php }  ?>
        </ul>
    </div>
<?php endif ?>
<style>
    .slideshow__video-control {
        background:url("<?php echo $this->getViewFileUrl('CleverSoft_CleverSlider::images/slides/play.png') ?>");
        background-size: cover;
        text-indent: -9999em;
    }
    .colorpicker {z-index: 10}
</style>
<script>
    <?php if (count($youtube_list) > 0) {?>
    jQuery(function () {
        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    });    
    <?php } ?>
    
</script>
<script>
    require(['jquery'], function($){ 
        $( ".ui-state-default a" ).on( "click", function(e) {
            e.preventDefault();
        });
        if ($(".ui-state-default").hasClass("ui-tabs-active")) {
            $(".ui-state-default a").trigger('click');
        }
    });
</script>


