<fieldset class="fieldset create account" data-hasrequired="<?php echo __('* Required Fields') ?>">
    <div id="smserrordiv" name="smserrordiv" class="message error"></div>
    <div id="smssuccessdiv" name="smssuccessdiv" class="smssuccessdiv"></div>
    <div id="smssuccessmsg1" name="smssuccessmsg1" class="smssuccessmsg1"></div>  
    <div class="new-mobile-num-confirm" id="new-mobile-num-confirm"></div>

    <button class="continue-shopping-but" id="continue-shopping-but"><a href="<?php echo $block->getBaseUrl(); ?>" class="continue-shopping" id="continue-shopping"></a></button>
   <?php if($block->getCustomerEmail() != '') : ?>
        <div id="existingnumberdiv">
            <p class="empty"><?php echo __('your register email is') ?></p>
            <p class="exist-mobile-num"> <?php echo $block->getCustomerEmail(); ?></p>
            <button class="change-number" id="change-number"><?php echo __('Change Email') ?></button>
        </div>
        <?php endif; ?>

    <div class="field changenumb-second" id="changenumb-second">
        <p class="quote-mob-num" id="quote-mob-num"><?php echo __('Please enter your') ?> <span class="bold"><?php echo __('new email address') ?></span><?php echo __(' and will send you OTP email') ?></p>
        <p class="mob-num" id="mob-num"><?php echo __('Email') ?></p>
        <div class="control">
            <div class="encloser22 tab1">
                <input type="email" name="new_email" id="new_email" title="<?php echo __('new_email') ?>" class="input-text new_email" autocomplete="off" placeholder="Email address">            
            </div>
        </div>
        <p class="verify-mob-num" id="verify-mob-num"><?php echo __('Verify email address') ?></p>
        <p class="sms-send-your" id="sms-send-your"><?php echo __('OTP sent to your email address') ?></p>
        <div class="new-mobile-num" id="new-mobile-num"></div>  
        <div id="otpdiv" class="control tab2">
            <input type="hidden" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10">
            <input id="codeBox1" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" name="chars[1]" />
            <input id="codeBox2" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" name="chars[2]" />
            <input id="codeBox3" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" name="chars[3]" />
            <input id="codeBox4" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" name="chars[4]" /> 
        </div>
        <div id="waitsmsdiv">
            <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
        </div>
        <div id="otpbtndiv" class="otpbtndiv">
            <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?> tab1" title="Get OTP">
                <span><?php echo __('Send Code') ?></span>
            </button>
           
        </div>
        <div style="clear: both;"></div>
        <div id="confirmationdiv" class="tab2">
            <button id="confirmotpbtn" name="confirmotpbtn" type="button" class="<?php echo $block->getButtonclass();?> confirmotpbtn" title="Verify Email Address">
                <span><?php echo __('Verify') ?></span>
            </button>
             <button id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Resend OTP">
                <span><?php echo __('Resend OTP') ?></span>
            </button>
            <p style="" id="change-mobile-num" class="change-mobile-num tab2"><?php echo __('Change Email') ?></p>
        </div>
     
    </div>
</fieldset>
<script>
    require(['jquery', 'jquery/ui'], function($)
    {

    $(document).ready(function () {

     $("#change-number").click(function(){
     $('#changenumb-second').show();
     $('#existingnumberdiv').hide();
     $('.tab2').hide();
     $('#waitsmsdiv').hide();
    });
    


    var value1,value2,value3,value4,value5,value6; 

      
    $("p#change-mobile-num").click(function(){
     $('.tab1').show();
     $('.tab2').hide();
     $('#quote-mob-num').show();
     $('#mob-num').show();
     $('#verify-mob-num').hide();
     $('#sms-send-your').hide();
     $('#new-mobile-num').empty();
     $('#new-mobile-num').hide();
     $("#new_email").val('');
    });

    $("#codeBox1").keyup(function () {
        value1 = $(this).val();
        $(".fieldset.create #otp").val(value1);
        });
                
        $("#codeBox2").keyup(function () {
        value2 = $(this).val();
        $(".fieldset.create #otp").val(value1+value2);
        });
                
        $("#codeBox3").keyup(function () {
        value3 = $(this).val();
        $(".fieldset.create #otp").val(value1+value2+value3);
        });
                
        $("#codeBox4").keyup(function () {  
        value4 = $(this).val();
        $(".fieldset.create #otp").val(value1+value2+value3+value4);
        $("button#confirmotpbtn").click();
        });
    });

  // Disable copy paste functionality on otp
    $('.otpdivcodeBox').bind('cut copy paste', function (e) {
        e.preventDefault();
    });
                
  //Disable mouse right click
    $(".otpdivcodeBox").on("contextmenu",function(e){
        return false;
    });
    
    function Smsresetdata()
    {
        $('#new_email').removeClass('mage-error');
        $('#otp').removeClass('mage-error');
        $('#smserrordiv').hide();
        $('#smserrordiv').html('');
    }

    function Smstoggeldata(Elementid)
    {
        $(Elementid).toggle();
    }

    $("#getotpbtn").click(function(e)
    {
        //Reset Everything
        Smsresetdata();
        //Number Validation
        var mobile = $('#new_email').val();
        if(mobile == null || mobile == '')
        {
            $('#new_email').addClass('mage-error');
            $('#smserrordiv').show();
            $('#smserrordiv').html('<?php echo __('Please First Enter Your Email Address.') ?>');
            return false;
        }
        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        if(!regex.test(mobile)) {
            $('#new_email').addClass('mage-error');
            $('#smserrordiv').show();
            $('#smserrordiv').html('<?php echo __('Please Enter Valid Email Address.') ?>');
            return false;
        }

        // var countrycode = $("#countryreg").val();
        // mobile = countrycode.concat(mobile);

        //Send OTP To Number
        $.ajax({
            type: "POST",
            url: '<?php echo $this->getUrl('customer/account/sendOtpEmail/')?>',
            data:{'email':mobile},
            beforeSend: function()
            {
                $("#quote-mob-num").hide();
                $("#mob-num").hide();
                $(".encloser22").hide();
                Smsresetdata();
                Smstoggeldata('#getotpbtn');
                Smstoggeldata('#waitsmsdiv');

            },
            success: function(data)
            {
                if(data == 'success')
                {
                    $(".message.error").hide();
                    $("#new-mobile-num").show();
                    $("#verify-mob-num").show();
                    $("#sms-send-your").show();
                    $("#change-mobile-num").show();
                    $('#resendotpbtn').show();
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#otpdiv');
                    // Smstoggeldata('#resendotpbtn');
                    Smstoggeldata('#confirmationdiv');
                    $('#new-mobile-num').append(mobile);
                }
                else
                {

                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#getotpbtn');
                    $("#quote-mob-num").show();
                $("#mob-num").show();
                $(".encloser22").show();
                    $('#smserrordiv').show();
                    $('#smserrordiv').html(data);
                }
            },
            error: function() {
                Smstoggeldata('#waitsmsdiv');
                Smstoggeldata('#getotpbtn');
                $('#smserrordiv').show();
                $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
            }
        });
    });

        $("#resendotpbtn").click(function(e)
        {
            //Reset Everything
            Smsresetdata();
            var mobile = $('#new_email').val();
            //Re-Send OTP To Number
            $.ajax({
                type: "POST",
                url: '<?php echo $this->getUrl('customer/account/sendOtpEmail/')?>',
                data:{'email':mobile},
                beforeSend: function()
                {
                    $('input.otpdivcodeBox').val('');
                    Smsresetdata();
                    Smstoggeldata('#resendotpbtn');
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                },
                success: function(data)
                {
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                    if(data != 'success')
                    {
                        $('#smserrordiv').show();
                        $('#smserrordiv').html(data);
                        Smstoggeldata('#resendotpbtn');
                    }
                     Smstoggeldata('#resendotpbtn');
                },
                error: function() {
                    Smstoggeldata('#waitsmsdiv');
                    $('#smserrordiv').show();
                    $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
                }
            });
        });

        $("#confirmotpbtn").click(function(e)
        {
            //OTP Validation
            var otpstring = $('#otp').val();
            if(otpstring == null || otpstring == '')
            {
                $('#otp').addClass('mage-error');
                $('#smserrordiv').show();
                $('#smserrordiv').html('<?php echo __('Please Enter OTP.') ?>');
                return false;
            }

            var mobile = $('#new_email').val();
            //Verify Mobile & OTP
            $.ajax({
                type: "POST",
                url: '<?php echo $this->getUrl('customer/account/verifyEmailOtp/')?>',
                data:{'email':mobile,'otp':otpstring},
                beforeSend: function()
                {
                    Smsresetdata();
                    Smstoggeldata('#otpbtndiv');
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                },
                success: function(data)
                {
                    Smstoggeldata('#waitsmsdiv');
                    if(data == 'success')
                    {
                        var mobilesuccess = $('#new_email').val();
                        $("#sms-send-your").hide();
                        $("#verify-mob-num").hide();
                        Smstoggeldata('#otpdiv');
                        $('#smssuccessdiv').html('<?php echo __('Confirmed!') ?>');
                        $('#smssuccessmsg1').html('<?php echo __('your new email address is') ?>');
                        $('#new-mobile-num-confirm').append(mobilesuccess);
                        $('#new-mobile-num').hide();
                        $('#continue-shopping').html('<?php echo __('CONTINUE SHOPPING') ?>');
                        $('#continue-shopping-but').show();
                        $('#continue-shopping').show();
                        $('#smssuccessmsg1').show();
                        $('#smssuccessdiv').show();
                    }
                    else
                    {
                        $('input.otpdivcodeBox').val('');
                        $('#otpbtndiv').show();
                        $('#smserrordiv').html(data);
                        Smstoggeldata('#smserrordiv');
                        Smstoggeldata('#confirmationdiv');
                    }
                },
                error: function() {
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                    $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
                    Smstoggeldata('#smserrordiv');
                }
            });
        });
    });
</script>




<!-- if one value not enter no go to next field -->
<script>
    function getCodeBoxElement(index) {
            return document.getElementById('codeBox' + index);
          }
          function onKeyUpEvent(index, event) {
            const eventCode = event.which || event.keyCode;
            if (getCodeBoxElement(index).value.length === 1) {
              if (index !== 4) {
                getCodeBoxElement(index+ 1).focus();
              } else {
                getCodeBoxElement(index).blur();
                // Submit code
                console.log('submit code');
              }
            }
            if (eventCode === 8 && index !== 1) {
              getCodeBoxElement(index - 1).focus();
            }
          }
          function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
              const currentElement = getCodeBoxElement(item);
              if (!currentElement.value) {
                  currentElement.focus();
                  break;
              }
            }
          }
</script>