<?php if ($block->getConfig('general_settings/enabled')): ?>
    <?php if ($block->getConfig('product_page_settings/show_brand')): ?>
        <?php if ($brand = $block->getBrand()): ?>
            <div class="product-brand">
                <div class="brand-name"><?php echo $block->getBrand()->getName(); ?></div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
