<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()" />
        <label data-bind="attr: {'for': getCode()}" class="label">
            <span data-bind="text: getTitle()"></span>
            <img data-bind="attr: { src: require.toUrl('Godogi_VisaMasterAlrajhi/images/visa-master.png') }">
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="visamasteralrajhi-block" data-role="pannel" data-mage-init='{"loader": {}}' style="min-height:100px;">
            <div id="visamasteralrajhi-errors" style="display:none;">
            </div>
            <div id="visamasteralrajhi-method-content">
              <form id="visamasteralrajhi-form" action="/visamasteralrajhi/visamasteralrajhi/postdata" method="POST" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" data-hasrequired="* Required Fields" data-mage-init='{"validation":{}}'>
                  <fieldset class="fieldset">
                    <input type="hidden" id="paymentBrandVisaMasterAlrajhi" name="paymentBrand" value="NONE" >
                    <div class="field required">
                      <label class="label" for="card.holder"><span data-bind="i18n: 'Name on Card'"></span></label>
                      <div class="control">
                        <input id="cardHolderVisaMasterAlrajhi" name="card.holder" data-bind="attr: {placeholder: $t('John Snow')}" title="Name on Card" class="input-text" type="text" data-validate="{required:true}">
                      </div>
                    </div>
                    <div class="field required">
                      <label class="label" for="card.number"><span data-bind="i18n: 'Credit Card Number'"></span></label>
                      <div class="control">
                        <div class="col-md-8">
                          <input id="cardNumberVisaMasterAlrajhi" name="card.number" title="Credit Card Number" placeholder="4200 0000 0000 0000" class="input-text unvalid" type="text" data-validate="{required:true}">
                        </div>
                        <div class="col-md-4">
                            <img id="paymentBrandVisaMasterImgAlrajhi" data-bind="attr: { src: require.toUrl('Godogi_VisaMasterAlrajhi/images/unknown.png') }">
                        </div>
                      </div>
                    </div>
                    <div class="field required">
                      <label class="label" for="card.expiry"><span data-bind="i18n: 'Expiration Date'"></span></label>
                      <div class="control">
                        <div class="col-md-6">
                          <select id="cardExpiryMonthVisaMasterAlrajhi" name="card.expiryMonth" data-validate="{required:true}">
                              <option value="01">01</option>
                              <option value="02">02</option>
                              <option value="03">03</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="06">06</option>
                              <option value="07">07</option>
                              <option value="08">08</option>
                              <option value="09">09</option>
                              <option value="10">10</option>
                              <option value="11">11</option>
                              <option value="12">12</option>
                          </select>
                        </div>
                        <div class="col-md-6">
                          <select id="cardExpiryYearVisaMasterAlrajhi" name="card.expiryYear" data-validate="{required:true}">
                              <option value="2019">2019</option>
                              <option value="2020">2020</option>
                              <option value="2021">2021</option>
                              <option value="2022">2022</option>
                              <option value="2023">2023</option>
                              <option value="2024">2024</option>
                              <option value="2025">2025</option>
                              <option value="2026">2026</option>
                              <option value="2027">2027</option>
                              <option value="2028">2028</option>
                              <option value="2029">2029</option>
                              <option value="2030">2030</option>
                              <option value="2031">2031</option>
                              <option value="2032">2032</option>
                              <option value="2033">2033</option>
                              <option value="2034">2034</option>
                              <option value="2035">2035</option>
                              <option value="2036">2036</option>
                              <option value="2037">2037</option>
                              <option value="2038">2038</option>
                              <option value="2039">2039</option>
                              <option value="2040">2040</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="field required">
                      <label class="label" for="card.cvv"><span data-bind="i18n: 'Card Verification Number'"></span></label>
                      <div class="control">
                        <div class="col-md-8">
                            <input id="cardCvvVisaMasterAlrajhi" name="card.cvv" title="Card Verification Number" placeholder="123" class="input-text" type="text" data-validate="{required:true}">
                        </div>
                        <div class="col-md-4">
                            <img data-bind="attr: { src: require.toUrl('Godogi_VisaMasterAlrajhi/images/verify.gif') }" >
                        </div>
                      </div>
                    </div>
                  </fieldset>
              </form>
          </div>
          <style type="text/css">
              #visamasteralrajhi-method-content .col-md-6 {
                  padding: 0px;
                  display: inline-block;
                  width: calc(50% - 2px);
              }
              #visamasteralrajhi-method-content .col-md-8 {
              	padding: 0;
              	width: calc(70% - 2px);
                display: inline-block;
              }
              #visamasteralrajhi-method-content .col-md-4 {
              	padding: 0;
              	width: calc(30% - 2px);
              	display: inline-block;
              	float: right;
              }
              #visamasteralrajhi-method-content img {
              	max-height: 32px;
              }
              #visamasteralrajhi-form {
              	margin-bottom: 20px;
              }
              #visamasteralrajhi-errors {
              	padding: 10px;
              	background-color: #fcd3d3;
              	border-radius: 4px;
              	margin-bottom: 10px;
              	color: #954646;
              }
              #visamasteralrajhi-errors .title {
              	font-weight: bold;
              	margin: 10px 10px 10px 15px;
              }
              body.rtl #visamasteralrajhi-form .fieldset > .field:not(.choice) > .label {
                	float: right;
              }
              body.rtl #visamasteralrajhi-method-content .col-md-4 {
              	float: left;
              }


              .checkout_index_index #checkout .checkout-payment-method .payment-method-title input {
              	float: right;
              	margin: 3px 0 0 5px;
              }
              .payment-method-title .label img{
                float: left;
              }
              .payment-method-title .label{
                display: block;
              }
              #cardNumberVisaMasterAlrajhi.valid {
                	border-color: #82d99a;
                	background-color: #e1ffd5;
              }
              #cardNumberVisaMasterAlrajhi.unvalid {
                	border-color: #f4c8c8;
                	background-color: #fff3f3;
              }

              #cardNumberVisaMasterAlrajhi.shake {
                animation: shakeccnvisamaster 0.82s cubic-bezier(.36,.07,.19,.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;
              }
              .payment-method-title.field.choice {
              	line-height: 36px;
              }

              @keyframes shakeccnvisamaster {
                10%, 90% {
                  transform: translate3d(-1px, 0, 0);
                }

                20%, 80% {
                  transform: translate3d(2px, 0, 0);
                }

                30%, 50%, 70% {
                  transform: translate3d(-4px, 0, 0);
                }

                40%, 60% {
                  transform: translate3d(4px, 0, 0);
                }
              }
          </style>
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
