/* Customer Account Create (START) */
.mobilenumber {
	float: left;
	max-width: 200px;
	width: 80%;
}

#otpdiv { display: none; float: left; margin-left: 15px; width: 18% }

#otpbtndiv { float: left; margin-left: 15px; }

#otpbtndiv #resendotpbtn { display: none; }

#smserror { clear: both; }

#waitsmsdiv {
	margin-left: 15px;
	float: left;
	display: none;
}
/* Customer Account Create (END) */

/* Customer Mobile Confirmation (START) */
#confirmationdiv, #smserrordiv, #smssuccessdiv, #procedtocheckoutdiv {
	display: none;
	clear: both;
	margin-top: 10px;
}

#existingnumberdiv {
	clear: both;
	margin-top: 10px;
}
/* Customer Mobile Confirmation (END) */