p.exist-mobile-num {
    color: #000;
    font-weight: 600;
    font-size: 16px;
        direction: ltr;
}


.verify-mob-num,
.sms-send-your{
display: none;
}


.smssuccessmsg1 {
    color: #000;
        font-family: 'Poppins';
}


div#otpdiv {
    text-align: center;
}

#waitsmsdiv {
    float: unset !important;
    text-align: center;
}


p.quote-mob-num {
    font-family: 'Poppins';
    line-height: 1.5;
    color: #000;
    margin-bottom: 20px;
    max-width: 290px;
}


p.quote-mob-num span.bold {
    font-weight: 600;
}


p.mob-num {
    margin-bottom: 0px;
    color: #000;
}

button.change-number {
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 0px;
}

.field.changenumb-second {
    display: none;
}


div#existingnumberdiv {
    text-align: center;
}

.sms-customer-update p.empty {
    color: #000;
    font-family: 'Poppins';
}


.otpbtndiv 
{
    width: 100%;
    margin-top: 15px;
    margin-left: 0px !important;
}

select.countryPhoneCodecustomchange
{
    background-position: right;
    width: 100px;
    border-color: #000;
    color: #000;
}

.form-login .field.choice.persistent 
{
    display: none;
}

button#getotpbtn {
    width: 100%;
}


.block.block-customer-login .block-title
 {
    font-size: 21px;
    color: #000;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
}
 
.block.block-customer-login .block-title strong 
{
    font-weight: 400;
}

.fieldset.create .mycustomphonefield3
{
    color: #000;
    margin-left: -1px;
    border-color: #000;
}


.fieldset.login .field.note 
{
    font-style: initial;
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.fieldset.login p.login-mob-num-title 
{
    margin-bottom: 0px;
    font-size: 13px;
    color: #000;
}

.fieldset.login a.action.remind 
{
    color: #05B18F;
}

.fieldset.login .secondary 
{
    margin-left: 0px !important;
    margin-top: -15px !important;
}

@media screen and (max-width: 775px)
{
    .customer-account-login .fullwidth{
    padding: 0px 15px;
}
}

@media screen and (max-width: 670px){
.fieldset.login .secondary {
    width: 100%;
    text-align: center;
}
button.action.login.primary {
    width: 100%;
}

}

.field button#resendotpbtn {
    display: block;
    background-color: transparent;
    color: #05B18F;
    padding-right: 0px;
    text-decoration: underline;
}


button.action.login.primary {
    border-radius: 0px;
}


p.otp-snd-pn {
    margin-bottom: 25px;
}

p.vrfy-pn {
    margin: 10px 0px 5px;
}


p.change-mobile-num {
    color: #05B18F;
    text-decoration: underline;
    margin-top: 5px;

}


p.change-mobile-num:hover {
    cursor: pointer;
}


.confirmotpbtn{
    background-color: #000;
    color: #fff;
    border-radius: 0px;
    width: 100%;
    height: 40px;
}


@media screen and (max-width: 670px){
    .new-mobile-num {
    text-align: right !important;
}
    div#confirmationdiv {
    margin-top: 20px;
}
    .new-mobile-num-confirm {
    text-align: right !important;
}
    .confirmotpbtn {
    width: 100%;
}
.fieldset.create .mycustomphonefield3 {
    margin-left: 10px !important; 
}
}

.message.error {
    color: red;
}


.smssuccessdiv {
    font-size: 18px;
    font-weight: 600;
     color: #3AB38F;
}



@media screen and (min-width: 671px){
    .message.error {
    text-align: center;
}
.fieldset.create.account {
    max-width: 310px;
    margin: 0 auto;
}
.otpdivcodeBox {
    margin: 0px 7px;
}
p.quote-mob-num {
    text-align: center;
}
p.mob-num {
    text-align: center;
}
p.mob-num {
    margin-bottom: 10px !important; 
}
.smssuccessmsg1 {
    text-align: center;
}
.smssuccessdiv {
text-align: center;
}


.new-mobile-num-confirm,
.new-mobile-num,
.sms-send-your,
.verify-mob-num {
    text-align: center;
}

}


.continue-shopping-but{
    display: none;
    background-color: #3AB38F;
    width: 100%;
    height: 40px;
    border-radius: 0px;
}



.sms-send-your,
.verify-mob-num {
    font-family: 'Poppins';
    color: #000;
}

.sms-send-your{
    margin-bottom: 0px;
}


.new-mobile-num-confirm,
.new-mobile-num {
    text-align: center;
        direction: ltr;
    color: #000;
    margin-bottom: 20px;
}


.continue-shopping {
    color: #fff;
    font-weight: 600;
}

.new-mobile-num-confirm {
    font-size: 18px;
    font-weight: 500;
    direction: initial;
    text-align: center;
}


.new-mobile-num {
    font-family: 'Poppins';
}


@media screen and (max-width: 767px){
.smssuccessdiv {
    margin-top: 40px !important;
    }
}