/*
Main styles here
*/
/* 
    Created on : 26.05.2016, 17:40:04
    Author     : alex
*/

.intl-tel-input.allow-dropdown input, .intl-tel-input.allow-dropdown input[type=text], .intl-tel-input.allow-dropdown input[type=tel] {
    padding-right: 6px !important;
    padding-left: 52px !important;
    margin-left: 0 !important;
}

.intl-tel-input {float: left}

.intl-tel-input .flag-container { z-index: 9; }