/* ==========================================================================
   ICON FONTS
   ========================================================================== */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?eiifow');
    src:  url('../fonts/icomoon.eot?eiifow#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?eiifow') format('truetype'),
    url('../fonts/icomoon.woff?eiifow') format('woff'),
    url('../fonts/icomoon.svg?eiifow#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="pin__icon--"], [class*=" pin__icon--"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pin__icon--add:before {
    content: "\e900";
}

/* ==========================================================================
   GENERAL
   ========================================================================== */
.pin-maker:before,
.pin-maker:after {
    content: "";
    display: table;
}
.pin-maker:after {
    clear: both;
}
.pin__wrapper {
    position: relative;
    outline: 0;
    display: inline-block;
}
.pin__wrapper a:focus,
.pin__wrapper a:hover,
.pin__wrapper a:active {
    outline: 0;
}
.pin-maker .pin__wrapper {
    float: left;
}
.pin-maker .pin__wrapper .pin__image > img {
    width: 100%;
}
.pm-2col .pin__wrapper,
.pm-2col .pin__sizer {
    width: 50%;
}
.pm-3col .pin__wrapper,
.pm-3col .pin__sizer {
    width: 33.3%;
}
.pm-4col .pin__wrapper,
.pm-4col .pin__sizer {
    width: 25%;
}
.pm-5col .pin__wrapper,
.pm-5col .pin__sizer {
    width: 20%;
}
.pm-mask {
    position: relative;
}
.pm-mask:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .35);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
   PIN TYPE ICON
   ========================================================================== */
[class*="pin__type--"] {
    position: absolute;
}
.pin__icon--add,
.pin__type--area {
    cursor: pointer;
    transition: all .35s;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.pin__size--small {
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 10px;
}
.pin__size--medium {
    width: 32px;
    height: 32px;
    line-height: 30px;
    font-size: 16px;
}
.pin__size--large {
    width: 48px;
    height: 48px;
    line-height: 46px;
    font-size: 18px;
}

/* ==========================================================================
   POPUP
   ========================================================================== */
.pin__close {
    position: absolute;
    z-index: 9;
    right: -10px;
    top: -10px;
    cursor: pointer;
    border: 2px solid #ccc;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 50px;
    background: #fff;
}
.pin__popup,
.pin__title {
    position: absolute;
}
.pin__title:before,
.pin__popup:before {
    content: "";
    position: absolute;
}
.pin__title {
    white-space: nowrap;
    background: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    top: -webkit-calc(-100% - 10px);
    top: calc(-100% - 10px);
    padding: 5px 30px;
    font-size: 14px;
    transition: transform .35s;
}
.pin__title:before {
    border: 6px solid transparent;
    border-top: 6px solid #fff;
    bottom: -12px;
    left: calc(50% - 6px);
    left: -webkit-calc(50% - 6px);
}
.pin__size--small + .pin__title {
    top: calc(-100% - 15px);
    top: -webkit-calc(-100% - 15px);
}
.pin__size--large + .pin__title {
    top: -100%;
}
.pin__type--area .pin__title {
    top: -50px;
}
.pin__type:not(.pin__opened):hover .pin__title {
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
}
.pin__popup {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    transition: all .35s;
    z-index: 100;
    border-radius: 2px;
}
.pin__type--area .pin__popup {
    text-align: initial;
}
.pin__opened .pin__popup {
    opacity: 1;
    visibility: visible;
}
.pin__popup--zoom {
    -webkit-transform: scale(0);
    transform: scale(0);
}
.pin__popup--zoom.pin__popup--right,
.pin__popup--zoom.pin__popup--left {
    -webkit-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}
.pin__opened .pin__popup--zoom.pin__popup--top,
.pin__opened .pin__popup--zoom.pin__popup--bottom {
    -webkit-transform: scale(1);
    transform: scale(1);
}
.pin__opened .pin__popup--zoom.pin__popup--right,
.pin__opened .pin__popup--zoom.pin__popup--left {
    -webkit-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.pin__popup--sup {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}
.pin__popup--sup.pin__popup--right,
.pin__popup--sup.pin__popup--left {
    -webkit-transform: translateY(calc(-50% - -30px));
    transform: translateY(calc(-50% - -30px));
}
.pin__opened .pin__popup--sup.pin__popup--right,
.pin__opened .pin__popup--sup.pin__popup--left,
.pin__opened .pin__popup--sdown.pin__popup--right,
.pin__opened .pin__popup--sdown.pin__popup--left {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pin__popup--sdown {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
}
.pin__popup--sdown.pin__popup--right,
.pin__popup--sdown.pin__popup--left {
    -webkit-transform: translateY(calc(-50% - 30px));
    transform: translateY(calc(-50% - 30px));
}
.pin__popup--sleft {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}
.pin__popup--sleft.pin__popup--right,
.pin__popup--sleft.pin__popup--left {
    -webkit-transform: translateY(-50%) translateX(30px);
    transform: translateY(-50%) translateX(30px);
}
.pin__opened .pin__popup--sleft.pin__popup--right,
.pin__opened .pin__popup--sleft.pin__popup--left,
.pin__opened .pin__popup--sright.pin__popup--right,
.pin__opened .pin__popup--sright.pin__popup--left {
    -webkit-transform: translateY(-50%) translateX(0);
    transform: translateY(-50%) translateX(0);
}
.pin__popup--sright {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}
.pin__popup--sright.pin__popup--right,
.pin__popup--sright.pin__popup--left {
    -webkit-transform: translateY(-50%) translateX(-30px);
    transform: translateY(-50%) translateX(-30px);
}
.pin__popup--rotate {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}
.pin__popup--rotate.pin__popup--right,
.pin__popup--rotate.pin__popup--left {
    -webkit-transform: translateY(-50%) rotateY(360deg);
    transform: translateY(-50%) rotateY(360deg);
}
.pin__opened .pin__popup--rotate.pin__popup--right,
.pin__opened .pin__popup--rotate.pin__popup--left {
    -webkit-transform: translateY(-50%) rotateY(0deg);
    transform: translateY(-50%) rotateY(0deg);
}
.pin__opened .pin__popup--sup,
.pin__opened .pin__popup--sdown {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.pin__opened .pin__popup--sleft,
.pin__opened .pin__popup--sright {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.pin__opened .pin__popup--rotate {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.pin__popup:before {
    border: 10px solid transparent;
}
.pin__popup--top {
    bottom: calc(100% - -20px);
}
.pin__popup--top:before {
    border-top: 10px solid #fff;
    left: calc(50% - 10px);
    bottom: -20px;
}
.pin__popup--bottom {
    top: calc(100% - -20px);
}
.pin__popup--bottom:before {
    border-bottom: 10px solid #fff;
    left: calc(50% - 10px);
    top: -20px;
}
.pin__popup--right {
    left: calc(100% - -20px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pin__popup--right:before {
    border-right: 10px solid #fff;
    left: -20px;
    top: calc(50% - 10px);
}
.pin__popup--left {
    right: calc(100% - -20px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pin__popup--left:before {
    border-left: 10px solid #fff;
    right: -20px;
    top: calc(50% - 10px);
}
.popup__title {
    padding: 10px 15px;
    font-size: 16px;
}
.popup__title + .popup__content {
    border-top: 2px solid #f2f2f2;
}
.popup__content iframe {
    width: 100%;
    height: 100%;
}
.popup__content--product {
    text-align: center;
}
.popup__content--product.product-items .product-item {
    padding: 10px 0;
    margin: 0;
}
.popup__content--product > *:not(:last-child) {
    margin-bottom: 15px;
}
.pin__popup .popup__content--product h3 {
    font-size: 16px;
    color: #222;
    margin-top: 0;
    margin-bottom: 10px;
}
.popup__content--product > span {
    font-size: 14px;
    display: block;
    line-height: 1;
    color: #878787;
}
.popup__content--product > span ins {
    background: none;
    color: #c60f02;
    text-decoration: none;
}
.popup__content--product > div a {
    display: inline-block;
    color: #222;
    margin: 0;
    background: none;
    box-shadow: none;
    border: 0;
    font-weight: normal;
    height: auto;
    line-height: 1;
    font-size: 14px;
}
.popup__content--product > div a:hover {
    background: none;
    color: #222;
}
/* ==========================================================================
   SLIDER
   ========================================================================== */

.pin__wrapper_slider .owl-item .pin__type--image img {
    width: auto;
}
.pin__wrapper_slider .pin__wrapper {
    width: 100%;
    height: 100%;
}
.pin__wrapper_slider .owl-dots {
    text-align: center;
}
.pin__wrapper_slider .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}
.pin__wrapper_slider .owl-dots .owl-dot.active span,
.pin__wrapper_slider .owl-dots .owl-dot:hover span {
    opacity: 1;
}
.pin__wrapper_slider .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    line-height: 14px;
    text-align: center;
    opacity: .25;
    background: #65affa;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    border-radius: 50%;
}
.pin__wrapper_slider .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}
.pin__wrapper_slider .owl-nav .owl-next ,
.pin__wrapper_slider .owl-nav .owl-prev {
    position: absolute;
    box-shadow: none;
    opacity: 1!important;
}
.pin__wrapper_slider .owl-nav .owl-next span,
.pin__wrapper_slider .owl-nav .owl-prev span{
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 50%;
    box-shadow: none;
    color: #fff;
    font-size: 28px;
    line-height: 25px;
    vertical-align: middle;
    transition: all 400ms;
}

.pin__wrapper_slider .owl-nav .owl-next:hover span,
.pin__wrapper_slider .owl-nav .owl-prev:hover span{
    border-color: #333;
    color: #333;
}
.pin__wrapper_slider .owl-nav .owl-next{
    right: 20px!important;
}
.pin__wrapper_slider .owl-nav .owl-prev{
    left: 20px!important;
}
/* ==========================================================================
   RESPONSIVE
   ========================================================================== */
@media only screen and (max-width: 667px) {
    .pin__type.pin__type--area {
        width: 30px !important;
        height: 30px !important;
        font-size: 10px !important;
    }
    .pin__icon--add.pin__size--medium {
        width: 24px !important;
        height: 24px !important;
        line-height: 24px !important;
        font-size: 10px !important;
    }
    .pm-2col .pin__wrapper,
    .pm-2col .pin__sizer,
    .pm-3col .pin__wrapper,
    .pm-3col .pin__sizer,
    .pm-4col .pin__wrapper,
    .pm-4col .pin__sizer,
    .pm-5col .pin__wrapper,
    .pm-5col .pin__sizer {
        width: 100%;
    }
    .pin__popup--bottom::before {
        display: none;
    }
    .pin__wrapper_slider .pin__wrapper.slick-current .pin__popup {
        left: 0!important;
        top: 0!important;
        width: 220px!important;
    }
    .pin__popup .popup__content--product h3 {
        font-size: 13px;
    }
}