<fieldset class="fieldset create account">
   <div class="field">
      <div class="control">
         <input type="hidden" name="mobilenumber" id="mobilenumber" title="<?php echo __('mobilenumber') ?>" class="input-text mobilenumber" autocomplete="off" placeholder="Mobile Number" maxlength="13"  pattern="[0-9]" value="<?php echo $_SESSION["mobilenumber"]; ?>">
         <p class="otp-sms-msg"><?php echo __('Please enter your mobile number and will send you OTP sms') ?></p>
         <p class="mobile-num-text"><?php echo __('Mobile number') ?></p>
         <div class="encloser22">
            <select id="countryPhoneCodecustom">
               <option value="+966" selected>+966</option>
            </select>
            <input type="tel" maxlength="9" name="" id="mycustomphonefield2">         
         </div>
         <!-- <input type="hidden" value="" id="countryreg" name="countryreg" />-->
      </div>
      <?php if($block->IsSignUpConfirmation()) : ?>
      <div id="otpdiv" class="control">
         <p class="vrfy-pn"><?php echo __('Verify Phone number') ?></p>
         <p class="otp-snd-pn"><?php echo __('Otp sent to your phone number') ?> </p>
         <input type="hidden" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10" value="<?php echo $_SESSION["otp"]; ?>">
         <input id="codeBox1" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" name="chars[1]"/>
         <input id="codeBox2" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" name="chars[2]"/>
         <input id="codeBox3" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" name="chars[3]"/>
         <input id="codeBox4" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" name="chars[4]"/>
      </div>
      <div id="waitsmsdiv">
         <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
      </div>
      <div id="otpbtndiv">
         <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="SEND CODE">
         <span><?php echo __('SEND CODE') ?></span>
         </button>
         <button id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Resend OTP">
         <span><?php echo __('Resend OTP') ?></span>
         </button>
      </div>
      <?php endif; ?>
      <div id="smserror" name="smserror" generated="true" class="mage-error"></div>
   </div>
</fieldset>
<?php if($block->IsSignUpConfirmation()) : ?>
    <script>
        require(['jquery', 'jquery/ui'], function($)
        {
            var value1,value2,value3,value4,value5,value6;
            
            $("#codeBox1").keyup(function () {
                value1 = $(this).val();
                $(".fieldset.create.account #otp").val(value1);
            });
            
            $("#codeBox2").keyup(function () {
                value2 = $(this).val();
                $(".fieldset.create.account #otp").val(value1+value2);
            });
            
            $("#codeBox3").keyup(function () {
                value3 = $(this).val();
                $(".fieldset.create.account #otp").val(value1+value2+value3);
            });
            
            $("#codeBox4").keyup(function () {
                value4 = $(this).val();
                $(".fieldset.create.account #otp").val(value1+value2+value3+value4);
            });
            
            $("#mycustomphonefield2").keyup(function () {
                value5 = $('#countryPhoneCodecustom').find(":selected").val();
                value6 = $(this).val();
                $("#mobilenumber").val(value5+value6);
            });
                
            $('#mycustomphonefield2').keypress(function(e){ 
                if ((this.value.length == 0 && e.which == 48) || (e.which >= 32 && e.which <= 47) || (e.which >= 58 && e.which <= 126)){
                    return false;
                }
            });
            
            // Disable copy paste functionality on otp
            $('.otpdivcodeBox').bind('cut copy paste', function (e) {
                e.preventDefault();
            });
            
            //Disable mouse right click
            $(".otpdivcodeBox").on("contextmenu",function(e){
                return false;
            });
            
            function Smsresetdata()
            {
                $('#mobilenumber').removeClass('mage-error');
                $('#smserror').html('');
            }
            
            function Smstoggeldata(Elementid)
            {
                $(Elementid).toggle();
            }
            
            $("#to-address-button").click(function(e)
            {
                $("#mobilenumber").val('+'+ <?php echo $_SESSION["mobilenumber"]; ?>)
            });

            $("#getotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();
                
                //Number Validation
                var mobile = $('#mobilenumber').val();
                if(mobile == null || mobile == '')
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('This is a required field.') ?>');
                    return false;
                }
                if(!$.isNumeric(mobile) || mobile.length <= 9)
                {
                    $('#mobilenumber').addClass('mage-error');
                    $('#smserror').html('<?php echo __('Please, Enter Valid Mobile Number.') ?>');
                    return false;
                }

            /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('sms/customer/register')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#getotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                        $(".encloser22").hide();
                        $(".otp-sms-msg").hide();
                        $(".mobile-num-text").hide();
                        $(".actions-toolbar .action.submit.primary").hide();
                    },
                    success: function(data)
                    {
                        if(data == 'success')
                        {
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#otpdiv');
                            Smstoggeldata('#resendotpbtn');
                            $('#mobilenumber').attr('readonly', true);
                            $(".customer-account-create .actions-toolbar").show();
                            $(".actions-toolbar .action.submit.primary").show();
                        }
                        else
                        {
                            $(".encloser22").show();
                            $(".otp-sms-msg").show();
                            $(".mobile-num-text").show();
                            Smstoggeldata('#waitsmsdiv');
                            Smstoggeldata('#getotpbtn');
                            $('#smserror').html(data);
                            $('#smserror').show();
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#getotpbtn');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            $("#resendotpbtn").click(function(e)
            {
                //Reset Everything
                Smsresetdata();

                var mobile = $('#mobilenumber').val();
            /*  var countrycode = $("#countryreg").val();
                mobile = countrycode.concat(mobile);*/

                //Re-Send OTP To Number
                $.ajax({
                    type: "POST",
                    url: '<?php echo $this->getUrl('sms/customer/register')?>',
                    data:{'mobile':mobile},
                    beforeSend: function()
                    {
                        Smsresetdata();
                        Smstoggeldata('#resendotpbtn');
                        Smstoggeldata('#waitsmsdiv');
                        $("#resendotpbtn").hide();
                        $(".actions-toolbar .action.submit.primary").hide();                
                    },
                    success: function(data)
                    {
                        Smstoggeldata('#waitsmsdiv');
                        
                        $("#resendotpbtn").show();
                        $(".actions-toolbar .action.submit.primary").show();
                        if(data != 'success')
                        {
                            $('#smserror').html(data);
                        }
                    },
                    error: function() {
                        Smstoggeldata('#waitsmsdiv');
                        $('#smserror').html('<?php echo __('Something went wrong, Try again later.') ?>');
                    }
                });
            });

            /*$("#mobilenumber").intlTelInput({
                initialCountry: "<?php echo $block->getDefaultContry();?>",
                utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Sms::countryflag/js/utils.js'); ?>"
            });*/
            });
</script>
<?php endif; ?>



<!-- if one value not enter no go to next field -->
 <script>
      function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
      }
      function onKeyUpEvent(index, event) {
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
          if (index !== 4) {
            getCodeBoxElement(index+ 1).focus();
          } else {
            getCodeBoxElement(index).blur();
            // Submit code
            console.log('submit code ');
          }
        }
        if (eventCode === 8 && index !== 1) {
          getCodeBoxElement(index - 1).focus();
        }
      }
      function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
          const currentElement = getCodeBoxElement(item);
          if (!currentElement.value) {
              currentElement.focus();
              break;
          }
        }
      }
    </script>