<fieldset class="fieldset create account" data-hasrequired="<?php echo __('* Required Fields') ?>">
    <div id="smserrordiv" name="smserrordiv" class="message error"></div>
    <div id="smssuccessdiv" name="smssuccessdiv" class="smssuccessdiv"></div>
    <div id="smssuccessmsg1" name="smssuccessmsg1" class="smssuccessmsg1"></div>  
    <div class="new-mobile-num-confirm" id="new-mobile-num-confirm"></div>

    <button class="continue-shopping-but" id="continue-shopping-but"><a href="<?php echo $block->getBaseUrl(); ?>" class="continue-shopping" id="continue-shopping"></a></button>
   <?php if($block->getCustomerMobile() != '') : ?>
        <div id="existingnumberdiv">
            <p class="empty"><?php echo __('your register number is') ?></p>
            <p class="exist-mobile-num"> <?php echo $block->getCustomerMobile(); ?></p>
            <button class="change-number" id="change-number">Change number</button>
        </div>
        <?php endif; ?>

    <div class="field changenumb-second" id="changenumb-second">
        <p class="quote-mob-num" id="quote-mob-num">Please enter your <span class="bold">new mobile number</span> and will send you OTP sms</p>
        <p class="mob-num" id="mob-num">Mobile number</p>
        <div class="control">
            <input type="hidden" name="mobilenumber" id="mobilenumber" title="<?php echo __('Mobile Number') ?>" class="input-text mobilenumber" autocomplete="off" placeholder="Mobile Number" maxlength="13" pattern="[0-9]">
              <div class="encloser22 tab1">
                        <select id="countryPhoneCodecustomchange" class="countryPhoneCodecustomchange">
                        <option value="+966" selected>+966</option>
                        </select>
             <input type="tel" maxlength="9" name="" id="mycustomphonefield3" class="mycustomphonefield3">
                            </div>
           <!--  <input type="hidden" value="" id="countryreg" name="countryreg" /> -->
        </div>
        <p class="verify-mob-num" id="verify-mob-num">Verify mobile number</p>
        <p class="sms-send-your" id="sms-send-your">SMS sent your mobile number</p>
        <div class="new-mobile-num" id="new-mobile-num"></div>  
        <div id="otpdiv" class="control tab2">
            <input type="hidden" name="otp" id="otp" title="<?php echo __('otp') ?>" class="input-text" autocomplete="off" placeholder="OTP" maxlength="10">
            <input id="codeBox1" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" name="chars[1]" />
            <input id="codeBox2" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" name="chars[2]" />
            <input id="codeBox3" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" name="chars[3]" />
            <input id="codeBox4" class="otpdivcodeBox" type="tel" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" name="chars[4]" /> 
        </div>
        <div id="waitsmsdiv">
            <img src='<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>' alt="Please Wait..." width="30px" height="30px">
        </div>
        <div id="otpbtndiv" class="otpbtndiv">
            <button id="getotpbtn" name="getotpbtn" type="button" class="<?php echo $block->getButtonclass();?> tab1" title="Get OTP">
                <span><?php echo __('Send Code') ?></span>
            </button>
           
        </div>
        <div style="clear: both;"></div>
        <div id="confirmationdiv" class="tab2">
            <button id="confirmotpbtn" name="confirmotpbtn" type="button" class="<?php echo $block->getButtonclass();?> confirmotpbtn" title="Verify Mobile Number">
                <span><?php echo __('Verify') ?></span>
            </button>
             <button id="resendotpbtn" name="resendotpbtn" type="button" class="<?php echo $block->getButtonclass();?>" title="Resend OTP">
                <span><?php echo __('Resend OTP') ?></span>
            </button>
            <p style="" id="change-mobile-num" class="change-mobile-num tab2">Change mobile number</p>
        </div>
     
    </div>
</fieldset>
<script>
    require(['jquery', 'jquery/ui'], function($)
    {

    $(document).ready(function () {

     $("#change-number").click(function(){
     $('#changenumb-second').show();
     $('#existingnumberdiv').hide();
    });
    


    var value1,value2,value3,value4,value5,value6; 

      
    $("p#change-mobile-num").click(function(){
     $('.tab1').show();
     $('.tab2').hide();
     $('#quote-mob-num').show();
     $('#mob-num').show();
     $('#verify-mob-num').hide();
     $('#sms-send-your').hide();
     $('#new-mobile-num').empty();
     $('#new-mobile-num').hide();
     $("input#mycustomphonefield3").val('');
    });
    



    $("#mycustomphonefield3").keyup(function () {
      value5 = $('#countryPhoneCodecustomchange').find(":selected").val();
      value6 = $(this).val();
      $("#mobilenumber").val(value5+value6);
    });

    $("#codeBox1").keyup(function () {
            value1 = $(this).val();
            $(".fieldset.create #otp").val(value1);
            });
                    
            $("#codeBox2").keyup(function () {
            value2 = $(this).val();
            $(".fieldset.create #otp").val(value1+value2);
            });
                    
            $("#codeBox3").keyup(function () {
            value3 = $(this).val();
            $(".fieldset.create #otp").val(value1+value2+value3);
            });
                    
            $("#codeBox4").keyup(function () {  
            value4 = $(this).val();
            $(".fieldset.create #otp").val(value1+value2+value3+value4);
            $("button#confirmotpbtn").click();
            });
    


    });

  // Disable copy paste functionality on otp
            $('.otpdivcodeBox').bind('cut copy paste', function (e) {
                e.preventDefault();
            });
                
  //Disable mouse right click
            $(".otpdivcodeBox").on("contextmenu",function(e){
                return false;
            });




// arabic counting convert in eng 
    
    $("#mycustomphonefield3").on('change keydown paste input', function(){
                    validatePhone($(this));
                });
                $('#mycustomphonefield3').each(function() {
                    validatePhone($(this));
                });
      function validatePhone(element){
                  var localPhoneNumber = element.val();
                  var localPhoneNumberArray = localPhoneNumber.split('');
                  var outputlocalPhoneNumberArray = [];
                  $.each(localPhoneNumberArray, function( index, value ) {
                      if((value === "0" || value === "٠") && outputlocalPhoneNumberArray.length == 0){
                      } else if (value === "٠"){
                          outputlocalPhoneNumberArray.push("0");
                      } else if (value === "١"){
                          outputlocalPhoneNumberArray.push("1");
                      } else if (value === "٢"){
                          outputlocalPhoneNumberArray.push("2");
                      } else if (value === "٣"){
                          outputlocalPhoneNumberArray.push("3");
                      } else if (value === "٤"){
                          outputlocalPhoneNumberArray.push("4");
                      } else if (value === "٥"){
                          outputlocalPhoneNumberArray.push("5");
                      } else if (value === "٦"){
                          outputlocalPhoneNumberArray.push("6");
                      } else if (value === "٧"){
                          outputlocalPhoneNumberArray.push("7");
                      } else if (value === "٨"){
                          outputlocalPhoneNumberArray.push("8");
                      } else if (value === "٩"){
                          outputlocalPhoneNumberArray.push("9");
                      } else if(value === "0" || value === "1" || value === "2" || value === "3" || value === "4" || value === "5" || value === "6" || value === "7" || value === "8" || value === "9"){
                          outputlocalPhoneNumberArray.push(value);
                      } else {
                          // do nothing
                      }
                  });
                  var outputlocalPhoneNumber = outputlocalPhoneNumberArray.join("");
                  $('#mycustomphonefield3').val(outputlocalPhoneNumber);
                }
    
    // arabic counting convert in eng end






        function Smsresetdata()
        {
            $('#mobilenumber').removeClass('mage-error');
            $('#otp').removeClass('mage-error');
            $('#smserrordiv').hide();
            $('#smserrordiv').html('');
        }

        function Smstoggeldata(Elementid)
        {
            $(Elementid).toggle();
        }

        $("#getotpbtn").click(function(e)
        {
            //Reset Everything
            Smsresetdata();
            //Number Validation
            var mobile = $('#mobilenumber').val();
            if(mobile == null || mobile == '')
            {
                $('#mobilenumber').addClass('mage-error');
                $('#smserrordiv').show();
                $('#smserrordiv').html('<?php echo __('Please, First Enter Your Mobile Number.') ?>');
                return false;
            }
            if(!$.isNumeric(mobile) || mobile.length <= 9)
            {
                $('#mobilenumber').addClass('mage-error');
                $('#smserrordiv').show();
                $('#smserrordiv').html('<?php echo __('Please, Enter Valid Mobile Number.') ?>');
                return false;
            }

            // var countrycode = $("#countryreg").val();
            // mobile = countrycode.concat(mobile);

            //Send OTP To Number
            $.ajax({
                type: "POST",
                url: '<?php echo $this->getUrl('sms/customer/updateotp')?>',
                data:{'mobile':mobile},
                beforeSend: function()
                {
                    $("#quote-mob-num").hide();
                    $("#mob-num").hide();
                    $(".encloser22").hide();
                    Smsresetdata();
                    Smstoggeldata('#getotpbtn');
                    Smstoggeldata('#waitsmsdiv');

                },
                success: function(data)
                {
                    if(data == 'success')
                    {
                        $(".message.error").hide();
                        $("#new-mobile-num").show();
                        $("#verify-mob-num").show();
                        $("#sms-send-your").show();
                        $("#change-mobile-num").show();
                        $('#resendotpbtn').show();
                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#otpdiv');
                        // Smstoggeldata('#resendotpbtn');
                        Smstoggeldata('#confirmationdiv');
                        $('#mobilenumber').attr('readonly', true);
                        $('#new-mobile-num').append(mobile);
                    }
                    else
                    {

                        Smstoggeldata('#waitsmsdiv');
                        Smstoggeldata('#getotpbtn');
                        $("#quote-mob-num").show();
                    $("#mob-num").show();
                    $(".encloser22").show();
                        $('#smserrordiv').show();
                        $('#smserrordiv').html(data);
                    }
                },
                error: function() {
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#getotpbtn');
                    $('#smserrordiv').show();
                    $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
                }
            });
        });

        $("#resendotpbtn").click(function(e)
        {
            //Reset Everything
            Smsresetdata();

            var mobile = $('#mobilenumber').val();
            // var countrycode = $("#countryreg").val();
            // mobile = countrycode.concat(mobile);

            //Re-Send OTP To Number
            $.ajax({
                type: "POST",
                url: '<?php echo $this->getUrl('sms/customer/updateotp')?>',
                data:{'mobile':mobile},
                beforeSend: function()
                {
                    $('input.otpdivcodeBox').val('');
                    Smsresetdata();
                    Smstoggeldata('#resendotpbtn');
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                },
                success: function(data)
                {
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                    if(data != 'success')
                    {
                        $('#smserrordiv').show();
                        $('#smserrordiv').html(data);
                        Smstoggeldata('#resendotpbtn');
                    }
                     Smstoggeldata('#resendotpbtn');
                },
                error: function() {
                    Smstoggeldata('#waitsmsdiv');
                    $('#smserrordiv').show();
                    $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
                }
            });
        });

        $("#confirmotpbtn").click(function(e)
        {
            //OTP Validation
            var otpstring = $('#otp').val();
            if(otpstring == null || otpstring == '')
            {
                $('#otp').addClass('mage-error');
                $('#smserrordiv').show();
                $('#smserrordiv').html('<?php echo __('Please Enter OTP.') ?>');
                return false;
            }

            var mobile = $('#mobilenumber').val();
            // var countrycode = $("#countryreg").val();
            // mobile = countrycode.concat(mobile);

            //Verify Mobile & OTP
            $.ajax({
                type: "POST",
                url: '<?php echo $this->getUrl('sms/customer/updateotpnumber')?>',
                data:{'mobile':mobile,'otp':otpstring},
                beforeSend: function()
                {
                    Smsresetdata();
                    Smstoggeldata('#otpbtndiv');
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                },
                success: function(data)
                {
                    Smstoggeldata('#waitsmsdiv');
                    if(data == 'success')
                    {
                        var mobilesuccess = $('#mobilenumber').val();
                        $("#sms-send-your").hide();
                        $("#verify-mob-num").hide();
                        Smstoggeldata('#otpdiv');
                        $('#smssuccessdiv').html('<?php echo __('Confirmed!') ?>');
                        $('#smssuccessmsg1').html('<?php echo __('your new mobile number is') ?>');
                        $('#new-mobile-num-confirm').append(mobilesuccess);
                        $('#new-mobile-num').hide();
                        $('#continue-shopping').html('<?php echo __('CONTINUE SHOPPING') ?>');
                        $('#continue-shopping-but').show();
                        $('#continue-shopping').show();
                        $('#smssuccessmsg1').show();
                        $('#smssuccessdiv').show();
                    }
                    else
                    {
                          $('input.otpdivcodeBox').val('');
                          $('#otpbtndiv').show();
                        $('#smserrordiv').html(data);
                        Smstoggeldata('#smserrordiv');
                        Smstoggeldata('#confirmationdiv');
                    }
                },
                error: function() {
                    Smstoggeldata('#waitsmsdiv');
                    Smstoggeldata('#confirmationdiv');
                    $('#smserrordiv').html('<?php echo __('Something Went Wrong, Try Again Later.') ?>');
                    Smstoggeldata('#smserrordiv');
                }
            });
        });

        $("#mobilenumber").intlTelInput({
            initialCountry: "<?php echo $block->getDefaultContry();?>",
            utilsScript: "<?php echo $this->getViewFileUrl('Magecomp_Sms::countryflag/js/utils.js'); ?>"
        });
    });
</script>




<!-- if one value not enter no go to next field -->
<script>
    function getCodeBoxElement(index) {
            return document.getElementById('codeBox' + index);
          }
          function onKeyUpEvent(index, event) {
            const eventCode = event.which || event.keyCode;
            if (getCodeBoxElement(index).value.length === 1) {
              if (index !== 4) {
                getCodeBoxElement(index+ 1).focus();
              } else {
                getCodeBoxElement(index).blur();
                // Submit code
                console.log('submit code');
              }
            }
            if (eventCode === 8 && index !== 1) {
              getCodeBoxElement(index - 1).focus();
            }
          }
          function onFocusEvent(index) {
            for (item = 1; item < index; item++) {
              const currentElement = getCodeBoxElement(item);
              if (!currentElement.value) {
                  currentElement.focus();
                  break;
              }
            }
          }
</script>
<!-- if one value not enter no go to next field end-->