<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php if ($block->getWishlist()->getItemsCount() && $block->getWishlist()->isSalable()): ?>
	<div class="col-sm-4 col-xs-12 margin-top15">
		<button type="button" data-role="all-tocart" title="<?php /* @escapeNotVerified */ echo __('أضف الكل إلى السلة') ?>" class="action tocart btn-primary btn btn-full">
			<span><?php /* @escapeNotVerified */ echo __('أضف الكل إلى السلة') ?></span>
		</button>
	</div>
<?php endif;?>
