<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>

<?php if ($block->getWishlist()->getItemsCount()): ?>
<div class="col-sm-4 col-xs-12 margin-top15">
    <button type="submit" name="do" title="<?php /* @escapeNotVerified */ echo __('تحديث قائمة الرغبات') ?>" class="action update btn btn-default btn-full">
        <span><?php /* @escapeNotVerified */ echo __('تحديث قائمة الرغبات') ?></span>
    </button>
	</div>
<?php endif;?>
